////
/// @group Motion  
////

/// Animation 
/// ----------  
///     Define animation from parameters  
/// @name animation   
/// @param {string}   $name       [null] - animation name  
/// @param {number}   $duration   [null] - animation duration  
/// @param {variable} $transition [null] - transition timing function   
/// @param {number}   $iteration  [null] - animation iteration count  
/// @link https://www.sassmeister.com/gist/8458511  
///  
/// @example scss  
///    .element {  
///       @include animation( block-1-animate, 300ms, ease-out, infinite );   
///    }  
///    
/// @example scss 
///    .element {  
///      width: 100px;  
///      height: 100px;  
///      background: black;  
///      @include animation('slide-down 5s 3');  
///    }  

@mixin animation( 
    $name,  
    $duration, 
    $transition, 
    $iteration
  ){
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $transition;
  animation-iteration-count: $iteration;
}


// --------------------------- 
/// __Browser Prefixed Animation__  
///  - Add vendor prefixes to keyframes  
///  - Define animation from parameters with browser prefixes  
/// @name animation_prefixed  
/// @param {string}   $animation  [null] - animation name  
/// @param {number}   $duration   [null] - animation duration  
/// @param {function} $transition [null] - transition timing function   
/// @param {number}   $iteration  [null] - animation iteration count  
/// @see {mixin} animation  

@mixin animation_prefixed ($animation, $duration, $transition, $iteration) {
  -webkit-animation-name: $animation;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $transition;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-name: $animation;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $transition;
  -moz-animation-iteration-count: $iteration;
  -o-animation-name: $animation;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $transition;
  -o-animation-iteration-count: $iteration;
  animation-name: $animation;
  animation-duration: $duration;
  animation-timing-function: $transition;
  animation-iteration-count: $iteration;
}



// Keyframes  
// ---------- 
/// Define animation keyframes without browser prefixes  
/// 
/// @param {string} $animation_name - the name of an animation  
/// 
/// @example scss  
///   @include keyframes(slide-down) {  
///     0% { opacity: 1; }  
///     90% { opacity: 0; }  
///   }  
@mixin keyframes($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}


// Browser Prefixed Keyframes 
// -------------------------- 
/// Define animation keyframes with browser prefixes  
/// 
/// @param {string} $animation_name - the name of an animation  
/// @see {mixin} keyframes  
@mixin keyframes_prefixed($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }
  @-moz-keyframes #{$animation_name} {
    @content;
  }
  @keyframes #{$animation_name} {
    @content;
  }
}
