////
///  @group Motion
////

/// -------------------------------------
/// Material Design Motion and Animation
/// MATERIAL DESIGN STANDARD GUIDLINES FOR MOVEMENT AND MOTION DURATION
/// Mixin transitions with Material design standard parameters
/// @name $material_transition
/// @param {string} $prop [property] The name of the css property
/// @param {variable} $timing [$material_duration.mobile] timing function
/// @param {variable} $trans [$material_transition.standard] transtion function
/// @param {number} $delay [0ms] description
///
@mixin material_transition(
  $prop,
  $timing: _material_duration( mobile ),
  $trans: _material_transition( standard ),
  $delay: 0ms ) {
  transition: $prop _material_duration($timing) _material_transition( $trans ) $delay;
}




/// Material Design Timing
/// - mapping of material design standard durations
/// - Material in motion is responsive and natural.
/// - Rather than using a single duration for all animations,
/// - adjust each duration to accommodate the distance travelled, an element's velocity, and surface changes.
/// *Mobile*
/// Transitions on mobile typically occur over 300ms, within this margin of variance:
/// Large, complex, full-screen transitions may have longer durations, occurring over 375ms
/// - Elements entering the screen occur over 225ms
/// - Elements leaving the screen occur over 195ms
/// - Transitions that exceed 400ms may feel too slow.
/// - Objects leaving the screen may have shorter durations, as they require less attention.
/// Desktop
/// Desktop animations should be faster and simpler than their mobile counterparts.
/// These animations should last 150ms to 200ms.
/// Because desktop transitions may be less noticeable,
/// they should be immediately responsive and faster than their mobile counterparts.
/// @name $material_duration
/// @link https://material.io/guidelines/motion/duration-easing.html
/// @see $_material_duration
/// @see transition
@function _material_duration( $name ) {
  $_material_duration: (
    mobile       : 300ms,
    tablet       : 390ms,
    desktop      : 200ms,
    mobile_exit  : 195ms,
    mobile_enter : 225ms,
  );
  @return map-get($_material_duration, $name);
}



///  ------------------
///  Material Deisgn Movement
///  - Easing curves
///  - Standard curve
///  - Deceleration curve
///  - Acceleration curve
///  - Sharp curve
///  Relative movement
///  Entering or exiting elements that move other on-screen elements do so
///  along a smooth easing curve, so that they remain minimally disruptive
///  and avoid eye-catching, dramatic movement.
///  The standard curve is used for moving elements both in and out of the
///  bounds of the screen. This curve has a slightly longer duration compared
///  to independent elements.
///  ---
///  Entering the screen
///  Elements entering the screen use the deceleration curve for a speedy entrance,
///  indicating that they had been travelling at peak velocity.
///  ---
///  Permanently leaving the screen
///  Elements permanently leaving the screen use the acceleration curve
///  to speed off-screen over a slightly shorter duration,
///  as they will not be returning and require less user focus.
///  ---
///  Temporarily leaving the screen
///  Elements temporarily leaving the screen should use the sharp curve,
///  as they may return to the screen at any time and should appear nearby
///  and within reach.
///  ---
///  @property standard [cubic-bezier(0.4, 0.0, 0.2, 1)] -  Material Standard ease-in-out curve for exits and general use
///  @property decel [cubic-bezier(0.0, 0.0, 0.2, 1)] - (Entering) Deceleration curve
///  @property accel [cubic-bezier(0.4, 0.0, 1, 1)] - (Exiting) Acceleration curve
///  @property sharp_exit [cubic-bezier(0.4, 0.0, 0.6, 1)] - (Termporary Exit) Sharp Acceleration
///  @link https://material.io/guidelines/motion/movement.html
///  @link https://material.io/guidelines/motion/transforming-material.html
///  @see $_material_transition
///  @see transition
@function _material_transition( $name ){
$_material_transition:(
       accel: cubic-bezier(0.4, 0.0, 1.0, 1),
       decel: cubic-bezier(0.0, 0.0, 0.2, 1),
    standard: cubic-bezier(0.4, 0.0, 0.2, 1),
  sharp_exit: cubic-bezier(0.4, 0.0, 0.6, 1)
  );
  @return map-get( $_material_transition, $name );
}
