////
///  @group Motion
////

///  MOTION AND ANIATION NOTES SECTION
///  ----
///
/// > USING CHROMES DEVTOOL TO DEBUG ANIMATION AND RENDERING PERFORMANCE
/// - [developers.google.com/web/fundamentals](https://developers.google.com/web/fundamentals/performance/rendering/stick-to-compositor-only-properties-and-manage-layer-count)
/// - [developers.google  performance rendering](https://developers.google.com/web/updates/2016/09/re-rastering-composite)
/// - [developers.google  performance paint-complexity-and-reduce-paint-areas ](https://developers.google.com/web/fundamentals/performance/rendering/implify-paint-complexity-and-reduce-paint-areas)
///
/// > WHAT PROPERTIES TRIGGER LAYOUT, PAINT, AND COMPOSITOR PER ENGINE
/// - [csstriggers](https://csstriggers.com)
///
/// > USING WILL-CHANGE PROPERTY TO OPTIMIZE RENDERING
/// - [css-tricks will-change ](https://css-tricks.com/almanac/properties/w/will-change)
///
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/will-change - CSS will-change
/// @name motion_and_animation_notes
// $motion_and_animation_notes: #fff;

@import 'variables';

@import 'functions';
@import 'mixins';

@import 'animations';
