

%card {
  @extend %z_depth_2;
  display: block;
  width: auto;
  margin: .5em auto;
}

// SIMPLE CONTENT CARD
.card__content_card {
  @extend %card;
  background: $white;
  padding: 1em;
}

.card__title-card {
  @extend %card;
  background: $fib_green;
  color: $white;
  font-weight: 400;
  position: relative;
  font-size: 1.44em;
  line-height: 2;
  padding: 0em;
  margin: 0 auto 1em auto;
  text-shadow: none;

  h2 {
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
    line-height: inherit !important;
    text-shadow: inherit !important;
  }
}

.card {
  display: block;
  width: auto;
  margin: .5em auto;

  &.card_style--flat {
    color: $white;

    .card__title {
      background: transparent;
      position: relative;
      font-size: 1.8em;
      line-height: 1.3;
      padding: 0em;
      letter-spacing: -1px;
      margin: 0 auto 1em auto;
      text-shadow: none;
    }

    .card__content {
      color: inherit;
      font-weight: normal;
      line-height: 1.3;
      font-size: .9em;
    }

    .card__footer {}

    h2, p  {
      font-size: inherit !important;
      font-weight: inherit !important;
      color: inherit !important;
      line-height: inherit !important;
      text-shadow: inherit !important;
    }

    .green-btn {
      @extend %z_depth_2;
    }
  }
}
