---
<div class="card__title-card">
  <h2>Basic Checklist Card</h2>
</div>
---

<div class="highlight-block-wrap">
  <div class="highlight-block highlight_block--themed themed_green">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Money Market Account</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--iras icon_size--7">
          <span class="icon-title">Money Market Icon</span>
        </i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $100</li>
        <li><span class="check">✓</span>Reimbursement of $10 on ATM fees</li>
        <li><span class="check">✓</span>Higher interest rates with higher balances</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-mma" class="green-btn thin" href="#" target="">Open</a>
      <a class="green-btn blue thin" href="">Learn More</a>
    </div>
  </div>

  <div class="highlight-block highlight_block--themed themed-_blue">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Free Savings</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--free icon_size--7">
          <span class="icon-title">Free Savings Icon</span>
        </i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $25</li>
        <li><span class="check">✓</span>No maintenance fees</li>
        <li><span class="check">✓</span>No minimum balance required</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-free" class="green-btn thin" href="#">Open</a>
      <a class="green-btn blue thin" href="" target="">Learn More</a>
    </div>
  </div>
</div>



---
<div class="card__title-card">
  <h2>Accented Vertical Cards</h2>
</div>
---
<div class="highlight-block-wrap">
  <div class="highlight-block highlight_block--accented accent_green">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Money Market Account</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--iras icon_size--7"><span class="icon-title">Money Market Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $100</li>
        <li><span class="check">✓</span>Reimbursement of $10 on ATM fees</li>
        <li><span class="check">✓</span>Higher interest rates with higher balances</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-mma" class="green-btn thin" href="#" target="">Open</a>
      <a class="green-btn blue thin" href="">Learn More</a>
    </div>
  </div>

  <div class="highlight-block highlight_block--accented">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Free Savings</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--free icon_size--7"><span class="icon-title">Free Savings Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $25</li>
        <li><span class="check">✓</span>No maintenance fees</li>
        <li><span class="check">✓</span>No minimum balance required</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-free" class="green-btn thin" href="#">Open</a>
      <a class="green-btn blue thin" href="" target="">Learn More</a>
    </div>
  </div>
</div>
----

<div class="card__title-card">
   <h2>Accented Horizontal Card</h2>
</div>

<div class="highlight-block-wrap">
<div class= "highlight_block--horizontal highlight-block highlight_block--accented accent_green">
  <div class="highlight-block-header ">
  <h2 class="highlight-block-title">Money Market Account</h2>
</div>
<div class="highlight-block-content">
   <div class="img-wrap">
      <i class="green-icon iras icon_size--7"><span class="icon-title">Money Market Icon</span></i>
   </div>
    <ul>
     	<li><span class="check">✓</span>Open an account with just $100</li>
     	<li><span class="check">✓</span>Reimbursement of $10 on ATM fees</li>
     	<li><span class="check">✓</span>Higher interest rates with higher balances</li>
    </ul>
  </div>
  <div class="highlight-block-footer highlight-actions-wrap flex">
    <a id="saving-mma" class="green-btn thin" href="#" target="">Open</a>
    <a class="green-btn blue thin" href="/personal-banking-overview/money-market-accounts/">Learn More</a>
  </div>
</div>

<div class="highlight_block--horizontal highlight-block highlight_block--accented">
  <div class="highlight-block-header">
    <h2 class="highlight-block-title">Free Savings</h2>
  </div>
  <div class="highlight-block-content">
    <div class="img-wrap">
        <i class="green-icon free icon_size--7"><span class="icon-title">Free Savings Icon</span></i>
    </div>
    <ul>
     	<li><span class="check">✓</span>Open an account with just $25</li>
     	<li><span class="check">✓</span>No maintenance fees</li>
     	<li><span class="check">✓</span>No minimum balance required</li>
    </ul>
  </div>
  <div class="highlight-block-footer highlight-actions-wrap flex">
    <a id="saving-free" class="green-btn thin" href="#">Open</a>
    <a class="green-btn blue thin" href="/personal-banking-overview/free-savings-accounts/" target="">Learn More</a>
  </div>
</div>
</div>





---
<div class="card__title-card">
  <h2>Color Themed Horizontal Card -- No Icon</h2>
</div>
---
<div class="highlight-block-wrap">
  <div class="highlight_block--horizontal highlight-block highlight_block--color-themed color_theme--blue hide_icon">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Money Market Account</h2>
    </div>
    <div class="highlight-block-content">
      <ul>
        <li><span class="check">✓</span>Open an account with just $100</li>
        <li><span class="check">✓</span>Reimbursement of $10 on ATM fees</li>
        <li><span class="check">✓</span>Higher interest rates with higher balances</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-mma" class="green-btn thin" href="#" target="">Open</a>
      <a class="green-btn blue thin" href="">Learn More</a>
    </div>
  </div>

  <div class="highlight_block--horizontal highlight-block highlight_block--color-themed color_theme--green hide_icon">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Free Savings</h2>
    </div>
    <div class="highlight-block-content">
      <ul>
        <li><span class="check">✓</span>Open an account with just $25</li>
        <li><span class="check">✓</span>No maintenance fees</li>
        <li><span class="check">✓</span>No minimum balance required</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-free" class="green-btn thin" href="#">Open</a>
      <a class="green-btn blue thin" href="" target="">Learn More</a>
    </div>
  </div>
</div>

---
<div class="card__title-card">
  <h2>More Color Themes -  Vertical Card</h2>
</div>
---
<div class="highlight-block-wrap">
  <div class="highlight-block highlight_block--color-themed color_theme--blue">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Money Market Account</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--iras icon_size--7"><span class="icon-title">Money Market Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $100</li>
        <li><span class="check">✓</span>Reimbursement of $10 on ATM fees</li>
        <li><span class="check">✓</span>Higher interest rates with higher balances</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-mma" class="green-btn thin" href="#" target="">Open</a>
      <a class="green-btn blue thin" href="">Learn More</a>
    </div>
  </div>

  <div class="highlight-block highlight_block--color-themed color_theme--greener">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Free Savings</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--free icon_size--7"><span class="icon-title">Money Market Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $25</li>
        <li><span class="check">✓</span>No maintenance fees</li>
        <li><span class="check">✓</span>No minimum balance required</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-free" class="green-btn thin" href="#">Open</a>
      <a class="green-btn blue thin" href="" target="">Learn More</a>
    </div>
  </div>
</div>



---
<div class="card__title-card">
  <h2>Flat Design Card</h2>
</div>
---
<div class="highlight-block-wrap">
  <div class="highlight_block--flat-design highlight-block">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Money Market Account</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--iras icon_size--7"><span class="icon-title">Money Market Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $100</li>
        <li><span class="check">✓</span>Reimbursement of $10 on ATM fees</li>
        <li><span class="check">✓</span>Higher interest rates with higher balances</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-mma" class="green-btn thin" href="#" target="">Open</a>
      <a class="green-btn blue thin" href="">Learn More</a>
    </div>
  </div>

  <div class="highlight-block highlight_block--flat-design">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Free Savings</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--free icon_size--7"><span class="icon-title">Free Savings Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $25</li>
        <li><span class="check">✓</span>No maintenance fees</li>
        <li><span class="check">✓</span>No minimum balance required</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-free" class="green-btn thin" href="#">Open</a>
      <a class="green-btn blue thin" href="" target="">Learn More</a>
    </div>
  </div>
</div>


---
<div class="card__title-card">
  <h2>Flat Design & Framed Style</h2>
</div>
---
<div class="highlight-block-wrap">
  <div class="highlight_block--flat-design highlight-block highlight_block--wireframe">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Money Market Account</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--iras icon_size--7"><span class="icon-title">Money Market Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $100</li>
        <li><span class="check">✓</span>Reimbursement of $10 on ATM fees</li>
        <li><span class="check">✓</span>Higher interest rates with higher balances</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-mma" class="green-btn thin" href="#" target="">Open</a>
      <a class="green-btn blue thin" href="">Learn More</a>
    </div>
  </div>


  <div class="highlight-block highlight_block--flat-design highlight_block--wireframe-outer">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Free Savings</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--free icon_size--7"><span class="icon-title">Free Savings Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $25</li>
        <li><span class="check">✓</span>No maintenance fees</li>
        <li><span class="check">✓</span>No minimum balance required</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-free" class="green-btn thin" href="#">Open</a>
      <a class="green-btn blue thin" href="" target="">Learn More</a>
    </div>
  </div>
</div>



---
<div class="card__title-card">
  <h2>Advanced: Flat Design - Frame Style - Dark Theme</h2>
</div>
---
<div class="highlight-block-wrap">
  <div class="highlight_block--flat-design highlight-block highlight_block--wireframe">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Money Market Account</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--iras icon_size--7"><span class="icon-title">Money Market Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $100</li>
        <li><span class="check">✓</span>Reimbursement of $10 on ATM fees</li>
        <li><span class="check">✓</span>Higher interest rates with higher balances</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-mma" class="green-btn thin" href="#" target="">Open</a>
      <a class="green-btn blue thin" href="">Learn More</a>
    </div>
  </div>

  <div class="highlight-block highlight_block--flat-design highlight_block--wireframe-outer">
    <div class="highlight-block-header">
      <h2 class="highlight-block-title">Free Savings</h2>
    </div>
    <div class="highlight-block-content">
      <div class="img-wrap">
        <i class="green-icon icon--free icon_size--7"><span class="icon-title">Free Savings Icon</span></i>
      </div>
      <ul>
        <li><span class="check">✓</span>Open an account with just $25</li>
        <li><span class="check">✓</span>No maintenance fees</li>
        <li><span class="check">✓</span>No minimum balance required</li>
      </ul>
    </div>
    <div class="highlight-block-footer highlight-actions-wrap flex">
      <a id="saving-free" class="green-btn thin" href="#">Open</a>
      <a class="green-btn blue thin" href="" target="">Learn More</a>
    </div>
  </div>
</div>
