//  TODO REMOVE JQUERY/JAVASCRIPT FUNCTION DEFINITIONS FROM TEPLATE FILES
//  MOVE TO MAIN FUNCTIONS

// STANDARD TABS
.gen-tabs {

  .tab-panels { padding: 15px 0; }

  // ACCORDION STYLE
  &.accor {
    .tabs { display: none; }

    .acctab {
      display: block;
      margin-bottom: 1px;
      padding: 0.5em;
      background-color: #f5f5f5;
      color: #333333;
      font-size: 1.4em;

      &:hover,
      &:focus,
      &.current {
        background-color: #e5e5e5;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .tab-panels {
      padding-top: 0;

      .panel {
        display: none;
        margin: 0;
        padding: 1em;
        font-size: 0.8em;
      }
    }
  }

  &.accor .tab-panels .panel {
    border-bottom: 1px solid #e5e5e5;
  }
}


/**
 *  *tab-container
 *  ⋅⋅*tab-menu (ul)
 *  ⋅⋅⋅⋅* (li) _clickable target_ [default, active]
 *  ⋅⋅*tab-panels [ default, active ]
 *  ⋅⋅⋅⋅*(label) .tab-panel-heading @for
 *  ⋅⋅⋅⋅*(div) .tab-panel-content @id
 *
 */

// TABS, RELATED PRODUUCTS, REVIEWS
.product-content-bottom {
   .box-tabs{
     .tab-container {
       &#product-tabs,
       &.gen-tabs {
         ul.tab-menu {
           li {}
         }
         .tab-panels {
           label {}
           .tab-panel-content{
             h2 {}
             &.active{}
             p {
               span { }
             ul.bullet-1 {
               li { }
             }
           }
         }
       }
     }
   }
  }
}




.tab-menu {
  @extend %flex;
  margin: 0;
  margin-left: 0;
  align-items: stretch;

  li {
    @extend %no-select;
    background: $white_15;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0.8em;
    text-align: center;
    flex-basis: auto;
  }

  a {
    display: block;
  }

  .active {
    background: $accent_orange;
  }
}



label.tab-panel-heading {
  display: none;
}


@include max_width($width_tablet_device_lg) {

  .tab-menu{ display: none; }

  .tab-panels {
    label.tab-panel-heading {
      font-size: 1.7em;
      display: block;
      text-align: left;
      padding: .4em 1em;
      margin: .4em 0;
      background: $white_15;
    }

    .tab-panel-content {
      .active { }

    }
  }
}



.tab-container {
  border: 1px solid $white_10;
  box-shadow: 1px 1px 5px 0 $white_15;

  .tab-panels {
    font-size: 13px;

    .tab-panel-content {
      position: relative;
      display: none;
      padding: 1em;

      &.active {
        display: block;
      }
    }
  }
}
