// A MULTI PANE SLIDER

// SLIDER WITH HIGHLIGHT CATEGORIES AND PRODUCTS
#category-product-slider {
  position: relative;
  overflow-x: hidden;

  @include max_width( _size(tablet_sm)) {
    padding: 5em 0 0 0;
  }

  .slide-container {
    position: relative;
    left: 0;
    width: 100%;
    // transition: 1s ease-in-out;
    transform-origin: center;
    padding: 3rem 0;
  }


  // CONTAINER HANDLES MOVING LEFT AND RIGHT
  .slider-block {
    position: absolute;
    left: 100%;
    display: block;
    visibility: hidden;
    width: 100%;
    transition: left 1100ms cubic-bezier(0.55, 0.74, 0.66, 1.01) 100ms, opacity 1000ms linear, visibility 1000ms linear;

    &.active {
      display: block;
      visibility: visible;
    }

    &.slide-left { left: -100%; }
    &.slide-right { left: 100%; }
    &.slide-center { left: 0; }

    .row {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 250px;
    }

    .slider-image {
      position: relative;
      min-width: 200px;
      max-width: 350px;
      flex-basis: 30%;
      flex-basis: 30vw;
      margin: 1.5em 0 0 1.5em;
      @include max_width (  _size(tablet_sm) ) { }
      img {
        box-shadow: 4px 1px 10px 0px rgba(66, 66, 66, 0.78);
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: -1.5em -1.5em 0 $accent_orange;
        display: block;
      }
    }

    .slider-content {
      margin-left: 4em;
      flex-basis: 70%;

      h2 {
        position: relative;
        margin-top: -0.5em;
        color: #B9262F;
        font-weight: bold;
        font-size: 1.2em;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100px;
          border-bottom: 1px solid $accent_red;
          content: '';
        }
      }

      h3 {
        padding: 0.5em 0;
        font-weight: bold;
        font-size: 1.8em;
      }

      p {
        padding: 0 0 1rem 0;
        line-height: 2;
      }

      // .secure-status {
      //   margin: 2em 0;
      // }
    }
  }

  // THE SELECTOR BAR FOR THE SLIDER
  #slider-selector {
    padding-bottom: 2rem;
    margin-top: 2rem;
    width: 100%;
    border-top: 5px solid $accent_red;
    padding: 0rem;
    box-shadow: 0 -6px 13px 0 rgba(146, 146, 146, 0.3);

    .row { max-width: 1600px; }

    ul {
      position: relative;
      display: flex;
      justify-content: space-around;

      // SLIDER SELECTOR`S INDICATOR
      // #solutions-slider-indicator
      i {
        position: absolute;
        margin: 0;
        padding: 6px 10px;
        min-width: 50px;
        height: 0;
        background-position: center -16px;
        background-size: 40px;
        cursor: default;
        transform: translateZ(10px);
        transition: transform 100ms cubic-bezier(0.4, 0, 0.4, 0.96),  left 500ms ease-in-out 40ms;
      }

      &:hover i {
        transition: left 400ms ease-in-out;
      }

      li {
        position: relative;
        display: inline-block;
        flex: 1 1 100%;
      }
    }

    .slider-nav-btn {
      margin: 10px;
      padding: 5px;
      min-width: 50px;
      text-align: center;
      font-size: 0.9em;
      line-height: 1em;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 400ms ease-in-out;

      &:hover,
      &.active {
        opacity: 1;
      }

      &::before {
        position: relative;
        display: block;
        margin: 0 auto 0.8em;
        width: 60px;
        height: 60px;
        background-image: $ic_padlock;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
      }

      &[data-target="slider_ts-storage"]:before { background-image: $ic_padlock; }
      &[data-target="slider_atf-explosives"]:before { background-image: $ic_bomb; }
      &[data-target="slider_dea-controlled"]:before { background-image: $ic_drugs; }
      &[data-target="slider_custom-design"]:before { background-image: $ic_design; }
      &[data-target="slider_vaults-doors"]:before { background-image: $ic_safebox; }
      &[data-target="slider_consulting"]:before { background-image: $ic_clipboard; }
      &[data-target="slider_osha-hazmat"]:before { background-image: $ic_radiation; }
    }
  }

}
