// A MULTI PANE SLIDER


// SLIDER WITH HIGHLIGHT CATEGORIES AND PRODUCTS
#category-product-slider {
  padding: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .slide-container {
    position: relative;
    left: 0;
    width: 100%;
    min-height: 370px;
    height: auto;
    max-height: 50vh;
    padding: 3em 0;
    display: flex;
    align-items: flex-start;
  }

  .slider-block {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;

    &.active {
      display: block;
      .slider-image {
        img {
          box-shadow: 4px 1px 10px 0px rgba(66, 66, 66, 0.78);
        }
      }
    }

    .row {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 250px;
    }

    .slider-image {
      position: relative;
      min-width: 200px;
      max-width: 350px;
      flex-basis: 30%;
      flex-basis: 30vw;
      margin: 1.5em 0 0 1.5em;

      img {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        box-shadow: -1.5em -1.5em 0 $accent_orange;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .slider-content {
      margin-left: 4em;
      flex-basis: 70%;
      transform: translate3d(0,0,0);
      -webkit-font-smoothing: antialiased;

      h2 {
        position: relative;
        margin-top: -0.5em;
        color: #B9262F;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100px;
          border-bottom: 1px solid $accent_red;
          content: '';
        }
      }

      h3 {
        padding: 0.5em 0;
      }

      p {
        padding: 0 0 1em 0;
      }
    }
  }
}

// THE SELECTOR BAR FOR THE SLIDER
#slider-selector {
  padding-bottom: 2em;
  width: 100%;
  border-top: 5px solid $accent_red;
  padding: 0;
  box-shadow: 0 -6px 13px 0 rgba(146, 146, 146, 0.3);
  position: relative;
  z-index: 2;

  .row { max-width: 1600px; }

  ul {
    position: relative;
    display: flex;
    justify-content: space-around;

    // SLIDER SELECTOR`S INDICATOR
    // #solutions-slider-indicator
    i {
      position: absolute;
      margin: 0;
      padding: 6px 10px;
      min-width: 50px;
      height: 0;
      background-position: center -16px;
      background-size: 40px;
      cursor: default;
    }

    li {
      position: relative;
      display: inline-block;
      flex: 1 1 100%;
    }
  }

  .slider-nav-btn {
    margin: 10px;
    padding: 5px;
    min-width: 50px;
    text-align: center;
    cursor: pointer;

    &::before {
      position: relative;
      display: block;
      margin: 0 auto 0.8em;
      width: 60px;
      height: 60px;
      background-image: $ic_padlock;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
    }

    &[data-target="slider_ts-storage"]:before { background-image: $ic_padlock; }
    &[data-target="slider_atf-explosives"]:before { background-image: $ic_bomb; }
    &[data-target="slider_dea-controlled"]:before { background-image: $ic_drugs; }
    &[data-target="slider_custom-design"]:before { background-image: $ic_design; }
    &[data-target="slider_vaults-doors"]:before { background-image: $ic_safebox; }
    &[data-target="slider_consulting"]:before { background-image: $ic_clipboard; }
    &[data-target="slider_osha-hazmat"]:before { background-image: $ic_radiation; }
  }
}


/****************************************
 *  SLIDER TRANSITIONS AND ANIMATIONS   *
 ****************************************/
#slider-selector {
  i { will-change: transform; }

  .slider-nav-btn {
    opacity: 0.5;
    transition: opacity 400ms ease-in-out;

    &:hover,
    &.active { opacity: 1; }

  }
}

$indicator_t: 400;
$indicator_d: 300;
#solutions-slider-indicator {
  transform: translateZ(1px);

  // INDICATOR RESET POSITION
  @include transition(
  _trans('left'  , $indicator_t , $material_standard , $indicator_d / 2)
  )

  // INDICATOR MOVE TO CURRENT
  &:hover i {
    @include transition(
    _trans('left'  , $indicator_t * 1.15 , $material_decel  , $indicator_d)
    )
  }
}

$slide_t: 1000;
$slide_d: 0;
#category-product-slider {
  .slider-block {
    opacity: 0.0;
    transform-origin: bottom center;
    transform: translateX(100%) translateY(30%) translateZ(0) scale(0.8);
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    // ALWAYS EXIT
    &.slide-left { transform: translateX(-100%) translateY(30%) translateZ(0) scale(0.8); }
    &.slide-right { transform: translateX(100%) translateY(10%) translateZ(0) scale(0.8); }

    // ALWAYS ENTER
    &.slide-center { transform: translateX(0) translateY(0) translateZ(0) scale(1); }

    // INCOMING TRANSITION
    &.entering {
      will-change: transform, opacity;
      @include transition(
      _trans('transform'  , $slide_t * 1.1 , $material_standard , $slide_d),
      _trans('visibility' , 0 , 'linear' , 0),
      _trans('opacity'    , $slide_t * 1.0 , $material_standard , 50)
      )
    }

    // EXITING TRANSITION
    &.exiting {
      will-change: transform, opacity;
      @include transition(
        _trans('transform'  , $slide_t , $material_standard , 0),
        _trans('visibility' , $slide_t + $slide_d , 'linear' , 0),
        _trans('opacity'    , $slide_t * 1.1 , $material_standard , 50)
      )
    }

    $trans_multiplier: 1.5;
    @include max_width( 850px ) {
      opacity: 1;
      transform-origin: center;
      transform: translateX(120%) translateZ(0);
      &.slide-left  { transform: translateX(-120%) translateZ(0) scale(1); }
      &.slide-right { transform: translateX(120%) translateZ(0) scale(1); }
      &.slide-center { transform: translateX(0) translateZ(0) scale(1); }
      &.entering {
        @include transition(
        _trans('transform'  , $slide_t * $trans_multiplier , $material_standard , $slide_d),
        _trans('visibility' , 0 , 'linear' , 0)
        )
      }

      // EXITING TRANSITION
      &.exiting {
        @include transition(
          _trans('transform'  , $slide_t * $trans_multiplier , $material_standard , 0),
          _trans('visibility' , ($slide_t + $slide_d ) * $trans_multiplier, 'linear' , 0)
        )
      }
    }
  }
}

/****************************************
 *  SLIDER FONT SIZES AND TYPOGRAPHY    *
 ****************************************/
#category-product-slider {
  @include max_width(1050px) { font-size: 14px; }

  .slider-block {
    .slider-content {
      h2 {
        font-weight: bold;
        font-size: 1.2em;
      }

      h3 {
        font-weight: bold;
        font-size: 1.8em;
      }

      p { line-height: 2; }
    }
  }
}

#slider-selector {
  .slider-nav-btn {
    font-size: 0.9em;
    line-height: 1em;
  }
}

/****************************************
 *  SLIDER RESPONSIVE VIEW              *
 ****************************************/
/*  TABLET VIEW */
@include max_width( $width_tablet_device_lg ) {
  #category-product-slider{
    .slide-container {
      border-bottom: 2px solid $accent_red;
      border-top: 2px solid $accent_red;
      border-right: 1px solid $white_30;
      border-left: 1px solid $white_30;
      box-shadow: inset 0px 1px 23px 9px rgba(67, 67, 67, 0.67);
      justify-content: flex-end;
      padding: 0;


      // DO NO GIVE POSITION
      .slider-block {
       height: 100%;

          .row {
            left: -20%;
            width: 120%;
            flex-basis: 100%;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: flex-end;
            height: 100%;
            padding: 0;
            justify-content: space-between;
            overflow: visible;
          }


          // SLIDER IMAGE
          .slider-image {
            width: auto;
            box-shadow: none;
            margin: 0;
            height: 100%;
            max-height: 100%;
            width: 30%;
            max-width: none;
            display: block;
            min-width: auto;
            position: relative;
            left: 0;
            top: 0;
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: auto;

            &::before {
              content: "";
              box-shadow: none;
              display: none !important;
            }

            // RESPONSIVE ASPECT RATIO
            &::after {
              content: "";
              width: 100%;
              display: block;
              position: absolute;
              background-image: url('');
              background-color: $black_25;
              background-size: cover;
              right: 0;
              height: 100%;
              left: 0;
            }

            img {
              display: none;
              width: auto;
              left: 0%;
              box-shadow: none;
              height: 100%;
            }
          }


        // SLIDER CONTENT
        .slider-content {
          flex-basis: 64vw;
          flex-grow: 0;
          flex-shrink: 0;
          margin: 0 2% 0 2%;
          right: 0;
          height: 100%;
          right: 0;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;

            h2 {
              &::after {
                content: '';
                position: relative;
                width: 100px;
                display: block;
                margin: auto;
              }
            }
          }
        }
      }
    }

  #slider-selector {
    background: $theme_background_color;
    margin-top: 0;
  }

  // END SLIDER BLOCK
#category-product-slider .slide-container  #slider_ts-storage.slider-block .slider-image::after { background-image: $slider_ts-storage; }
#category-product-slider .slide-container  #slider_dea-controlled.slider-block .slider-image::after { background-image: $slider_dea-controlled; }
#category-product-slider .slide-container  #slider_atf-explosives.slider-block .slider-image::after { background-image: $slider_atf-explosives; }
#category-product-slider .slide-container  #slider_osha-hazmat.slider-block .slider-image::after { background-image: $slider_osha-hazmat; }
#category-product-slider .slide-container  #slider_custom-design.slider-block .slider-image::after { background-image: $slider_custom-design; }
#category-product-slider .slide-container  #slider_consulting.slider-block .slider-image::after { background-image:  $slider_consulting ; }
#category-product-slider .slide-container  #slider_vaults-doors.slider-block .slider-image::after { background-image: $slider_vaults-doors; }
}
