/* Payment methods */
.payment-methods {
    ul {
        font-size: 0;
        text-align: center;

        li {
            display: inline-block;
            font-size: 1rem;
            margin: 0 10px 5px 0;

            svg {
                width: 70px;
                height: 37px; // setting to auto gives strange things in IE9
            }
        }
    }
}
