
%shadow_text {
  text-shadow: 0 0 1px rgba(0,0,0,.6);
}


p {
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
}


// > 490px
@include max_width( $theme_mobile_xl ) {

  p {
    font-size: 1.1em;
  }

  .lp-section-content-wrap {

      p {
         text-align: left;
       }

      .align-center {
        text-align: center;
      }
  }
}

// OVERRIDE DEFAULT THEME
.green-btn,
h1,h2,h3,h4,h5,h6 { float: none; }

h2 { font-size: 1.4em; line-height: 1.4em; }

@include min_width($mobile_size) {
  // h1 { }
  h2 { font-size: 1.6em; }
  h3 { }
  h4 { }
  h5 { }
  h6 { }
}


@include min_width($tablet_size) {
  // h1 { }
  h2 { font-size: 1.8em; }
  h3 { }
  h4 { }
  h5 { }
  h6 { }
}


@include min_width( $width_laptop_sm ) {
  h1 { }
  h2 { font-size: 2.2em; }
  h3 { }
  h4 { }
  h5 { }
  h6 { }
}

h3 { margin-bottom: 1.5rem; }
