#header {
  #utility {
    display: none;
    @include min_width(  $theme_tablet_md ) { display: block; }
  }
}

#navigation {
  .mobile-phone {
    @include range_width( 1px, 280px ) { display: none }
  }
}

#breadcrumbs {
  display: none;
  @include min_width( $width_tablet ) { display: block; }
}

#breadcrumbs,
#header { float: none; }

.disable_header_utility #header #utility { display: none !important; }
.disable_header_search #header .search { display: none !important; }
.disable_header_breadcrumbs #breadcrumbs { display: none !important; }
.disable_footer_talk_bar #footer #talk { display: none !important; }
.minimize_page_footer #footer {  }

.disable_header_nav #header {
  margin-bottom: auto;
  #navigation { display: none !important; }
}
