@import "theme_color_definitions";

// THEME SPECIFIC COLOR CLASSES
.color {
  &--theme-dark-blue { color: $fib_blue_dark !important; }
  &--theme-bright-blue { color: $fib_blue_bright !important; }
  &--theme-light-blue { color: $fib_blue_light !important; }
  &--theme-blue-grey { color: $fib_blue_grey !important; }
  &--theme-green { color: $fib_green !important; }
  &--theme-green-light { color: $fib_green_light !important; }
}

.bg_color {
  &--theme-dark-blue { background-color: $fib_blue_dark !important; }
  &--theme-bright-blue { background-color: $fib_blue_bright !important; }
  &--theme-light-blue { background-color: $fib_blue_light !important; }
  &--theme-blue-grey { background-color: $fib_blue_grey !important; }
  &--theme-green { background-color: $fib_green !important; }
  &--theme-light-green { background-color: $fib_green_light !important; }
}
