
$body_bg: #F6F6F6;

$white: rgb(255, 255, 255);
$light_blue: rgb(213, 236, 246);
$bright_blue: rgb(0, 151, 212);
$blue_grey: rgb(237, 243, 247);
$dark_blue: rgb(24, 97, 146);
$green: rgb(84, 150, 36);
$light_green: rgb(125, 182, 88);

$fib_blue_dark: $dark_blue;
$fib_blue_light: $light_blue;
$fib_blue_bright: $bright_blue;
$fib_blue_grey: $blue_grey;

$fib_green: $green;
$fib_green_light: $light_green;


// DEFAULT
$font_color_base: $black_10;

// THEME COLOR
$theme_font_color: $font_color_base;
