

$page_max_width: 1920px;

$desktop_size: 980px;
$tablet_size: 700px;
$mobile_size: 440px;

$theme_mobile_lg: 490px;
$theme_tablet_md: 780px;

$width_laptop_lg: 1440px;
$width_laptop_md: 1024px;
$width_laptop_sm: 960px;

$width_890: 890px;
$width_tablet: 768px;


$theme_mobile_xl: 490px;
$width_mobile_lg: 425px;
$width_mobile_md: 375px;
$width_mobile_sm: 325px;
