// MIXINS.SCSS

/**
 *  BUILD TASKS PASS THROUGH AUTOPREFIXER AND CANIUSE DATABASE BACKEND
 *  MIXINS SHOULD NOT BE USED TO TO PREFIX CSS PROPERTIES
 */

@mixin appearance($parameters) {
    -webkit-appearance: $parameters;
    -moz-appearance: $parameters;
    -ms-appearance: $parameters;
    -o-appearance: $parameters;
     appearance: $parameters;
}
@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
       top: $top;
     right: $right;
    bottom: $bottom;
      left: $left;
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: fixed;
       top: $top;
     right: $right;
    bottom: $bottom;
      left: $left;
}

@mixin background() {
  background-image:url();
}

@mixin backface-visibility($parameters: hidden) {
  -webkit-backface-visibility: $parameters;
          backface-visibility: $parameters;
}

@mixin unselectable(){
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}

@mixin filter($parameters) {
  -webkit-filter: invert($parameters);
          filter: invert($parameters);
}


@mixin gradient($start, $stop){
  background: -moz-linear-gradient(top,  $start 0%, $stop 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$stop));
  background: -webkit-linear-gradient(top,  $start 0%,$stop 100%);
  background: -o-linear-gradient(top,  $start 0%,$stop 100%);
  background: -ms-linear-gradient(top,  $start 0%,$stop 100%);
  background: linear-gradient(to bottom,  $start 0%,$stop 100%);
}
