/*
/// ---
/// title: Annotations
/// section: Formatting
/// ---
///
/// __Asterix__
///
/// .asterix - add "*" before
///
///
*/


.asterix {
  position: relative;
  margin-left: 0.7em;

  &::before {
    content: "*";
    position: relative;
    left: -0.3em;
  }
}
