/*---
title: Margins
section: Formatting
---

Based on the Tachyons Framework
http://tachyons.io

__Margin__

- margin-0  - no margins
- margin-t0 - top    = 0
- margin-r0 - right  = 0
- margin-b0 - bottom = 0
- margin-l0 - left   = 0
- margin-x0 - left + right = 0
- margin-y0 - top + bottom = 0
- auto_marginx - left + right = auto
- auto_marginy - top + bottom = auto
- auto_margin  - margin auto
- no_marginx - left + right = auto
- no_marginy - top + bottom = auto
- no_margin  - margin auto


__Extras__

- auto_margin - auto !important
- no_margin   - auto !important

*/

.m {
  &-0  { margin:        0 }
  &-t0 { margin-top:    0 }
  &-r0 { margin-right:  0 }
  &-b0 { margin-bottom: 0 }
  &-l0 { margin-left:   0 }
  &-x0 { margin-left:   0; margin-right:  0 }
  &-y0 { margin-top:    0; margin-bottom: 0 }
  &-xauto { margin-left: auto !important; margin-right: auto !important; }
  &-yauto { margin-top: auto !important; margin-bottom: auto !important}
  }

.auto_margin {  margin: auto !important; }
.auto_marginx { margin-left: auto !important; margin-right: auto !important; }
.auto_marginy { margin-top: auto !important; margin-bottom: auto !important; }
.no_margin {  margin: 0 !important; }
.no_marginy { margin-top: 0 !important; margin-bottom: 0 !important; }
.no_marginx { margin-left: 0 !important; margin-right: 0 !important; }



