/*
/// ---
/// title: Padding
/// section: Formatting
/// ---
///
/// Based on the Tachyons Framework
/// http://tachyons.io
///
/// __Padding__
///
/// - p-0  - no paddings
/// - p-t0 - top    = 0
/// - p-r0 - right  = 0
/// - p-b0 - bottom = 0
/// - p-l0 - left   = 0
/// - p-x0 - left + right = 0
/// - p-y0 - top + bottom = 0
///
///  CONVENIENCE CLASSES
/// - nopad  - padding auto
/// - nopadx  - padding auto
/// - nopady  -   left + right = 0
///
///
/// __Vertical Spacer__
///
/// - spacer - padding 1.5em 0
///
*/


.no-pad { padding: 0 !important; }
.no-padx { padding-left: 0 !important; padding-right: 0 !important; }
.no-pady { padding-top: 0 !important; padding-bottom: 0 !important; }
.spacer { padding: 1.5em 0; }

.p {
  &-0 { padding: 0 !important; }
  &-1 { padding: 0.33em !important; }
  &-2 { padding: 0.66em !important; }
  &-3 { padding: 1em !important; }
  &-4 { padding: 1.33em !important; }
  &-5 { padding: 1.66em !important; }
  &-6 { padding: 2em !important; }
  &-7 { padding: 2.33em !important; }
  &-8 { padding: 2.66em !important; }
  &-9 { padding: 3em !important; }
  &-10 { padding: 4em !important; }
  &-20 { padding: 5em !important; }
  &-30 { padding: 6em !important; }
  &-40 { padding: 7em !important; }
  &-50 { padding: 8em !important; }
  &-60 { padding: 9em !important; }
  &-70 { padding: 10em !important; }
  &-80 { padding: 11em !important; }
  &-90 { padding: 12em !important; }

  &-l0 { padding-left: 0 !important; }
  &-l1 { padding-left: 0.33em !important; }
  &-l2 { padding-left: 0.66em !important; }
  &-l3 { padding-left: 1em !important; }
  &-l4 { padding-left: 1.33em !important; }
  &-l5 { padding-left: 1.66em !important; }
  &-l6 { padding-left: 2em !important; }
  &-l7 { padding-left: 2.33em !important; }
  &-l8 { padding-left: 2.66em !important; }
  &-l9 { padding-left: 3em !important; }
  &-l10 { padding-left: 4em !important; }
  &-l20 { padding-left: 5em !important; }
  &-l30 { padding-left: 6em !important; }
  &-l40 { padding-left: 7em !important; }
  &-l50 { padding-left: 8em !important; }
  &-l60 { padding-left: 9em !important; }
  &-l70 { padding-left: 10em !important; }
  &-l80 { padding-left: 11em !important; }
  &-l90 { padding-left: 12em !important; }

  &-r0 { padding-right: 0 !important; }
  &-r1 { padding-right: 0.33em !important; }
  &-r2 { padding-right: 0.66em !important; }
  &-r3 { padding-right: 1em !important; }
  &-r4 { padding-right: 1.33em !important; }
  &-r5 { padding-right: 1.66em !important; }
  &-r6 { padding-right: 2em !important; }
  &-r7 { padding-right: 2.33em !important; }
  &-r8 { padding-right: 2.66em !important; }
  &-r9 { padding-right: 3em !important; }
  &-r10 { padding-right: 4em !important; }
  &-r20 { padding-right: 5em !important; }
  &-r30 { padding-right: 6em !important; }
  &-r40 { padding-right: 7em !important; }
  &-r50 { padding-right: 8em !important; }
  &-r60 { padding-right: 9em !important; }
  &-r70 { padding-right: 10em !important; }
  &-r80 { padding-right: 11em !important; }
  &-r90 { padding-right: 12em !important; }

  &-t0 { padding-top: 0 !important; }
  &-t1 { padding-top: 0.33em !important; }
  &-t2 { padding-top: 0.66em !important; }
  &-t3 { padding-top: 1em !important; }
  &-t4 { padding-top: 1.33em !important; }
  &-t5 { padding-top: 1.66em !important; }
  &-t6 { padding-top: 2em !important; }
  &-t7 { padding-top: 2.33em !important; }
  &-t8 { padding-top: 2.66em !important; }
  &-t9 { padding-top: 3em !important; }
  &-t10 { padding-top: 4em !important; }
  &-t20 { padding-top: 5em !important; }
  &-t30 { padding-top: 6em !important; }
  &-t40 { padding-top: 7em !important; }
  &-t50 { padding-top: 8em !important; }
  &-t60 { padding-top: 9em !important; }
  &-t70 { padding-top: 10em !important; }
  &-t80 { padding-top: 11em !important; }
  &-t90 { padding-top: 12em !important; }

  &-b0 { padding-bottom: 0 !important; }
  &-b1 { padding-bottom: 0.33em !important; }
  &-b2 { padding-bottom: 0.66em !important; }
  &-b3 { padding-bottom: 1em !important; }
  &-b4 { padding-bottom: 1.33em !important; }
  &-b5 { padding-bottom: 1.66em !important; }
  &-b6 { padding-bottom: 2em !important; }
  &-b7 { padding-bottom: 2.33em !important; }
  &-b8 { padding-bottom: 2.66em !important; }
  &-b9 { padding-bottom: 3em !important; }
  &-b10 { padding-bottom: 4em !important; }
  &-b20 { padding-bottom: 5em !important; }
  &-b30 { padding-bottom: 6em !important; }
  &-b40 { padding-bottom: 7em !important; }
  &-b50 { padding-bottom: 8em !important; }
  &-b60 { padding-bottom: 9em !important; }
  &-b70 { padding-bottom: 10em !important; }
  &-b80 { padding-bottom: 11em !important; }
  &-b90 { padding-bottom: 12em !important; }

  &-x0 { padding-left: 0 !important; padding-right: 0 !important; }
  &-x1 { padding-left: 0.33em !important; padding-right: 0.33em !important; }
  &-x2 { padding-left: 0.66em !important; padding-right: 0.66em !important; }
  &-x3 { padding-left: 1em !important; padding-right: 1em !important; }
  &-x4 { padding-left: 1.33em !important; padding-right: 1.33em !important; }
  &-x5 { padding-left: 1.66em !important; padding-right: 1.66em !important; }
  &-x6 { padding-left: 2em !important; padding-right: 2em !important; }
  &-x7 { padding-left: 2.33em !important; padding-right: 2.33em !important; }
  &-x8 { padding-left: 2.66em !important; padding-right: 2.66em !important; }
  &-x9 { padding-left: 3em !important; padding-right: 3em !important; }
  &-x10 { padding-left: 4em !important; padding-right: 4em !important; }
  &-x20 { padding-left: 5em !important; padding-right: 5em !important; }
  &-x30 { padding-left: 6em !important; padding-right: 6em !important; }
  &-x40 { padding-left: 7em !important; padding-right: 7em !important; }
  &-x50 { padding-left: 8em !important; padding-right: 8em !important; }
  &-x60 { padding-left: 9em !important; padding-right: 9em !important; }
  &-x70 { padding-left: 10em !important; padding-right: 10em !important; }
  &-x80 { padding-left: 11em !important; padding-right: 11em !important; }
  &-x90 { padding-left: 12em !important; padding-right: 12em !important; }

  &-y0 { padding-top: 0 !important; padding-bottom: 0 !important; }
  &-y1 { padding-top: 0.33em !important; padding-bottom: 0.33em !important; }
  &-y2 { padding-top: 0.66em !important; padding-bottom: 0.66em !important; }
  &-y3 { padding-top: 1em !important; padding-bottom: 1em !important; }
  &-y4 { padding-top: 1.33em !important; padding-bottom: 1.33em !important; }
  &-y5 { padding-top: 1.66em !important; padding-bottom: 1.66em !important; }
  &-y6 { padding-top: 2em !important; padding-bottom: 2em !important; }
  &-y7 { padding-top: 2.33em !important; padding-bottom: 2.33em !important; }
  &-y8 { padding-top: 2.66em !important; padding-bottom: 2.66em !important; }
  &-y9 { padding-top: 3em !important; padding-bottom: 3em !important; }
  &-y10 { padding-top: 4em !important; padding-bottom: 4em !important; }
  &-y20 { padding-top: 5em !important; padding-bottom: 5em !important; }
  &-y30 { padding-top: 6em !important; padding-bottom: 6em !important; }
  &-y40 { padding-top: 7em !important; padding-bottom: 7em !important; }
  &-y50 { padding-top: 8em !important; padding-bottom: 8em !important; }
  &-y60 { padding-top: 9em !important; padding-bottom: 9em !important; }
  &-y70 { padding-top: 10em !important; padding-bottom: 10em !important; }
  &-y80 { padding-top: 11em !important; padding-bottom: 11em !important; }
  &-y90 { padding-top: 12em !important; padding-bottom: 12em !important; }
}
