// EXAMPLE
// @include keyframes(slide-down) {
//   0% { opacity: 1; }
//   90% { opacity: 0; }
// }
//
// .element {
//   width: 100px;
//   height: 100px;
//   background: black;
//   @include animation('slide-down 5s 3');
// }
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  animation: #{$str};
}


/**
 *  EXAMPLE
 *
  @include keyframes(slide-down) {
    0% { opacity: 1; }
    90% { opacity: 0; }

  }
  .element {
    width: 100px;
    height: 100px;
    background: black;
    @include animation('slide-down 5s 3');
  }
 */



// https://www.sassmeister.com/gist/8458511
// ----
// Sass (v3.3.0.rc.2)
// Compass (v1.0.0.alpha.17)
// ----
// Add vendor prefixes to keyframes

 // Usage: @include animation(block-1-animate, $speed, ease-out, infinite)
 @mixin animation ($animation, $duration, $transition, $iteration) {
   -webkit-animation-name: $animation;
   -webkit-animation-duration: $duration;
   -webkit-animation-timing-function: $transition;
   -webkit-animation-iteration-count: $iteration;

   -moz-animation-name: $animation;
   -moz-animation-duration: $duration;
   -moz-animation-timing-function: $transition;
   -moz-animation-iteration-count: $iteration;

   -o-animation-name: $animation;
   -o-animation-duration: $duration;
   -o-animation-timing-function: $transition;
   -o-animation-iteration-count: $iteration;

   animation-name: $animation;
   animation-duration: $duration;
   animation-timing-function: $transition;
   animation-iteration-count: $iteration;
}

 // Keyframe animation
 @include keyframes (block-1-animate) {
   0% { width: 0; }
   16.6% { left: 0; right: auto; width: 100%; }
   33.2% { left: auto; right: 0; width: 0; }
}

 // Animate the green thing
 // .green {
 //   @include animation(block-1-animate, 1s, ease-out, infinite);
 // }
