.main-content {

  .two-column {
    @extend %flex;
    @extend %fl-row;

    .sidebar {
      @extend %fl-flex--none;
      flex-basis: 225px;
    }
   }

  .sidebar {
    // margin-right: 2em;
    font-size: 14px;

    &.sb-right {
      margin-left: 2em;
      margin-right: 0;
    }

    // PRODUCT PAGE RELATED PROD IMAGE SLIDER
    &.itemslider-related {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 250px;
      font-size: 13px;
    }

  }

  .content-container { flex: 4; }

  // TEMP OVERRIDE
  #narrow-by-list {
    height: auto;
    margin: 0;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
  }
}


.itemslider-related {
  .product {
    margin-bottom: 2em;
  }

  .product-image {
    max-width: 100px;
    display: inline-block;
    vertical-align: top;
  }

  .product-details {
    max-width: 130px;
    margin-left: 10px;
    display: inline-block;
  }

  .product-name {
    font-size: 14px;
  }

}

.sidebar {
  .block-title {
    color: $accent_red;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.25em;
    padding: 15px 0;
    text-transform: uppercase;
  }

  .block-content {
    // height: 80%;
    // max-height: 800px;

    dt {
      font-weight: bold;
      margin: 1em 0 0.2em;
    }

    dd {
      margin: auto;

      ol {
        font-size: 0.9em;
        line-height: 2.1em;
        margin: 0;
        padding: 0;

        li {
          margin:.2em 0;

          a {
            display: inline-block;

            &:hover {
              color: $accent_red;
            }
          }
        }

        .count {
          color: $black_50;
          font-size: 0.8em;
          margin-left: 5px;
        }
      }
    }
  }

  // LIST VIEW
  .accordion{}

  .nav-item {
    margin: 0.5em 0;
  }

  .nav-submenu {
    padding-left: 1em;
  }

  dd,
  dt,
  li,
  ol {
    background: none;
    line-height: inherit;
    padding-left: 0;
  }
}

.products-grid {
  @extend %fl-grid4;

  padding: 1em 0;
  align-items: stretch;
  justify-content: flex-start;

  .item {
    align-items: center;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // margin: 2em 0 1.5em;
    // padding: 0 1%;
    // transition: 0.3s;
    // width: 23%;

    @include max_width(1200px) { width: 31%; }
    @include max_width(900px) { width: 48%; }
  }

  .product-image {
    flex: 1 1 auto;
    height: 100%;

    img {
      display: block;
      margin: auto;
    }
  }

  &.grid4 {
    .item {
      margin: 1em 0;
      padding: 0 1%;
      width: 23%;
    }
  }

  .product-name {
    flex: 1 1 auto;
    font-size: 0.9em;
    font-weight: bold;
    height: 100%;
    line-height: 1.2em;
    margin: 1.5em 0;
    padding: 0;
    text-align: center;
  }

  .product-name,
  .product-name a {
    word-break: break-word;
    word-wrap: break-word;
    word-spacing: -2px;
  }

  .btn-cart {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    margin: auto;
  }

  .add-to-links {
    display: none;
  }
}

.product-slide a {
  display: block;
  flex: 1 1 0;
  margin: 1%;
  min-width: 18%;
}


// BOTTOM PAGE EXTRA ELEMENTS
.box-additional.box-up-sell {
  font-size: 0.85em;
}

// ITEMSLIDERS
// TODO: EXTEND GENERIC GRID
// itemslider-wrapper {}
.itemslider {

  &.upsell {
    flex-wrap: nowrap;
  }

  &.products-grid {

  }

}


// TOOLBAR CONTAINER
.toolbar {
  align-items: baseline;
  border-bottom: 1px dashed $white_30;
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  padding: 0.5em 0 1em;
  position: relative;

  &-bottom {
    margin-top: 10px;

    .pager { border-top: 0; }
    .sorter { display: none; }
    .toolbar { border-bottom: 0; }
  }

  .sorter {
    align-items: baseline;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
  }

  .amount,
  .limiter,
  .pager,
  .sort-by,
  .view-mode {
    display: inline-block;
    font-size: inherit;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    font-size: 1.1em;
    height: auto;
    margin: 0 0.3em;
    padding: 0.5em 0.4em 0.4em 0.5em;
    width: inherit;

    &::-ms-expand {
      display: none;
    }
  }
}

// PRODUCT SORTER
.sorter {
  label,
  select {
    display: inline-block;
  }

  .view-mode {
    display: inline-block;

    label { margin-right: 5px; }

    .grid,
    .list {
      background-repeat: no-repeat;
      display: inline-block;
      margin: 0;
      overflow: hidden;
      text-indent: -9999px;
    }
  }

  .sort-by {
    .sort-order {
      border: 1px solid transparent;
      display: inline-block;
      height: 100%;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 1.6em;

      &::after {
        display: inline-block;
        font-size: 2em;
        height: 100%;
        margin-top: -0.1em;
        position: relative;
        text-align: center;
      }
    }

    .asc::after { content: '\25BE'; }
    .desc::after { content: '\25B4'; }
  }

  .sort-by .category-asc,
  .sort-by .category-desc {
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
}

// PAGINATOR
.pager {
  margin: 0;
  padding: 0;
  text-align: center;

  .pages {
    display: inline-block;
    vertical-align: middle;

    .previous,
    .next {
      background-color: $white_20;
      background-image: url('../../../default/images/infortis/_shared/slider-arrows.png');
      background-repeat: no-repeat;
      display: none;
      transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;

      &:hover { background-color: $black_30; }
    }

    .previous {
      background-position: -10px -10px;
      &:hover { background-position: -10px -60px; }
    }

    .next {
      background-position: -60px -10px;
      &:hover { background-position: -60px -60px; }
    }

    ol { display: inline-block; }

    li {
      cursor: pointer;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      text-align: center;
      transition: 0.3s;
      width: 2em;

      &:hover {
        background-color: $white_40;
      }

      a {
        color: inherit;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}

// PRODUCT SELECT PAGE
.brand-sorter {
  margin-bottom: 2em;


  // TOOD: EXTEND FROM FLEX
  ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 1.4em;

    li {
      cursor: pointer;
      display: block;
      filter: grayscale(100%);
      flex: 1 1 auto;
      margin: 0 1em;
      padding: 2em;
      transition: transform 250ms cubic-bezier(0.34, 1.08, 0.41, 1.16) 0ms, filter 300ms  cubic-bezier(0.34, 1.08, 0.41, 1.16) 50ms;

      @extend %crisp-img;
      &:hover {
        filter: grayscale(0);
        transform: scale(1.09);
      }

      &.active {
        border-bottom: 2px solid $accent_red;
        filter: grayscale(0);
      }
    }
  }
}


#product-brand-selector {
  .products-grid {
    display: none;

    &.active {
      display: flex;
    }

    // TODO: MERGE WITH GENERAL GRID;
    &.grid4 {
      justify-content: flex-start;

      .item {
        margin: 1em 0;
        padding: 0 1%;
        width: 23%;
      }
    }
  }

  .product-name {
    flex: 0;
  }

  .product-image {
    display: flex;
    flex-direction: column;

    a {
      flex: 1 0 160px;
    }

    img {
      display: block;
      margin: auto;
      max-height: 200px;
      max-width: 100%;
    }
  }
}


// CUSTOM ELELMENTS
.content-block .consulting-list {
  font-size: 14px;
}



// PRODUCT TAGS

.form-add button {
  padding: 0.85em;
}

.product-view .box-tags .product-tags { display:block; margin:0 0 25px; }
.product-view .box-tags .product-tags li { display:inline; padding:0 7px; border-right:1px solid #e5e5e5; }
.product-view .box-tags .product-tags li.first { padding-left:0; }
.product-view .box-tags .product-tags li.last { padding-right:0; border-right:0; }
.product-view .box-tags .form-add label { display:block; font-weight:bold; margin:0 0 5px; }
.product-view .box-tags .form-add .input-box { float:left; margin-right: 0.5em; }
.product-view .box-tags .form-add input.input-text { width:auto; }
.product-view .box-tags .note { margin:3px 0 0; font-size:0.9166em; /*11px*/ }

/* Block: Reviews*/
.product-view .box-reviews { margin-top:15px; }
.product-view .box-reviews dl { margin:0 0 15px; }
.product-view .box-reviews dt .heading { font-weight:normal; font-size:1.5em; margin-right:10px; }
.product-view .box-reviews dt span { font-weight:bold; }
.product-view .box-reviews dt a { font-size:18px; margin-right:8px; }
.product-view .box-reviews dd { margin:0 0 15px 15px; padding-bottom:15px; border-bottom:1px dashed #e5e5e5; }
.product-view .box-reviews dd .date { display:block; margin-top:3px; font-style:italic; }
.product-view .box-reviews .ratings-table { margin:5px 0; }

.product-view .box-reviews .form-add {}
.product-view .box-reviews .form-add h2 { text-transform:uppercase; }
.product-view .box-reviews .form-add h3 { font-size:1em; font-weight:normal; margin-bottom:0; }
.product-view .box-reviews .form-add h3 span { font-weight:bold; }
.product-view .box-reviews .form-add h4 { font-size:1em; font-weight:normal; }
.product-view .box-reviews .form-add h3,
.product-view .box-reviews .form-add h4 { font-family:inherit; }
.product-view .box-reviews .form-add .form-list { margin:15px 0 0; }
.product-view .box-reviews .form-add .form-list input.input-text { width:100%; max-width:340px; }
.product-view .box-reviews .form-add .form-list textarea { width:100%; max-width:500px; }
.product-view .box-reviews .buttons-set button.button { float:left; margin-left:0; }

.product-view .box-reviews .form-add .data-table { max-width:176px; }
.product-view .box-reviews .form-add .data-table th,
.product-view .box-reviews .form-add .data-table td { text-align:center; line-height:1em; }
.product-view .box-reviews .form-add .data-table td .radio { margin:0; }
