$font_size: 1em;
$font_body: "proxima-nova", sans-serif;
$font_plus: "proxima-nova", sans-serif;
$font_head: "proxima-nova", sans-serif;

// SET FONT DEFAULTS
@mixin font_style($font_family, $font_wt, $font_color) {
  color: $font_color;
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_wt;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

//
// @include font-face(proxima-nova, fonts/proxima-nova_400, 500, normal, eot woff2 woff);
//
// .tk-proxima-nova{
//   font-family:"proxima-nova",sans-serif;}
//
// @font-face{
//   font-family:tk-proxima-nova-n7;
//   src:url('/fonts/proxima-nova_700.woff2') format("woff2"), url('/fonts/proxima-nova_700.woff') format("woff"), url('/fonts/proxima-nova_700.otf') format("opentype");
//   font-weight:700;
//   font-style:normal;
// }
// @font-face{
//   font-family:tk-proxima-nova-n4;
//   src: url('/fonts/proxima-nova_400.woff2') format("woff2"), url('/fonts/proxima-nova_400.woff') format("woff"), url('/fonts/proxima-nova_400.otf') format("opentype");
//   font-weight:400;
//   font-style:normal;
// }




%font-base {
  @include font_style($font_plus, normal, $theme_font_color);
  display: block;
  line-height: 1.2;
  margin: 0;
  padding: 0.5rem 0;
}

body {
  @include font_style($font_body, normal, $theme_font_color);
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 { @extend %font-base; }

h1 { font-size: $font_size * 2.0; }
h2 { font-size: $font_size * 1.8; }
h3 { font-size: $font_size * 1.6; }
h4 { font-size: $font_size * 1.4; }
h5 { font-size: $font_size * 1.0; }
h6 { font-size: $font_size * 0.8; }

input,
select,
textarea {
  @include font_style($font_body, normal, inherit);

  font-size: $font_size * 0.9;
}
