// PSUEDO ELEMENTS AND SHADOW DOM

// TEXT HIGHLIGHT
::-moz-selection {
  background: $accent_red;
  color: $white;
}

::selection {
  background: $accent_red;
  color: $white;
}


$scroll_accent: $black_20;
$scroll_bg: $white_20;

// SCROLLBAR
::-webkit-scrollbar-thumb {
  background: $white_40;
  border-radius: 8px;
}

::-webkit-scrollbar {
  background: $white_10;
  border-radius: 8px;
  max-width: 8px;
  max-height: 8px;
}

body::-webkit-scrollbar-thumb {
  background: $scroll_accent;
  border-radius: 0;
}

body::-webkit-scrollbar {
  background: $scroll_bg;
  max-height: 13px;
  max-width: 13px;
}

::-webkit-resizer {
  background: $scroll_bg;
}

::-webkit-scrollbar-corner {
  background: $scroll_bg;
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar-button {
  background: $scroll_bg;
  height: 0;
  width: 0;
  display: none;
}

::-webkit-scrollbar-track {}
// ::-webkit-scrollbar-track-piece {}


iframe {
  border: 0;
}


/* PAGE LOADER */
.ready-loader {
  background: $white;
  display: flex;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  position: fixed;
  text-align: left;
  top: 0;
  vertical-align: top;
  width: 100%;
  z-index: 9999;
}

.ready-loader.complete {
  animation: loadReady;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.ready-loader img {
  display: block;
  margin: auto;
  flex: 0 0 auto;
  align-content: center;
  align-self: center;
}

@-webkit-keyframes loadReady {
    0% { opacity: 1; }
   70% { opacity: 0; }
   99% { opacity: 0; -webkit-transform: scale(1,1); transform: scale(1,1);z-index: 999;}
  100% { opacity: 0; -webkit-transform: scale(0,0); transform: scale(0,0);z-index: -1;}
}

@keyframes loadReady {
  0%   {opacity: 1;}
  70%  {opacity: 0;}
  99%  {opacity: 0; -webkit-transform: scale(1,1); transform: scale(1,1);z-index: 999;}
  100% {opacity: 0; -webkit-transform: scale(0,0); transform: scale(0,0);z-index: -1;}
}
