
@mixin list_c($list) {
  // example:
  // $buttonConfig: 'save' 50px, 'cancel' 50px, 'help' 100px;

  @each $tuple in $list {
    .button-#{nth($tuple, 1)} {
      width: nth($tuple, 2);
    }
  }
}

@mixin keyframes($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}


/**
 *  TRANSITION
 *
 *  */
@mixin transition($args...) {
  transition: $args;
}


/**
*  EXAMPLE
    a {
      color: gray;
      @include transition(color .3s ease);
      &:hover {
        color: black;
      }
    }
*/
