
$imagesFolder: "/images/klsec17";

@function imagesUrl($fileUrl) {
  @return url('#{$imagesFolder}/#{$fileUrl}');
}

$bg_block_solutions: imagesUrl('banners/compliance-solutions.png');

$img_lock_overlay: imagesUrl('lock-overlay.png');
$img_logo_stacked: imagesUrl('logo-stacked.png');


// HOME - COMPLIANCE SOLUTIONS
$ic_currency: imagesUrl('icons/currency-wt.png');
$ic_hand-shake: imagesUrl('icons/hand-shake-wt.png');
$ic_location: imagesUrl('icons/locations-wt.png');

// HOME - CATEGORY SLIDER
$ic_drugs: imagesUrl('icons/drugs.png');
$ic_bomb: imagesUrl('icons/bomb.png');
$ic_clipboard: imagesUrl('icons/clipboard.png');
$ic_database: imagesUrl('icons/database.png');
$ic_design: imagesUrl('icons/design.png');
$ic_inbox: imagesUrl('icons/inbox.png');
$ic_padlock: imagesUrl('icons/padlock.png');
$ic_radiation: imagesUrl('icons/radiation.png');
$ic_safebox: imagesUrl('icons/safebox.png');
$ic_vault: imagesUrl('icons/vault.png');
