/*!
Charrismatic Style Library
Author: Matt Harris
Author URI: https://ma.ttharr.is
Author Email: m@ttHarr.is
Description: Atomic style library and design system
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

// EACH PACKAGE SHOULD BE ABLE TO BUILD INDEPENDENTLY
// BY INCLUDING THE FOLDER INDEX FILE


@import "color/index";
@import 'functions/index';



@import "fonts/index";
@import "var/responsive";
@import "effects/index";
@import "format/index";
@import "layouts/index";
@import 'icons/index';



// @import '../../library/bootstrap/scss/bootstrap.scss';
// @import "wp";

@import "../components/blocks/index";
@import "../components/lists/list";
@import "../components/buttons/index";
@import "../components/lists/definition_list";
@import "../components/lists/directory_list";
@import "../components/card/index";
// @import "charrismatic/post/post_card";
// @import "charrismatic/post/post_small_card";
// @import "charrismatic/page/banner_sections";
// @import "charrismatic/page/navigation";
// @import "charrismatic/templates/archive_pages";
// @import "charrismatic/templates/site_header";
// @import "charrismatic/page/header";
// @import "charrismatic/templates/page_front";
