

%card {
  @extend %z_depth_2;
  display: block;
  width: auto;
  margin: .5em auto;
}


/*---
title: content cards
section: components

---
<div class="card__content_card">
  <h2>Basic Content Card</h2>
</div>
---


## Content Card

---
<div class="card__content_card">
  <h2>Basic Content Card</h2>
  <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero,
   written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
   "Lorem ipsum dolor sit amet.."</p>
</div>
---

*/


// SIMPLE CONTENT CARD
.card__content_card {
  @extend %card;
  background: $white;
  padding: 1em;
}




/*---
title: Title card
section: components

---
<div class="title_card">
  <h2 class="title_card__title">Basic Title Card</h2>
</div>

```
<div class="card__title-card">
  <h2 class="title_card__title>Basic Title Card</h2>
</div>
```

*/



.title_card {
  @extend %card;
  background: #222;
  color: $white;
  font-weight: 400;
  position: relative;
  font-size: 1.44em;
  line-height: 2;
  padding: 0em;
  margin: 0 auto 1em auto;
  text-shadow: none;
  text-align: center;

  .title_card__title {
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
    line-height: inherit !important;
    text-shadow: inherit !important;
    border: 0;
  }
}





/*---
title: styled cards
section: components

---
<div class="card card_style--flat">
  <h2 class="card__title">Flat Styled Card</h2>
  <div class="card__content">
    <ul>
      <li>List A</li>
      <li>List B</li>
      <li>List C</li>
    </ul>
  </div>
  <div class="card__footer">
    <p>Optional Footer</p>
    <button>With Buttons</button>
  </div>
</div>
---

<div class="card__title-card">
  <h2>Basic Title Card</h2>
</div>
*/


.card {
  @extend %card;

  &.card_style--flat {
    color: $white;

    .card__title {
      background: transparent;
      position: relative;
      font-size: 1.8em;
      line-height: 1.3;
      padding: 0em;
      letter-spacing: -1px;
      margin: 0 auto 1em auto;
      text-shadow: none;
    }

    .card__content {
      color: inherit;
      font-weight: normal;
      line-height: 1.3;
      font-size: .9em;
    }

    .card__footer {}

    h2, p  {
      font-size: inherit !important;
      font-weight: inherit !important;
      color: inherit !important;
      line-height: inherit !important;
      text-shadow: inherit !important;
    }

    button {
      @extend %z_depth_2;
    }
  }
}
