/*---
title: Material Design Card
section: components
---

<!-- Square card -->
<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
</style>

```example:html    
<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Update</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aenan convallis.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      View Updates
    </a>
  </div>
</div>
```

*/

.mdl-card {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: 400;
  min-height: 50px;
  overflow: hidden;
  width: 100px;
  z-index: 2;
  position: relative;
  background: black;
  border-radius: 2px;
  box-sizing: border-box;
}

.mdl-card__media {
  background-color: red; 
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
}

.mdl-card__title {
  align-items: center;
  color: red;
  display: block;
  display: flex;
  justify-content: stretch;
  line-height: normal;
  padding: 1em;
  box-sizing: border-box;

  &.mdl-card--border {
    border-bottom: 1px solid black;
  }
}

.mdl-card__title-text {
  align-self: flex-end;
  color: inherit;
  display: block;
  display: flex;
  font-size: 1.3em;
  font-weight: bold;
  line-height: normal;
  overflow: hidden;
  transform-origin: 0 0;
  margin: 0;
}

.mdl-card__subtitle-text {
  font-size: .9em;
  color: #333;
  margin: 0;
}

.mdl-card__supporting-text {
  color: inherit;
  font-size: 1em;
  line-height: 1.5;
  overflow: hidden;
  padding: 1em 1.3em;
  width: 90%;

  &.mdl-card--border {
    border-bottom: 1px solid black;
  }
}

.mdl-card__actions {
  font-size: 1em;
  line-height: normal;
  width: 100%;
  background-color: rgba(0,0,0,0);
  padding: 8px;
  box-sizing: border-box;

  &.mdl-card--border {
    border-top: 1px solid black;
  }
}

.mdl-card--expand {
  flex-grow: 1;
}


.mdl-card__menu {
  position: absolute;
  right: 16px;
  top: 16px;
}
