@import 'index';

$icon_colors: (
  'blu': rgb(0, 108, 244),
  'grn': rgb(23, 187, 98),
  'red': rgb(241, 35, 35),
  'prp': rgb(103, 58, 183),
  'wht': rgb(230, 230, 230),
  'blk': rgb(22, 22, 22),
);

$icon_list: (
  'fa-facebook',
  'fa-twitter',
  'fa-twitter-square',
  'fa-linkedin',
  'fa-linkedin-square',
  'fa-github',
  'fa-github-alt',
  'fa-search',
  'fa-caret-down',
  'fa-angle-right',
  'fa-angle-left',
  'fa-chevron-circle-up',
  'fa-chevron-down',
  'fa-comments',
  'fa-comments-o',
  'fa-times',
  'fa-times-circle',
  'fa-times-circle-o',
  'fa-times-rectangle',
  'fa-minus-circle',
  'fa-plus-square',
);


//FORMATTING EXAMPLES
i.border { border: 1px solid; }
i.shadow { box-shadow: 3px 4px 5px #000; }
i.circle { border-radius: 50%; background-size: 60%; }
i.chicklet{ box-shadow: 4px 2px 8px #000, inset -2px -1px 8px #3c3c3c; border-radius: 7px; background-size: 60%; }

// BACKGROUND COLOR
i.bg-grn { background-color: map-get($icon_colors, 'grn'); }
i.bg-red { background-color: map-get($icon_colors, 'red'); }
i.bg-blu { background-color: map-get($icon_colors, 'blu'); }
i.bg-blk { background-color: map-get($icon_colors, 'blk'); }
i.bg-prp { background-color: map-get($icon_colors, 'prp'); }
i.bg-white{ background-color: map-get($icon_colors, 'wht'); }

// COLOR EFFECTS
i.prp { color: map-get($icon_colors, 'prp'); }
i.prp:hover{ background-color: map-get($icon_colors, 'prp'); }
i.bg-grn.circle:hover { border-radius: 0; }
i.bg-blu.chicklet:hover { background-color: lighten(map-get($icon_colors,'blu'), 20%);}


$prefix: 'icon';
$default_icon_color: #444444;
$demo_iconset: get_iconset($icon_map, 'fontawesome');
@debug 'PATH: ' $demo_iconset;
$iconset_config: map-get($demo_iconset, 'config');
$iconset_paths: map-get($demo_iconset,  'paths');
$viewbox: map-get($iconset_config, 'viewBox');

/*
/// <section class="styleguide_section">
///   <div class="flex flex-wrap">
*/

@each $icon_name in $icon_list {
  $path: map-get($iconset_paths, #{$icon_name});
.#{$prefix}--#{$icon_name} {color: inherit; background-image: _icon($path, $viewbox, $default_icon_color); }
/*
/// <i class="svg_icon #{$prefix}--#{$icon_name}">#{$icon_name}</i>
/// <div class="icon_card">
///   <div class="icon_card__caption">#{$prefix}--#{$icon_name}</div>
///   <div class="icon_card__content icon_card--raised"><i class="icon #{$prefix}--#{$icon_name}"></i></div>
/// </div>
*/
}


/*
///   </div>
/// </section>
*/

$github_path: map-get($iconset_paths, 'fa-github');
$github_icon: _icon($github_path, $viewbox, currentColor, 'color:inherit;');
@each $color, $value in $icon_colors {
  .icon_bg--#{$value} { background-color: #{$value}; }
  .#{$prefix}--github-#{$color} { color: #{$value}; background-image: $github_icon; }
/*/// <i class="icon #{$prefix}--github-#{$color}">github-#{$color}</i> */
}
