@import 'index';

$iconfig: icon_config();
$icon_style: icon_style();
$prefix:map-get($iconfig,prefix);
$color: map-get($iconfig,color);
$bgcolor: map-get($iconfig,bgcolor);

$iconset: get_iconset($icon_map, 'fontawesome');

$icon_paths: map-get($iconset, 'paths');
$icon_config: map-get($iconset, 'config');
$icon_w: map-get($icon_config, 'width');
$icon_h: map-get($icon_config, 'height');
$icon_vb: map-get($icon_config, 'viewbox');

    @each $icon, $path in $icon_paths {
/*///  <i class="svg_icon #{$prefix}--#{$icon}">#{$icon}</i>*/
  .#{$prefix}--#{$icon} {
    color: inherit;
    background-image: build_icon($path, $color, $bgcolor, icon_style('stroke'), icon_style('css') , $icon_w, $icon_h, $icon_vb);
  }
}
