@import 'index';

$prefix: icon_config('prefix');
$color:  icon_style('color');
$bgcolor: icon_style('bgcolor');
// $iconset: get_icon_set($icon_map, 'iconicicons');
// $icon_paths: map-get($iconset, 'paths');
// $icon_config: map-get($iconset, 'config');
// $icon_w: map-get($icon_config, 'width');
// $icon_h: map-get($icon_config, 'height');
// $icon_vb: map-get($icon_config, 'viewbox');

@each $icon, $path in $icon_paths {
  @debug $icon;
  @debug $path;


/// <i class="svg_icon #{$prefix}--#{$icon}">#{$icon}</i>
  .#{$prefix}--#{$icon} {
    color: inherit;
    background-image: build_icon($path, $color, $bgcolor,
      icon_style('stroke'), icon_style('css'),
      $icon_w, $icon_h, $icon_vb);
  }
}



/*
 * Normal description
 *
 * This part becomes the full description
 * and it can be on multiple lines
*/
