

// SHOW / HIDE
.hide {
   display: none !important;

  &--med {
    @media ( max-width: $banner_break_mid ) {
      display: none !important;
    }
  }

   &--mob-lg {
    @media ( max-width: $width_mobile_device_lg) {
      display: none !important;
    }
  }

  &--mob-sm {
    @media ( max-width: $width_mobile_device_sm ) {
      display: none !important;
    }
  }
}



.show {
  &--desktop-only {
    @include max_width($desktop_size) { display: none !important; }
  }
}
