////
///  Keyframes Mixin
///  @group Motion
////

%zoomout {
  transform: scale(0.8);
  transition: 300ms;
  transform-origin: top;
  overflow: hidden;
  max-height: 100vh;
}

.zoomout { @extend %zoomout; }
