// nav-container [ &.mob-menu-active ]
//  nav
//    ul.nav-menu
//      li.nav-item

//        .nav-panel [ &--dropdown ]
//          .nav-panel-inner
//            .nav-block [ &--top &.grid-full ]
//
//               .submenu // div
//                 .grid-style
//                 div.section
//                   h3.section-title
//                   ul
//                     li
//
//               div.submenu.split-cols
//                 div.section
//
//                 div.submenu-item
//                   div.submenu-item-list-wrap
//                   h3
//                   ul.splitl-col-list
//                     li
//
//               div.submenu.grid-style
//                 div.submenu-item
//                 h3.submenu-item-title
//                 p

/*
                //SUBMENU CATEGORY/PRODUCTS/GROUPS -->
                .submenu  //div

                  // SUBMENU - SUBSECTIONS
                  .section //div
                    &.submenu-item // DEPRECATED
                    &.collapsible
                      h3.section-title

                      // SUBMENU IS SPLIT INTO COLUMNS
                      &.split-cols
                      // SECTION-LIST CATEGORY/PRODUCT/GROUP LISTING
                      ul.section-list
                        // SUBSECTION LISTS SPLIT INTO COLUMS
                        &.split-col-list

                        li.section-item
                          a  // ANCHOR TAG INSIDE LIST ITEM, SHOULD NOT RECEIVE STYLING

                // //ITEMS DIVIDED INTO A GRID
                // &.grid-style
                // div.section
                //   ul.section-list
                //     li.section-item
                //       h3.section-item-title
                //         a
                //       p.section-item-description


 */


$nav_break_md: 780px;
$nav_break_sm: 450px;
$nav_break_smallest: 400px;

// RESET NAV LISTS
nav {

  ul,
  ol,
  li {
    border: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  // ARTIFACT FROM OLD SITE
  .opener { display: none; }

  // HOME VS CONTENT PAGE (DARK VS LInavHT THEME)
  .home & { background: $white_00; }
  .content & { background: $white_20; }
}

// MOBILE MENU BUTTON
.nav-container {
  .hamburger { display: none; }
}

/********************
 *  NAV BASE STYLES *
 ********************/
nav {
  display: block;
  margin-left: auto;
  margin-right: 0;
  max-width: 1100px;
  position: relative;
  width: 100%;
  z-index: 4;

  // NAV-MENU -- BASE
  .nav-menu {
    display: flex;
    justify-content: space-between;
    position: relative;

    // NAV-ITEM -- BASE
    .nav-item {
      display: block;
      flex: 1 1 auto;
    }
  }
}

/*********************
 *  SUBMENU DROPDOWN *
 *  ANIMATIONS       *
 *********************/
@include min_width( $nav_break_md ) {
  nav {
    .nav-item {
      .nav-panel-inner { position: relative; }

      // OFF  |  INVISIBLE - HOVER TARGET
      .nav-panel--dropdown {
        backface-visibility: hidden;
        box-shadow: -5px 4px 10px 0 rgba(27, 25, 25, 0.37);
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 100%;
        transform-origin: top;
        transform: translateY(-2em);
        visibility: hidden;
        width: 100%;
        z-index: -3;
      }

      // ON
      &.nav-item--parent:hover {
        .nav-panel--dropdown {
          cursor: default;
          display: block;
          opacity: 1;
          transform: translateY(0%);
          visibility: visible;
          z-index: -1;
        }
      }
    }

    // DENY CASCADING ANIMATIONS
    .nav-item .submenu .submenu-item { transition: 0s; }
  }
}

/* SUBMENU LAYOUT */
nav {
  .nav-menu {
    @include min_width( $nav_break_md ) {
      // SUBMENU FLEX
      .submenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        background: $accent_red;

        > .submenu-section {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 0;
        }
      }

      /* SUBMENU SECTION LIST OPTION */
      /* LIST AS GRID LAYOUT */
      .sm-list-group {
        &.list-grid{
          display: flex;
          flex-wrap: wrap;

          > .sm-list-item {
            flex-basis: 29%;
            flex-grow: 1;
            flex-shrink: 1;
            margin-left: 1%;
            margin-right: 1%;
            padding: 0 1%;
          }
        }

        /* SPLIT LIST TO COLUMNS */
        &.list-columns {
          column-count: 2;
          padding: 0;
          column-break-inside: avoid;
          break-inside: avoid;
          column-fill: auto;
          column-gap: 0;

          .sm-list-item {
            -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
            page-break-inside: avoid; /* Firefox */
            break-inside: avoid; /* IE 10+ */
          }

          @include max_width( 900px ) {
            column-count: 1;
          }
        }
      }
    }
  }
}

/* SUBMENU SECTIONS COLORS / PROPERTIES */
$red_nav--hover-bg: rgb(185, 87, 92);
$red_nav--hover-color: lighten( $accent_orange, 15%);

nav .nav-menu .nav-item a { cursor: pointer; }

nav {
  .submenu {
    padding: 0 1rem;

    .submenu-section {
      display: block;
      position: relative;
      padding: 1.5rem 0;
      text-align: left;
      margin: 0 2%;
    }

    .sm-section-title {
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0 auto;
      text-transform: capitalize;
      border-bottom: 1px solid;
      cursor: pointer;
    }

    .sm-list-group {
      padding: 0.5rem 0;

      .sm-list-item {
        display: block;
        font-size: 0.9em;
        text-align: left;

        .sm-list-item-title {
          margin: 0 auto;
          border-bottom: 1px solid;
          font-weight: bold;
          font-size: 0.9rem;
          text-transform: capitalize;
          cursor: pointer;
        }

        > a { padding: 0.5rem 0 0.5rem 0.5rem; }
      }

      .sm-list-item-description { font-size: 0.9em; }
    }

    /* SUBMENU COLORS  */
    .sm-section-title {
      color: lighten( $accent_orange, 15%);
      &:hover > a { color: $accent_orange; }
    }

    .sm-list-item-title { color: lighten( $accent_orange, 15%); }
    .sm-list-item-description { color: $white_00; }

    .sm-list-item {
      color: $white_00;

      &:hover {
        color: $red_nav--hover-color;
        background: $red_nav--hover-bg;
        > a { color: $red_nav--hover-color; }

        // ANCHOR ON INSIDE
        .sm-list-item-title { color: $accent_orange; }
        .sm-list-item-title > a { color: $accent_orange; }
        .sm-list-item-description { color: $white_10; }
        .sm-list-item-description > a { color: $accent_orange; }

        // ANCHOR ON OUTSIDE
        > a  {
          .sm-list-item-title { color: $accent_orange; }
          .sm-list-item-title > a { color: $accent_orange; }
          .sm-list-item-description { color: $white_10; }
          .sm-list-item-description > a { color: $accent_orange; }
        }
      }
    }
  }
}


// TEXT AND ANCHOR TAGS
nav {

  a {
    display: block;
    cursor: pointer;
  }

  .nav-item {
    text-align: center;
    padding: 0;
    margin: 0;

    // HOVER
    > a:hover {
      color: darken($accent_orange, 10%);
      .caret {
        border-color: $accent_orange transparent rgba(182, 0, 0, 0);
      }
    }

    > a {
      span {
        display: inline-block;
        padding: 1em 0;
        text-align: center;
        margin: auto;
      }

      .caret {
        margin-left: 0.5rem;
        height: 0;
        margin-bottom: 2px;
        vertical-align: middle;
        width: 0;
        padding: 0;
        border-color: $font_color_base transparent transparent;
      }
    }

    .sm-list-item-description {
      color: $white_00;
      font-size: 0.9em;
    }
  }

  // GET ADVICE CALLOUT BUTTON
  .nav-menu {
    .nav-item.btn {
      &:hover {
        color: $white_05;
        background: lighten($accent_orange,10%);
        box-shadow: none;
        outline: 0;
        > a { color: $white_05; }
      }
    }
  }
}
