@mixin color_example_start($title) {
  /*/// <div class="color_swatch_group"> */
  /*///   <h2>#{$title}</h2> */
}

@mixin color_example_end() {
  /*/// </div>*/
  ///
}

@mixin color_example($color, $value) {
  /*/// <div class="swatch cl_#{$color}"><span class="swatch__name">#{$color}</span><span class="swatch__color"   data-color="#{$value}"></span><span class="swatch__bg_color" data-color="#{$value}"></span></div> */
}


$base_colors: _get($color_schemes, 'base');
$greyscale_colors: _get($color_schemes, 'greyscale');
$charrismatic: _get($color_schemes, 'mattharris');
$message_colors: _get($color_schemes, 'messages');
$company_colors: _get($color_schemes, 'company-colors');

@include color_example_start('Base Colors');
///
@each $color, $color_value in $base_colors {
  @include color_example($color ,$color_value);
}
///
@include color_example_end();

/// <h2>Material Colors</h2>

///
@include color_example_start('Material Colors');
///
@each $color_name, $color in $material_colors {
  @include color_example_start("#{$color_name}");

  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      @include color_example($color_name, $color_value);
    }

    @else if $color_name != "shades" {
      $color_string: #{$color_name}-#{$color-type};
      @include color_example($color_string, $color_value);
    }

    @else {
      @include color_example($color_type, $color_value);
    }
  }
  ///
  @include color_example_end();
  ///
}

///
@include color_example_end();
///
