$translucent_dark_10 : rgba(0,0,0,0.10);
$translucent_dark_15 : rgba(0,0,0,0.15);
$translucent_dark_20 : rgba(0,0,0,0.20);
$translucent_dark_25 : rgba(0,0,0,0.25);
$translucent_dark_30 : rgba(0,0,0,0.30);
$translucent_dark_35 : rgba(0,0,0,0.35);
$translucent_dark_40 : rgba(0,0,0,0.40);
$translucent_dark_45 : rgba(0,0,0,0.45);
$translucent_dark_50 : rgba(0,0,0,0.50);
$translucent_dark_55 : rgba(0,0,0,0.55);
$translucent_dark_60 : rgba(0,0,0,0.60);
$translucent_dark_65 : rgba(0,0,0,0.65);
$translucent_dark_70 : rgba(0,0,0,0.70);
$translucent_dark_75 : rgba(0,0,0,0.75);
$translucent_dark_80 : rgba(0,0,0,0.80);
$translucent_dark_85 : rgba(0,0,0,0.85);
$translucent_dark_90 : rgba(0,0,0,0.90);
$translucent_dark_95 : rgba(0,0,0,0.95);


$translucent_light_10 : rgba(255,255,255,0.10);
$translucent_light_15 : rgba(255,255,255,0.15);
$translucent_light_20 : rgba(255,255,255,0.20);
$translucent_light_25 : rgba(255,255,255,0.25);
$translucent_light_30 : rgba(255,255,255,0.30);
$translucent_light_35 : rgba(255,255,255,0.35);
$translucent_light_40 : rgba(255,255,255,0.40);
$translucent_light_45 : rgba(255,255,255,0.45);
$translucent_light_50 : rgba(255,255,255,0.50);
$translucent_light_55 : rgba(255,255,255,0.55);
$translucent_light_60 : rgba(255,255,255,0.60);
$translucent_light_65 : rgba(255,255,255,0.65);
$translucent_light_70 : rgba(255,255,255,0.70);
$translucent_light_75 : rgba(255,255,255,0.75);
$translucent_light_80 : rgba(255,255,255,0.80);
$translucent_light_85 : rgba(255,255,255,0.85);
$translucent_light_90 : rgba(255,255,255,0.90);
$translucent_light_95 : rgba(255,255,255,0.95);
