// Utility Color Classes

// Google Color Palette defined: http://www.google.com/design/spec/style/color.html


$material_red: (
  "base": #f44336,
  "lt5": #ffebee,
  "lt4": #ffcdd2,
  "lt3": #ef9a9a,
  "lt2": #e57373,
  "lt1": #ef5350,
  "dk1": #e53935,
  "dk2": #d32f2f,
  "dk3": #c62828,
  "dk4": #b71c1c,
  "ac1": #ff8a80,
  "ac2": #ff5252,
  "ac3": #ff1744,
  "ac4": #d50000
);

$material_pink: (
  "base": #e91e63,
  "lt5": #fce4ec,
  "lt4": #f8bbd0,
  "lt3": #f48fb1,
  "lt2": #f06292,
  "lt1": #ec407a,
  "dk1": #d81b60,
  "dk2": #c2185b,
  "dk3": #ad1457,
  "dk4": #880e4f,
  "ac1": #ff80ab,
  "ac2": #ff4081,
  "ac3": #f50057,
  "ac4": #c51162
);

$material_purple: (
  "base": #9c27b0,
  "lt5": #f3e5f5,
  "lt4": #e1bee7,
  "lt3": #ce93d8,
  "lt2": #ba68c8,
  "lt1": #ab47bc,
  "dk1": #8e24aa,
  "dk2": #7b1fa2,
  "dk3": #6a1b9a,
  "dk4": #4a148c,
  "ac1": #ea80fc,
  "ac2": #e040fb,
  "ac3": #d500f9,
  "ac4": #aa00ff
);

$material_deep_purple: (
  "base": #673ab7,
  "lt5": #ede7f6,
  "lt4": #d1c4e9,
  "lt3": #b39ddb,
  "lt2": #9575cd,
  "lt1": #7e57c2,
  "dk1": #5e35b1,
  "dk2": #512da8,
  "dk3": #4527a0,
  "dk4": #311b92,
  "ac1": #b388ff,
  "ac2": #7c4dff,
  "ac3": #651fff,
  "ac4": #6200ea
);

$material_indigo: (
  "base": #3f51b5,
  "lt5": #e8eaf6,
  "lt4": #c5cae9,
  "lt3": #9fa8da,
  "lt2": #7986cb,
  "lt1": #5c6bc0,
  "dk1": #3949ab,
  "dk2": #303f9f,
  "dk3": #283593,
  "dk4": #1a237e,
  "ac1": #8c9eff,
  "ac2": #536dfe,
  "ac3": #3d5afe,
  "ac4": #304ffe
);

$material_blue: (
  "base": #2196f3,
  "lt5": #e3f2fd,
  "lt4": #bbdefb,
  "lt3": #90caf9,
  "lt2": #64b5f6,
  "lt1": #42a5f5,
  "dk1": #1e88e5,
  "dk2": #1976d2,
  "dk3": #1565c0,
  "dk4": #0d47a1,
  "ac1": #82b1ff,
  "ac2": #448aff,
  "ac3": #2979ff,
  "ac4": #2962ff
);

$material_light_blue: (
  "base": #03a9f4,
  "lt5": #e1f5fe,
  "lt4": #b3e5fc,
  "lt3": #81d4fa,
  "lt2": #4fc3f7,
  "lt1": #29b6f6,
  "dk1": #039be5,
  "dk2": #0288d1,
  "dk3": #0277bd,
  "dk4": #01579b,
  "ac1": #80d8ff,
  "ac2": #40c4ff,
  "ac3": #00b0ff,
  "ac4": #0091ea
);

$material_cyan: (
  "base": #00bcd4,
  "lt5": #e0f7fa,
  "lt4": #b2ebf2,
  "lt3": #80deea,
  "lt2": #4dd0e1,
  "lt1": #26c6da,
  "dk1": #00acc1,
  "dk2": #0097a7,
  "dk3": #00838f,
  "dk4": #006064,
  "ac1": #84ffff,
  "ac2": #18ffff,
  "ac3": #00e5ff,
  "ac4": #00b8d4
);

$material_teal: (
  "base": #009688,
  "lt5": #e0f2f1,
  "lt4": #b2dfdb,
  "lt3": #80cbc4,
  "lt2": #4db6ac,
  "lt1": #26a69a,
  "dk1": #00897b,
  "dk2": #00796b,
  "dk3": #00695c,
  "dk4": #004d40,
  "ac1": #a7ffeb,
  "ac2": #64ffda,
  "ac3": #1de9b6,
  "ac4": #00bfa5
);

$material_green: (
  "base": #4caf50,
  "lt5": #e8f5e9,
  "lt4": #c8e6c9,
  "lt3": #a5d6a7,
  "lt2": #81c784,
  "lt1": #66bb6a,
  "dk1": #43a047,
  "dk2": #388e3c,
  "dk3": #2e7d32,
  "dk4": #1b5e20,
  "ac1": #b9f6ca,
  "ac2": #69f0ae,
  "ac3": #00e676,
  "ac4": #00c853
);

$material_light_green: (
  "base": #8bc34a,
  "lt5": #f1f8e9,
  "lt4": #dcedc8,
  "lt3": #c5e1a5,
  "lt2": #aed581,
  "lt1": #9ccc65,
  "dk1": #7cb342,
  "dk2": #689f38,
  "dk3": #558b2f,
  "dk4": #33691e,
  "ac1": #ccff90,
  "ac2": #b2ff59,
  "ac3": #76ff03,
  "ac4": #64dd17
);

$material_lime: (
  "base": #cddc39,
  "lt5": #f9fbe7,
  "lt4": #f0f4c3,
  "lt3": #e6ee9c,
  "lt2": #dce775,
  "lt1": #d4e157,
  "dk1": #c0ca33,
  "dk2": #afb42b,
  "dk3": #9e9d24,
  "dk4": #827717,
  "ac1": #f4ff81,
  "ac2": #eeff41,
  "ac3": #c6ff00,
  "ac4": #aeea00
);

$material_yellow: (
  "base": #ffeb3b,
  "lt5": #fffde7,
  "lt4": #fff9c4,
  "lt3": #fff59d,
  "lt2": #fff176,
  "lt1": #ffee58,
  "dk1": #fdd835,
  "dk2": #fbc02d,
  "dk3": #f9a825,
  "dk4": #f57f17,
  "ac1": #ffff8d,
  "ac2": #ffff00,
  "ac3": #ffea00,
  "ac4": #ffd600
);

$material_amber: (
  "base": #ffc107,
  "lt5": #fff8e1,
  "lt4": #ffecb3,
  "lt3": #ffe082,
  "lt2": #ffd54f,
  "lt1": #ffca28,
  "dk1": #ffb300,
  "dk2": #ffa000,
  "dk3": #ff8f00,
  "dk4": #ff6f00,
  "ac1": #ffe57f,
  "ac2": #ffd740,
  "ac3": #ffc400,
  "ac4": #ffab00
);

$material_orange: (
  "base": #ff9800,
  "lt5": #fff3e0,
  "lt4": #ffe0b2,
  "lt3": #ffcc80,
  "lt2": #ffb74d,
  "lt1": #ffa726,
  "dk1": #fb8c00,
  "dk2": #f57c00,
  "dk3": #ef6c00,
  "dk4": #e65100,
  "ac1": #ffd180,
  "ac2": #ffab40,
  "ac3": #ff9100,
  "ac4": #ff6d00
);

$material_deep_orange: (
  "base": #ff5722,
  "lt5": #fbe9e7,
  "lt4": #ffccbc,
  "lt3": #ffab91,
  "lt2": #ff8a65,
  "lt1": #ff7043,
  "dk1": #f4511e,
  "dk2": #e64a19,
  "dk3": #d84315,
  "dk4": #bf360c,
  "ac1": #ff9e80,
  "ac2": #ff6e40,
  "ac3": #ff3d00,
  "ac4": #dd2c00
);

$material_brown: (
  "base": #795548,
  "lt5": #efebe9,
  "lt4": #d7ccc8,
  "lt3": #bcaaa4,
  "lt2": #a1887f,
  "lt1": #8d6e63,
  "dk1": #6d4c41,
  "dk2": #5d4037,
  "dk3": #4e342e,
  "dk4": #3e2723
);

$material_blue_grey: (
  "base": #607d8b,
  "lt5": #eceff1,
  "lt4": #cfd8dc,
  "lt3": #b0bec5,
  "lt2": #90a4ae,
  "lt1": #78909c,
  "dk1": #546e7a,
  "dk2": #455a64,
  "dk3": #37474f,
  "dk4": #263238
);

$material_grey: (
  "base":  #9e9e9e,
  "lt5":  #fafafa,
  "lt4":  #f5f5f5,
  "lt3":  #eeeeee,
  "lt2":  #e0e0e0,
  "lt1":  #bdbdbd,
  "dk1":  #757575,
  "dk2":  #616161,
  "dk3":  #424242,
  "dk4":  #212121
);

$material_shades: (
  "black": #000000,
  "white": #ffffff,
  "transparent": transparent
);


$material_colors: (
  "red": $material_red,
  "pink": $material_pink,
  "purple": $material_purple,
  "deep-purple": $material_deep_purple,
  "indigo": $material_indigo,
  "blue": $material_blue,
  "lightblue": $material_light_blue,
  "cyan": $material_cyan,
  "teal": $material_teal,
  "green": $material_green,
  "lightgreen": $material_light_green,
  "lime": $material_lime,
  "yellow": $material_yellow,
  "amber": $material_amber,
  "orange": $material_orange,
  "deep-orange": $material_deep_orange,
  "brown": $material_brown,
  "blue-grey": $material_blue_grey,
  "grey": $material_grey,
  "shades": $material_shades
) !default;
