///*
/// # Color Schemes
///
/// ---
/// title: Color Sets
/// name: color_library
/// ---
/// Source: [http://www.crayola.com/colorcensus/history/current\_120\_colors.cfm](http://www.crayola.com/colorcensus/history/current_120_colors.cfm)
/// ---------------------------
/// # Colors Crayola
/// Crayola is a famous color pencil and crayon producer.
/// Their color names are often creative and funny (with no evidence of being real names).
/// These hex values are non official approximate values intended to simulate Crayola colors in HTML:
///*



$crayola_color_schemes: (
  "standard": (
    "red"                          :"#ed0a3f",
    "maroon"                       :"#c32148",
    "scarlet"                      :"#fd0e35",
    "brick_red"                    :"#c62d42",
    "english_vermilion"            :"#cc474b",
    "madder_lake"                  :"#cc3336",
    "permanent_geranium_lake"      :"#e12c2c",
    "maximum_red"                  :"#d92121",
    "indian_red"                   :"#b94e48",
    "orange-red"                   :"#ff5349",
    "sunset_orange"                :"#fe4c40",
    "bittersweet"                  :"#fe6f5e",
    "dark_venetian_red"            :"#b33b24",
    "venetian_red"                 :"#cc553d",
    "light_venetian_red"           :"#e6735c",
    "vivid_tangerine"              :"#ff9980",
    "middle_red"                   :"#e58e73",
    "burnt_orange"                 :"#ff7f49",
    "red-orange"                   :"#ff681f",
    "orange"                       :"#ff8833",
    "macaroni_and_cheese"          :"#ffb97b",
    "middle_yellow_red"            :"#ecb176",
    "mango_tango"                  :"#e77200",
    "yellow-orange"                :"#ffae42",
    "maximum_yellow_red"           :"#f2ba49",
    "banana_mania"                 :"#fbe7b2",
    "maize"                        :"#f2c649",
    "orange-yellow"                :"#f8d568",
    "goldenrod"                    :"#fcd667",
    "dandelion"                    :"#fed85d",
    "yellow"                       :"#fbe870",
    "green-yellow"                 :"#f1e788",
    "middle_yellow"                :"#ffeb00",
    "olive_green"                  :"#b5b35c",
    "spring_green"                 :"#ecebbd",
    "maximum_yellow"               :"#fafa37",
    "canary"                       :"#ffff99",
    "lemon_yellow"                 :"#ffff9f",
    "maximum_green_yellow"         :"#d9e650",
    "middle_green_yellow"          :"#acbf60",
    "inchworm"                     :"#afe313",
    "light_chrome_green"           :"#bee64b",
    "yellow-green"                 :"#c5e17a",
    "maximum_green"                :"#5e8c31",
    "asparagus"                    :"#7ba05b",
    "granny_smith_apple"           :"#9de093",
    "fern"                         :"#63b76c",
    "middle_green"                 :"#4d8c57",
    "green"                        :"#3aa655",
    "medium_chrome_green"          :"#6ca67c",
    "forest_green"                 :"#5fa777",
    "sea_green"                    :"#93dfb8",
    "shamrock"                     :"#33cc99",
    "mountain_meadow"              :"#1ab385",
    "jungle_green"                 :"#29ab87",
    "caribbean_green"              :"#00cc99",
    "tropical_rain_forest"         :"#00755e",
    "middle_blue_green"            :"#8dd9cc",
    "pine_green"                   :"#01786f",
    "maximum_blue_green"           :"#30bfbf",
    "robins_egg_blue"              :"#00cccc",
    "teal_blue"                    :"#008080",
    "light_blue"                   :"#8fd8d8",
    "aquamarine"                   :"#95e0e8",
    "turquoise_blue"               :"#6cdae7",
    "outer_space"                  :"#2d383a",
    "sky_blue"                     :"#76d7ea",
    "middle_blue"                  :"#7ed4e6",
    "blue-green"                   :"#0095b7",
    "pacific_blue"                 :"#009dc4",
    "cerulean"                     :"#02a4d3",
    "maximum_blue"                 :"#47abcc",
    "blue_i"                       :"#4997d0",
    "cerulean_blue"                :"#339acc",
    "cornflower"                   :"#93ccea",
    "green-blue"                   :"#2887c8",
    "midnight_blue"                :"#00468c",
    "navy_blue"                    :"#0066cc",
    "denim"                        :"#1560bd",
    "blue_iii"                     :"#0066ff",
    "cadet_blue"                   :"#a9b2c3",
    "periwinkle"                   :"#c3cde6",
    "blue_ii"                      :"#4570e6",
    "wild_blue_yonder"             :"#7a89b8",
    "indigo"                       :"#4f69c6",
    "manatee"                      :"#8d90a1",
    "cobalt_blue"                  :"#8c90c8",
    "celestial_blue"               :"#7070cc",
    "blue_bell"                    :"#9999cc",
    "maximum_blue_purple"          :"#acace6",
    "violet-blue"                  :"#766ec8",
    "blue-violet"                  :"#6456b7",
    "ultramarine_blue"             :"#3f26bf",
    "middle_blue_purple"           :"#8b72be",
    "purple_heart"                 :"#652dc1",
    "royal_purple"                 :"#6b3fa0",
    "violet_ii"                    :"#8359a3",
    "medium_violet"                :"#8f47b3",
    "wisteria"                     :"#c9a0dc",
    "lavender_i"                   :"#bf8fcc",
    "vivid_violet"                 :"#803790",
    "maximum_purple"               :"#733380",
    "purple_mountains_majesty"     :"#d6aedd",
    "fuchsia"                      :"#c154c1",
    "pink_flamingo"                :"#fc74fd",
    "violet_i"                     :"#732e6c",
    "brilliant_rose"               :"#e667ce",
    "orchid"                       :"#e29cd2",
    "plum"                         :"#8e3179",
    "medium_rose"                  :"#d96cbe",
    "thistle"                      :"#ebb0d7",
    "mulberry"                     :"#c8509b",
    "red-violet"                   :"#bb3385",
    "middle_purple"                :"#d982b5",
    "maximum_red_purple"           :"#a63a79",
    "jazzberry_jam"                :"#a50b5e",
    "eggplant"                     :"#614051",
    "magenta"                      :"#f653a6",
    "cerise"                       :"#da3287",
    "wild_strawberry"              :"#ff3399",
    "lavender_ii"                  :"#fbaed2",
    "cotton_candy"                 :"#ffb7d5",
    "carnation_pink"               :"#ffa6c9",
    "violet-red"                   :"#f7468a",
    "razzmatazz"                   :"#e30b5c",
    "pig_pink"                     :"#fdd7e4",
    "carmine"                      :"#e62e6b",
    "blush"                        :"#db5079",
    "tickle_me_pink"               :"#fc80a5",
    "mauvelous"                    :"#f091a9",
    "salmon"                       :"#ff91a4",
    "middle_red_purple"            :"#a55353",
    "mahogany"                     :"#ca3435",
    "melon"                        :"#febaad",
    "pink_sherbert"                :"#f7a38e",
    "burnt_sienna"                 :"#e97451",
    "brown"                        :"#af593e",
    "sepia"                        :"#9e5b40",
    "fuzzy_wuzzy"                  :"#87421f",
    "beaver"                       :"#926f5b",
    "tumbleweed"                   :"#dea681",
    "raw_sienna"                   :"#d27d46",
    "van_dyke_brown"               :"#664228",
    "tan"                          :"#d99a6c",
    "desert_sand"                  :"#edc9af",
    "peach"                        :"#ffcba4",
    "burnt_umber"                  :"#805533",
    "apricot"                      :"#fdd5b1",
    "almond"                       :"#eed9c4",
    "raw_umber"                    :"#665233",
    "shadow"                       :"#837050",
    "raw_sienna_i"                 :"#e6bc5c",
    "timberwolf"                   :"#d9d6cf",
    "gold_i"                       :"#92926e",
    "gold_ii"                      :"#e6be8a",
    "silver"                       :"#c9c0bb",
    "copper"                       :"#da8a67",
    "antique_brass"                :"#c88a65",
    "black"                        :"#000000",
    "charcoal_gray"                :"#736a62",
    "gray"                         :"#8b8680",
    "blue-gray"                    :"#c8c8cd",
  ),

  // FLUORESCENT
  "fluorescent": (
    "radical_red"                  :"#ff355e",
    "wild_watermelon"              :"#fd5b78",
    "outrageous_orange"            :"#ff6037",
    "atomic_tangerine"             :"#ff9966",
    "neon_carrot"                  :"#ff9933",
    "sunglow"                      :"#ffcc33",
    "laser_lemon"                  :"#ffff66",
    "unmellow_yellow"              :"#ffff66",
    "electric_lime"                :"#ccff00",
    "screamin_green"               :"#66ff66",
    "magic_mint"                   :"#aaf0d1",
    "blizzard_blue"                :"#50bfe6",
    "shocking_pink"                :"#ff6eff",
    "razzle_dazzle_rose"           :"#ee34d2",
    "hot_magenta"                  :"#ff00cc",
    "purple_pizzazz"               :"#ff00cc",
  ),

  // BRIGHT
  "bright": (
    "sizzling_red"                 :"#ff3855",
    "red_salsa"                    :"#fd3a4a",
    "tart_orange"                  :"#fb4d46",
    "orange_soda"                  :"#fa5b3d",
    "bright_yellow"                :"#ffaa1d",
    "yellow_sunshine"              :"#fff700",
    "slimy_green"                  :"#299617",
    "green_lizard"                 :"#a7f432",
    "denim_blue"                   :"#2243b6",
    "blue_jeans"                   :"#5dadec",
    "plump_purple"                 :"#5946b2",
    "purple_plum"                  :"#9c51b6",
    "sweet_brown"                  :"#a83731",
    "brown_sugar"                  :"#af6e4d",
    "eerie_black"                  :"#1b1b1b",
    "black_shadows"                :"#bfafb2",
    "fiery_rose"                   :"#ff5470",
    "sizzling_sunrise"             :"#ffdb00",
    "heat_wave"                    :"#ff7a00",
    "lemon_glacier"                :"#fdff00",
    "spring_frost"                 :"#87ff2a",
    "absolute_zero"                :"#0048ba",
    "winter_sky"                   :"#ff007c",
    "frostbite"                    :"#e936a7",
  ),


  // METALLIC
  "metallic": (
    "alloy_orange"                 :"#c46210",
    "bdazzled_blue"                :"#2e5894",
    "big_dip_o_ruby"               :"#9c2542",
    "bittersweet_shimmer"          :"#bf4f51",
    "blast_off_bronze"             :"#a57164",
    "cyber_grape"                  :"#58427c",
    "deep_space_sparkle"           :"#4a646c",
    "gold_fusion"                  :"#85754e",
    "illuminating_emerald"         :"#319177",
    "metallic_seaweed"             :"#0a7e8c",
    "metallic_sunburst"            :"#9c7c38",
    "razzmic_berry"                :"#8d4e85",
    "sheen_green"                  :"#8fd400",
    "shimmering_blush"             :"#d98695",
    "sonic_silver"                 :"#757575",
    "steel_blue"                   :"#0081ab",
  ),


  // SILVER
  "silver": (
    "aztec_gold"                   :"#c39953",
    "burnished_brown"              :"#a17a74",
    "cerulean_frost"               :"#6d9bc3",
    "cinnamon_satin"               :"#cd607e",
    "copper_penny"                 :"#ad6f69",
    "cosmic_cobalt"                :"#2e2d88",
    "glossy_grape"                 :"#ab92b3",
    "granite_gray"                 :"#676767",
    "green_sheen"                  :"#6eaea1",
    "lilac_luster"                 :"#ae98aa",
    "misty_moss"                   :"#bbb477",
    "mystic_maroon"                :"#ad4379",
    "pearly_purple"                :"#b768a2",
    "pewter_blue"                  :"#8ba8b7",
    "polished_pine"                :"#5da493",
    "quick_silver"                 :"#a6a6a6",
    "rose_dust"                    :"#9e5e6f",
    "rusty_red"                    :"#da2c43",
    "shadow_blue"                  :"#778ba5",
    "shiny_shamrock"               :"#5fa778",
    "steel_teal"                   :"#5f8a8b",
    "sugar_plum"                   :"#914e75",
    "twilight_lavender"            :"#8a496b",
    "wintergreen_dream"            :"#56887d",
  ),


  // FRAGRANCES
  "fragrances": (
    "baby_powder"                  :"#fefefa",
    "banana"                       :"#ffd12a",
    "blueberry"                    :"#4f86f7",
    "bubble_gum"                   :"#ffd3f8",
    "cedar_chest"                  :"#c95a49",
    "cherry"                       :"#da2647",
    "chocolate"                    :"#bd8260",
    "coconut"                      :"#fefefe",
    "daffodil"                     :"#ffff31",
    "dirt"                         :"#9b7653",
    "eucalyptus"                   :"#44d7a8",
    "fresh_air"                    :"#a6e7ff",
    "grape"                        :"#6f2da8",
    "jelly_bean"                   :"#da614e",
    "leather_jacket"               :"#253529",
    "lemon"                        :"#ffff38",
    "licorice"                     :"#1a1110",
    "lilac"                        :"#db91ef",
    "lime"                         :"#b2f302",
    "lumber"                       :"#ffe4cd",
    "new_car"                      :"#214fc6",
    "orange"                       :"#ff8866",
    "peach"                        :"#ffd0b9",
    "pine"                         :"#45a27d",
    "rose"                         :"#ff5050",
    "shampoo"                      :"#ffcff1",
    "smoke"                        :"#738276",
    "soap"                         :"#cec8ef",
    "strawberry"                   :"#fc5a8d",
    "tulip"                        :"#ff878d",
  ),


  // JEWELRYSTONES
  "jewelrystones": (
    "amethyst"                     :"#64609a",
    "citrine"                      :"#933709",
    "emerald"                      :"#14a989",
    "jade"                         :"#469a84",
    "jasper"                       :"#d05340",
    "lapis_lazuli"                 :"#436cb9",
    "malachite"                    :"#469496",
    "moonstone"                    :"#3aa8c1",
    "onyx"                         :"#353839",
    "peridot"                      :"#abad48",
    "pink_pearl"                   :"#b07080",
    "rose_quartz"                  :"#bd559c",
    "ruby"                         :"#aa4069",
    "sapphire"                     :"#2d5da1",
    "smokey_topaz"                 :"#832a0d",
    "tigers_eye"                   :"#b56917",
  ),

  // MAGIC SCENTS
  "magicscents": (
    "baseball_mitt_burnt_sienna"   :"#e97451",
    "bubble_bath_tickle_me_pink"   :"#fc80a5",
    "earthworm_brick_red"          :"#c62d42",
    "flower_shop_wisteria"         :"#c9a0dc",
    "fresh_air_sky_blue"           :"#76d7ea",
    "grandmas_perfume_orange"      :"#ff8833",
    "koala_tree_jungle_green"      :"#29ab87",
    "pet_shop_brown"               :"#af593e",
    "pine_tree_pine_green"         :"#01786f",
    "saw_dust_peach"               :"#ffcba4",
    "sharpening_pencils_goldenrod" :"#fcd667",
    "smell_the_roses_red"          :"#ed0a3f",
    "sunny_day_yellow"             :"#fbe870",
    "wash_the_dog_dandelion"       :"#fed85d",
  ),


  // SCARY SCENTS
  "scaryscents": (
    "alien_armpit"                 :"#84de02",
    "big_foot_feet"                :"#e88e5a",
    "booger_buster"                :"#dde26a",
    "dingy_dungeon"                :"#c53151",
    "gargoyle_gas"                 :"#ffdf46",
    "giants_club"                  :"#b05c52",
    "magic_potion"                 :"#ff4466",
    "mummys_tomb"                  :"#828e84",
    "ogre_odor"                    :"#fd5240",
    "pixie_powder"                 :"#391285",
    "princess_perfume"             :"#ff85cf",
    "sasquatch_socks"              :"#ff4681",
    "sea_serpent"                  :"#4bc7cf",
    "smashed_pumpkin"              :"#ff6d3a",
    "sunburnt_cyclops"             :"#ff404c",
    "winter_wizard"                :"#a0e6ff",
  ),
);
