
.caret {
  border-color: $font_color_base transparent transparent;
  border-style: solid solid none;
  border-width: 6px 6px 0;
  content: '';
  display: inline-block;
  height: 0;
  margin-bottom: 2px;
  vertical-align: middle;
  width: 0;
}
