// COLOR VARIABLE DEFINITIONS
$black: rgba(0, 0, 0, 1);
$black_00: $black;              // #000000;

$white: rgba(255, 255, 255, 1);
$white_00: $white;              // #ffffff;

$grey_01: darken($white, 01%);
$grey_02: darken($white, 02%); //
$grey_03: darken($white, 03%); // grey_03 #f7f7f7
$grey_04: darken($white, 04%); //
$grey_05: darken($white, 05%); // grey_05: #f2f2f2
$grey_10: darken($white, 10%); // grey_10: #e6e6e6
$grey_15: darken($white, 15%); // grey_15: #d9d9d9
$grey_20: darken($white, 20%); // grey_20: #cccccc
$grey_25: darken($white, 25%); // grey_25: #bfbfbf
$grey_30: darken($white, 30%); // grey_30: #b3b3b3
$grey_35: darken($white, 35%); // grey_35: #a6a6a6
$grey_40: darken($white, 40%); // grey_40: #999999
$grey_45: darken($white, 45%); // grey_45: #8c8c8c
$grey_50: darken($white, 50%); // grey_50: #808080
$grey_55: darken($white, 55%); // grey_55: #737373
$grey_60: darken($white, 60%); // grey_60: #666666
$grey_65: darken($white, 65%); // grey_65: #595959
$grey_70: darken($white, 70%); // grey_70: #4d4d4d
$grey_75: darken($white, 75%); // grey_75: #404040
$grey_80: darken($white, 80%); // grey_80: #333333
$grey_85: darken($white, 85%); // grey_85: #262626
$grey_90: darken($white, 90%); // grey_90: #1a1a1a
$grey_95: darken($white, 95%); // grey_95: #0d0d0d
$grey_96: darken($white, 96%); //
$grey_97: darken($white, 97%); //
$grey_98: darken($white, 98%); //
$grey_99: darken($white, 99%); //


// Better default colors by clrs.cc
// source: http://clrs.cc/
$color_navy    : #001f3f;
$color_blue    : #0074d9;
$color_aqua    : #7fdbff;
$color_teal    : #39cccc;
$color_olive   : #3d9970;
$color_green   : #2ecc40;
$color_lime    : #01ff70;
$color_yellow  : #ffdc00;
$color_orange  : #ff851b;
$color_red     : #ff4136;
$color_fuchsia : #f012be;
$color_purple  : #b10dc9;
$color_maroon  : #85144b;

$accent_red:            #b9262f;                  // #b9262f
$desturated_red:        #9a2a31;                  // #9a2a31
$desturated_red_darker: #7d161d;                  // #7d161d
$accent_orange:         #fda630;                  // #fda630
$anchor_link:           #fa4c06;                  // #fa4c06
$accent_orange_light:   #fd7b40;                  // #fd7b40
$accent_orange:         #fda630;                  // #fda630
$accent_yellow:         #ffcd55;                  // #ffcd55
$mob_nav_border_color:  darken($accent_red, 8%);  // #971f26
$scroll_accent: $grey_80;                         // #333333
$scroll_bg: $grey_20;                             // #cccccc

// MESSAGES
$form_good: #13c607;  // #13c607
$error:     #ff7e7e;  // #ff7e7e
$warning:   #ff7e7e;  // #ff7e7e
$notice:    #ff7e7e;  // #ff7e7e
$success:   #68d388;  // #68d388

// COLOR DEFINITIONS
$lt-gray:      #f1f1f1; // #f1f1f1
$gray:         #5f5f5f; // #5f5f5f
$charcoal:     #3d3d3d; // #3d3d3d
$blue:         #0575af; // #0575af

// SOCIAL
// https://brandcolors.net
$github:       #000000; // #000000
$facebook:     #3460a1; // #3460a1
$twitter:      #1da1f2; // #1da1f2
$linkedin:     #136d9d; // #136d9d
$google_plus:  #de5543; // #de5543
$youtube:      #ee3138; // #ee3138
$flikr_blue:   #0063dc; // #0063dc
$flikr_pink:   #ff0084; // #ff0084
