@import 'colors_greyscale';
@import 'colors_basic';
@import 'colors_material';
@import 'colors_schemes';


$body_bg:               $grey_05;
$scroll_accent:         $grey_80;
$scroll_bg:             $grey_20;
$body_bg:              $grey_05;
$scroll_accent:        $grey_80;
$scroll_bg:            $grey_20;
$anchor_link:          $grey_90;
$link_color:           $grey_90;

// Typography
$text-color:           #636b6f;
// Navbar
$navbar-default-bg:    #f5f8fa;


// Buttons

// Inputs
$input-border:            lighten($text-color, 40%);
$input-border-focus:      lighten($theme-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

$font_color_base:       $grey_90;
$theme_font_color:      $font_color_base;

// Panels
$panel-default-heading-bg: #fff;


$mob_nav_border_color:  darken($accent_red, 8%);

$theme_dark_body_bg:     #25292c;
$theme_dark_body_light_text: #72777c;

$btn-default-color:      $text-color;
$component-active-bg:    $color_olive;
$input-btn-focus-color:  lighten($text-color, 30%);
$top_navigation: $grey_80;
$top_navigation_txt: $white;
$top_navigation_submenu: lighten($grey_80, 10%);
$top_navigation_submenu_txt: $grey_05;
