//
// table{border:0;border-collapse:collapse;border-spacing:0;empty-cells:show;font-size:100%;}
// th,td{vertical-align:top;text-align:left;font-weight:normal;}
//
// .a-center{text-align:center!important;}
// .a-right{text-align:right!important;}

.cart  {

  .product-name{
    margin:0 0 10px;
    font-weight:normal;
    line-height:1.2em;
    font-size:1.1em;
  }

  .product-image {
    width:168px;
    display:block;
  }

  .input-text.qty {
    text-align: inherit;
  }

  .totals-inner {
    padding: 2em 2em 2em 1em;
    font-size: 12px;
  }

  .cart-table {

    td,
    th {
      padding: 1em 0.5em;
    }


    thead tr { border-bottom:1px solid #e5e5e5; }

    tfoot {
      font-size: 0.8em;

      button {
        background: $white_30;
        color: $white;
      }
    }

    tfoot td{
      padding:5px 10px;
      border:none;
    }

    input.qty{
      width:4em!important;
    }
  }

  .cart-table tfoot td.last{
    padding:15px 0 0;
    border-bottom:1px solid #eee;
  }

  .btn-continue {
    float: left;

  }

  .discount-form {
    position: relative;
  }


}

.a-left { text-align: left; }
.a-right { text-align: right; }
.a-center { text-align: center; }

.cell-label {
  @extend .helper-text;
}

.price{
  white-space: nowrap!important;
}

.messages,
.messages ul{list-style:none!important;margin:0;padding:0;}
.messages {overflow:hidden;margin:0 0 10px;}
.messages li{margin:0 0 1%;}
.messages > li:last-child{margin-bottom:0;}
.messages li li{margin:0;}

.cart-collaterals{margin-top:2%;}

.cart .discount .buttons-set{margin:10px 0 0;border:0;padding:0;text-align:left;}
.cart .discount .buttons-set button.button{float:none;margin-left:0;}
.cart .discount label{display:block;margin:0 0 5px;}
.cart .discount input.input-text{width:100%;}

.cart {
  .totals {
    background-color:#f5f5f5;

    table { width:100%;}
    td { padding:1px 0px 1px 7px;}
    tfoot td { padding-bottom:5px;}
    tfoot td strong { font-size:16px;}
    .checkout-types { text-align:right;}
    .checkout-types li { clear:both; margin:10px 0;}
  }
  .totals-inner { padding:20px;}
}

.item-options{line-height:15px;}
.item-options dt{white-space:nowrap;float:left;margin-right:7px;}
.item-options dd{padding-left:11px;margin:0 0 2px;}

.data-table .item-options dt{background:url(http://www.klsecurity.com/skin/frontend/fortis/default/images/img/bullet.png) 0 4px no-repeat;padding-left:10px;white-space:normal;}
.data-table .item-options{margin:0 0 0 10px;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (   -moz-min-device-pixel-ratio: 1.5), only screen and (   min--moz-device-pixel-ratio: 1.5), only screen and (     -o-min-device-pixel-ratio: 3/2), only screen and (    -ms-min-device-pixel-ratio: 1.5)  {
  .cart .discount h2{padding:15px 10px;font-weight:normal;font-size:1.3333em;line-height:1.25em;text-transform:uppercase;}
  .data-table thead,.cart-table thead tr{border-color:#ddd;}
  .item-options dd{color:#aaa;}
  .cart fieldset,input.input-text,button.button span{-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
  .product-image img{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
  input.input-text{border-color:#ccc;box-shadow:0 1px 3px rgba(0, 0, 0, 0.07) inset;}
  input.input-text:hover{border-color:#999;color:#333;}
  input.input-text:focus{border-color:#333 #777 #777;box-shadow:0 1px 3px rgba(0,0,0, 0.2) inset;outline:none;}
  .buttons-set button.button{margin-left:0;margin-right:5px;margin-bottom:5px;}
  .page-title h1{line-height:50px;}
  .data-table tbody tr,.data-table tbody tr.odd{border-bottom:1px solid #eee;}
  .data-table tr.odd td{border-right:1px solid #eee;}
  .data-table tr td.last{border-right:none;}

  .cart fieldset{padding:20px;}
  .cart-table-wrapper{padding:10px;background-color:#fff;box-shadow:1px 1px 3px rgba(0, 0, 0, 0.15);}
  .cart-table tfoot tr.last{border-bottom:none!important;}
  .cart-table tfoot td.last{padding:15px 10px 0;border-bottom:none;}
  .cart-collaterals{margin-top:0;}
  .cart .cart-left-column{margin-top:2%;}
  .cart .discount > *{padding-left:10px;padding-right:10px;}
  .cart .discount h2{font-size:1.1666em;}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and ( min--moz-device-pixel-ratio: 1.5),
only screen and ( -o-min-device-pixel-ratio: 3/2),
only screen and ( -ms-min-device-pixel-ratio: 1.5) {
  .main{margin-top:0;padding-top:0;}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
  .mobile-grid-half{width:48%!important;margin-left:1%;margin-right:1%;}
}

@media only screen and (min-width: 640px) and (max-width: 767px){
  .container{max-width:602px;}
}

@media only screen and (min-width: 960px){
  .cart-table .product-image{max-width:80px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px){
  .nobr{white-space:normal!important;}
  .cart-table .product-name{font-size:1em;font-family:inherit;}
  .cart-table .product-image{max-width:80px;}
}

@media only screen and (max-width: 767px){
  .col-main{margin-bottom:30px;}
  .nobr{white-space:normal!important;}
  .data-table thead .nobr{white-space:normal!important;}
  .data-table th,.data-table td{padding:5px;}
  .cart .data-table thead{display:none;}
  .cart .data-table tbody{background:transparent!important;}
  .cart .data-table tr,.cart .data-table td{border:none!important;background:transparent!important;display:block;width:100%;text-align:left!important;}
  .cart .data-table tr{border-bottom:1px solid #e5e5e5!important;margin-bottom:20px;}
  .data-table .cell-label{display:inline-block;width:30%;min-width:100px;max-width:140px;margin-right:10px;font-weight:bold;}
  .page-title{position:relative;}
  .cart-table tfoot tr.first td{text-align:center!important;padding:0;margin-bottom:20px;}
  .cart-table tfoot button{display:inline-block;float:none!important;margin:0 0 3px;padding:0;}
}
