// VALIDATION CLASSNAMES FOLLOW THE SAME CONVENTION AS
// JQUERY FORM VALIDATOR LIBRARY FOR COMPATIBLE SYTLING

// INPUT FIELD WRAPPER FOLLOWS MATERIALIZE LIBRARY FOR ANIMATION
// AND NICE TRANISITONS

// TODO: CONSOLIDATE FEATURES OF EACH LIBRARY INTO A SMALLER MANAGEABLE PACKAGE

// INPUT WRAPPER
.input-field {

  &.has-success {

    label{ color: $validation_success !important; }

    input,
    select,
    textarea {
      // color: $validation_success !important;
    }
  }

  &.has-error {
    background: rgba(255,255,255,.1);
    box-shadow: 0px 2px 0px 6px rgba(255, 255, 255,.1);


    label{
      color: $validation_error !important;
    }

    input,
    select,
    textarea {
      // color: $validation_error !important;
    }
  }
}

// ACCENTED FORMS (DARK OR COLORED BACKGROUND)

form.accented {
  .input-field {

    &.has-success {
      label{
      }
    }


    &.has-error {
      label {
        color: #ff8d85 !important;
      }
    }
  }
}

form.disabled {
  button.submit,
  input[type="submit"] {
    color: $black_40;
    background: $white_40;
  }
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}

%spinner:after {
  content: '';
  box-sizing: border-box;
  position: relative;
  top: 0%;
  display: inline-block;
  vertical-align: middle;
  left: 1em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}


#validation-message {
  display: none;
  margin: auto;
  padding: 1em;

  .accented & {
    background: rgba(255,255,255,.1);
  }

  &::before { color: inherit; }

  // VALIDATION IN PROGRESS
  &.in-progress {
    color: inherit;
    display: inline-block;

    &::before { content: "Checking Form..."; }
  }

  // FORM HAS ERROR
  &.has-error {
    color: $validation_error;
    display: inline-block;

    &::before { content: "Please complete required fields."; }
  }

  // FORM IS VALID, TRY SENDING MESSAGE
  &.is-sending {
    @extend %spinner;
    color: $validation_success;
    display: inline-block;

    &::before { content: "Submitting Form..."; }
  }

  // SENDING MESSAGE SUCCESS
  &.send-successful {
    color: $validation_success;
    display: inline-block;

    &::before { content: "Message send success"; }
  }

  // SENDING MESSAGE ERROR
  &.send-failure {
    color: $validation_error;
    display: inline-block;

    &::before { content: "There was a error sending your message."; }
  }


}
