
.input-field {
  position: relative;
  margin-top: 1rem;
}

/* MATERIAL INPUTS */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid rgb(158, 158, 158);
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  // padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}


/* MATERIAL LABELS */
label {
  color: rgb(158, 158, 158);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 1rem;
  transition: transform .2s ease-out;
  transform-origin: 0% 100%;
  text-align: initial;
  transform: translateY(12px);

  &.active {
    transform: translateY(-14px) scale(0.8);
  }
}
