// FORMS
label {
  font-size: 0.8rem;
  display: block;
  margin: 0.6em 0 0.4em;
  font-size: 1em;
  color: #e2e2e2;
  color: $placeholder-text-color;
  z-index: 2;
}

select,
textarea,
input {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;
  max-width: 100%;
  width: auto;
  font-family: inherit;
  font-size: 1.1em;
  line-height: 1em;
}

select:focus { outline: 1px solid #c9f3ef; }
textarea { height: 7em; }
input[type="reset"] { display: none !important; }

input[type="submit"] {
  margin: 0.7em 0;
  padding: 1em;
  border: 0;
  border-radius: 3px;
  background: $accent_orange;
  color: $white;
  transition: 0.5s ease;

  &:hover {
    background: #26a69a;
    cursor: pointer;
  }
}


// input:-webkit-autofill,
// textarea:-webkit-autofill,
// select:-webkit-autofill {
//   background-color: rgb(250, 255, 189);
//   background-image: none;
//   color: rgb(0, 0, 0);
// }


#web_to_lead {
  margin: auto;
  font-size: 0.9em;
  width: 100%;
}

// CHROME AUTOFILL BACKGROUND BUG *HOTFIX
// https://bugs.chromium.org/p/chromium/issues/detail?id=46543#c83
#about_contact_form input:-webkit-autofill,
#quote-only input:-webkit-autofill,
#web_to_lead input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #dedede inset !important; /* Change the color to your own background color */
    -webkit-text-fill-color: #000000;
}

#special-pricing-form input:-webkit-autofill { -webkit-box-shadow:0 0 0 50px #eeeeee inset !important; }

#home-contact-form input:-webkit-autofill { -webkit-box-shadow:0 0 0 50px #b9262f inset !important; }

#about_contact_form input:-webkit-autofill:focus,
#quote-only input:-webkit-autofill:focus,
#web_to_lead input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #dedede inset !important;
    -webkit-text-fill-color: #000000;
}



input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 50px white inset, 0 0 0 4px white  !important;
   -webkit-text-fill-color: #000000;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(250, 255, 189, .1) !important;
  background-image: none;
  color: rgb(0, 0, 0);
}



.contact-form-aside,
#about_contact_form {
  background: #dedede;
  padding: 1em 2em 2em 2em;
  color: #797979;
}


#about_contact_form {
  margin: auto;
  font-size: 0.9em;

  label#file_upload {
    margin: 0;
    margin-top: 26px;
    padding: 15px 20px;
    background: $white_10;
    line-height: 1em;
  }

  input[name="attachment"] { display: none; }
  &.submit_project { width: 100%; }
  &.submit_project > div { width: 50%; }
}
