
@at-root {
#theme-demo {

  .lp-section-content-wrap { margin-top: 0; }

  section {

    .page-wrap {
      padding: 1em 0;
      overflow: unset;
    }
  }

  .code_examples .container {
    display: block;
    margin: 1em 0;
    border-bottom: 1px solid #84cc4e;
    padding: 1em 0;

    &__title {
      display: block;
    }

    &__example {
      display: inline-block;
      margin: 1em 0;
      border: 1px dotted #ccc;
      padding: 1em;
      background: #fff;

      * { outline: 1px dashed rgb(194, 129, 129); }
    }
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #1bbcff;
    background-color: #efefef;
    border-radius: 3px;
  }


  pre {
    display: block;
    padding: 0 1em;
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.5;
    color: #919191;
    background-color: #ececec;
    border: 1px solid #d5d5d5;
  }

  pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }

  .flex_grid--5 {
    justify-content: flex-start;
    > * {  flex: 0 1 auto; margin: 0 .4em 0 0; }
  }
}
}
