/*---
title:   Inline Definition List
section: components 
---
<dl>
  <dt>Phone:</dt>
  <dd>123-456-7890</dd>
</dl>
<dl>
  <dt>Address:</dt>
  <dd>123 Street</dd>
</dl>
<dl>
  <dt></dt>
  <dd>City, State Zip</dd>
</dl>
<dl>
  <dt>Email:</dt>
  <dd>abc@defghi.com</dd>
</dl>
*/


.definition_list {
  &--inline {
    dl {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 20px;
      margin-top: 0;
      text-align: left;
    }
    
    dt {
      max-width: 50px;
      display: inline-block;
      text-align: left;
    }
    
    dd {
      display: inline-block;
      text-align: left;
    }
  }
}
