/*--- 
title: Border Radius 
section: Formatting 
---

__BORDER RADIUS__ 

- br_1   - border-radius: 1rem
- br_2   - border-radius: 2rem
- br_3   - border-radius: 3rem
- br_50  - border-radius: 50%
- br_100 - border-radius: 100%

*/


.br {
  &_1 { border-radius: 1rem; }
  &_2 { border-radius: 2rem; }
  &_3 { border-radius: 3rem; }
  &_50 { border-radius: 50%; }
  &_100 { border-radius: 100%; }
}
