


// Based on the Tachyons Framework
// http://tachyons.io
.margin {
  &-0  { margin:        0 }
  &-t0 { margin-top:    0 }
  &-r0 { margin-right:  0 }
  &-b0 { margin-bottom: 0 }
  &-l0 { margin-left:   0 }
  &-x0 { margin-left:   0; margin-right:  0 }
  &-y0 { margin-top:    0; margin-bottom: 0 }
}


.auto_margin { margin: auto !important; }
.no_margin { margin: auto !important; }



// UTILITY CLASSES
.spacer {
  padding: 1.5em 0;
}
