// TODO: UPDATE HTML / THEME TEMPLATE FILES
// TODO: CONVERT  #special-pricing-button TO BUTTON VS INPUT


// POPUP CONTENT
.quote-body {
   padding-top: 10px;

  #quote-only {
    input,
    textarea,
    select {
      border-radius: 3px;
      border: 1px solid #ccc;
      box-shadow: inset 0px 1px 1px #999;
      font-weight: 500;
      outline: 0;
      padding: 4px 7px;
    }

    ::-moz-placeholder { color: #999; opacity: 1; }

    input {
      &.red { border-color: #f00; }
      &:focus { border-color: #339933; }
      &::-webkit-input-placeholder,
      &:-ms-input-placeholder { color: #999; }
      &::-moz-placeholder { color: #999; opacity: 1; }
    }

    textarea {
      width: 90%;
      display: block;
      margin: 10px auto;
      background-color: #f0f0e3;
      font-size: 15px;

      ::-moz-placeholder,
      &::-moz-placeholder { color: #999; opacity: 1; }
      &::-webkit-input-placeholder,
      &:-ms-input-placeholder { color: #999; }
    }

    #input[type="text"] {
      width: 90%;
      margin: 0 auto;
      display: block;
      margin-top: 10px;
      background-color: #f0f0e3;
      font-size: 15px;
    }

    input[type="file"] {
      border-radius: 0px;
      box-shadow: inset 0px 0px 0px #999;
      border: none;
      width: 0;
      display: none;
    }

    #quote-only span#filename {
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
    }

    input[type="submit"] {
      color: white;
      font-size: 14px;
      height: 35px;
      display: block;
      margin: 10px auto;
      border: none;
      cursor: pointer;
      width: 100px;
      border-radius: 0px;
      box-shadow: inset 0px 0px 0px #999;
    }


    select {
      width: 97%;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      background-color: #f0f0e3;
      color: #999;
      font-size: 15px;
      padding-left: 0;
    }

    .text-area {
      min-height: 75px;
      resize: vertical;
    }
  }
}


#thank-you-quote-message {
  color: white;
  padding: 10px;
}

#thank-you-spinner {
  height: 100px;

  img {
    display: block;
    margin: 0 auto;
    padding-top: 25px;
  }
}


// DEPRECATED
// ON PAGE CTA
.special-pricing-wrapper{
  display: inline-block;
  float: right;
  padding-left: 1.5em;

  .badge {
    @extend .z-depth-2;
    background-color: $white_10;
    max-width: 200px;
    border-radius: 6px;
    border: 1px solid $white_15;
    display: inline-block;
    margin: 0.8em 0;
    padding: 1em 1.3em;
    text-align: center;
  }


  .badge-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -0.9px;
    position: relative;

    i { margin: 0; }
    br { display: none;}

    > * {
      flex: 0 1 auto;
    }
  }

  .badge-content {
    padding-top: 10px;

    button {
      display: block;
      margin: 10px auto;
      cursor: pointer;

      @extend %hoverable-1-half;
    }
  }
  .badge-footer {

  }
}
