$modal_header_color: $accent_red;
$modal_content_color: #fafafa;
$modal_footer_color: $white_15;

.modal-container {
  visibility: hidden;
  position: fixed;
  z-index: 0;

  .modal-overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    transform-origin: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
  }

  .modal {
    display: block;
    width: 450px;
    position: fixed;
    backface-visibility: hidden;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    top: 50%;
    z-index: -1;
    opacity: 0;
    transform: translateX(0) translateY(-55%) translateZ(0) scaleX(1.2) scaleY(1.2) rotateX(0);
  }

  &.active {
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10001;

    .modal-overlay {
      opacity: 1;
      z-index: 1;
    }

    .modal {
      top: 50%;
      z-index: 2;
      opacity: 1;
      transform: translateX(0) translateY(-50%) translateZ(0) scaleX(1) scaleY(1) rotateX(0);
    }
  }
  .modal-confirmation { display: none; }
}

$modal_entry_transition: 0ms linear 0ms;
$modal_exit_transition: 0ms linear 600ms;

// EXIT TRANSITIONS
.modal-container {
  @include transition(
    visibility $modal_exit_transition,
    z-index $modal_exit_transition
  );

  .modal-overlay {
    will-change: opacity;
    @include transition(
      opacity 300ms cubic-bezier(0.74, 0.19, 0.39, 1) 300ms,
      z-index $modal_exit_transition
    );
  }

  .modal {
    @include transition(
      height 200ms $easeInOutQuart 0ms,
      transform 200ms cubic-bezier(1, 0.35, 0.56, 1.04) 220ms,
      opacity 200ms cubic-bezier(0.77, 0, 0.175, 1) 200ms,
      z-index $modal_exit_transition
    );

    input.required,
    textarea { transition: visibility 0ms linear 0ms; }
  }

  // ENTRY TRANSITIONS
  &.active {
    @include transition(
      visibility $modal_entry_transition,
      z-index $modal_entry_transition
    );

    .modal-overlay {
      will-change: opacity;
      @include transition(
        opacity 300ms $easeOutQuart 100ms
      );
    }

    .modal {
      @include transition(
        // transform 300ms cubic-bezier(1, 0.26, 0.55, 1) 100ms,
        transform 300ms $easeOutQuart 100ms,
        opacity 250ms $easeInOutQuart 0ms,
        z-index $modal_entry_transition
      );
    }
  }
}

// MODAL AND MODAL PARTS STRUCTURE
.modal-header {
  @extend .z-depth-2;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  > * { flex: 0 1 auto; }

  i { margin: 0 0.6rem 0 0; }

  span {
    display: inline-block;
    font-weight: 600;
    font-style: italic;
    vertical-align: middle;
  }
}

.modal-content {
  overflow-y: auto;
  .input-field label { margin: 0; }
}

.modal-footer {
  @extend .z-depth-4;
  width: auto;

  button {
    display: block;
    margin: 0 0 0 auto;
   }
}


// MODAL ELEMENT STYLES: COLOR, TYPOGRAPHY, LAYOUT
.modal {
  background-color: $modal_content_color;
  border-radius: 2px;
  padding: 0;
  margin: auto;

  h1,h2,h3,h4 { margin-top: 0; }

  .modal-header{
    background: $modal_header_color;
    color: $white;
    font-size: 1.7em;
    padding: 0.2em 0 0.2em 0;
  }

  .modal-content {
    background: $modal_content_color;
    padding: 0.5em 2em;
  }

  .modal-footer {
    background: $modal_footer_color ;
    border-radius: 0 0 2px 2px;
    padding: 0.7em 1em ;
    border-top: 1px solid $white_10;
  }

  .submit {
    width: 130px;
    border-radius: 3px;
    padding: 0.7em 0.3em;
  }

  .close {
    position: absolute;
    top: 0;
    right: -0.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }


  // Modal with fixed action footer
  &.modal-fixed-footer {
    padding: 0;
    height: 70%;

    .modal-content {
      position: absolute;
      height: calc(100% - 56px);
      max-height: 100%;
      width: 100%;
      overflow-y: auto;
    }

    .modal-footer {
      border-top: 1px solid rgba(0, 0, 0, .1);
      position: absolute;
      bottom: 0;
    }
  }

  // Modal Bottom Sheet Style
  // (LIKE A SHEET OF PAPER, NOT A STYLESHEET)
  &.modal.bottom-sheet {
    top: auto;
    bottom: -100%;
    margin: 0;
    width: 100%;
    max-height: 45%;
    border-radius: 0;
    will-change: bottom, opacity;
  }
}

// FILE ATTACHMENT CHECKBOX TOGGLE
#is_attachment[type="checkbox"]:not(:checked) ~ .file-field {
  display: none;
}

#is_attachment[type="checkbox"]:checked ~ .file-field {
  display: block;
}

#is_attachment[type="checkbox"] {
  display: none;
}

#is_attachment[type="checkbox"] + label {
  transform: none;
}

// FILE ATTACHMENT FIELD
.file-field {
  font-size: 12px;

  .btn {
    height: 1em;
    line-height: 1;
    width: 2em;
    font-size: 1em;

    &::after {
      content: "File";
      position: absolute;
      top: 0;
      left: 0;
      padding: 1em;
    }

    &:hover {
      height: 1em;
      line-height: 1;
      position: unset;
      font-size: 1em;
    }

    input.file {
      font-size: 1em;
    }
  }

  .file-path-wrapper {
    overflow: hidden;
    padding-left: 10px;
    margin: 0;

    input.file-path {
      margin-bottom: 0;
      pointer-events: none;
      font-size: 1em;
      line-height: 1;
      height: 1em;
      padding: 1em;
    }
  }

  input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
  }
}
