

// SECTION CONTENT MODIFIERS
#landing-page .lp-section-content-wrap {

  .subtext {
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  // CARD STYLE CONTENT CONTAINER
  &.content_style--card{
    @extend %z_depth_2;

    border-radius: .7em;
    padding: 1.3em 1.4em;

    h2 {
      font-size: 1.5em;
      line-height: 1.4;
      font-weight: 400 !important;
      margin: 0;
    }

    .green-btn { display: block; }

    .subtext {
      margin-top: 1em;
      margin-bottom: 0.2em;
      font-size: 1em;
    }
  }

  .green-btn { margin-top: 1em; }
}


// SECTION FEATURED IMAGE MODIFIERS
#landing-page .lp-section-image-wrap {
  &.bg_size--contain {
    .lp-section-image { background-size: contain; }
  }
}



// MONEY-TREE VARIATION 3.7
// 1- BLUE SKY AND TREES2.72.7
//

// --- section 2

$lp_sky_blue: rgb(143, 218, 255);
$lp_sky_blue_header: #6ea7ce;
$lp_sky_green: #8acf55;

#landing-page section.wireframed.dark_theme--blue {

  .highlight-block-header { color: $lp_sky_green;
  }
  .highlight-block-content {
    color: $lp_sky_blue;
  }
  .green-btn {
    border: 2px solid;
    background: inherit;
    color: $lp_sky_green;
  }
}


.bg_color--theme-dark.wireframed.dark_theme--blue {

}

#landing-page {
  .money_tree__highlight-accounts {

    .highlight-block-content {
      margin: 1.5em auto;
    }

    .img-wrap.circle--fill::before {
      @extend %z_depth_2;
      border: 2px solid $lp_sky_green;
    }

    .highlight-block ul li {
      margin: 1.3em 0;
    }

    .compare {
      color: $fib_blue_light;
    }
  }
}



// MONEY-TREE VARIATION 2


// section 1
// bg_gradient1
 .bg_color--theme-dark {
  background-color: #186192;
  background: #186292;
  background: -moz-linear-gradient(top, #186292 0%, #3b7091 100%);
  background: linear-gradient(to bottom, #1a6493 0%,#004c84 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186292', endColorstr='#3b7091',GradientType=0 );
}

// SECTION 2
// // BLUE TO LIGHTER BLUE
.bg_gradient2 {
  background-color: #186192;
  background: #186292;
  background: -moz-linear-gradient(top, #186292 0%, #3b7091 100%);
  background: -webkit-linear-gradient(top, #004c84 0%,#0773b7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186292', endColorstr='#3b7091',GradientType=0 );
}


// SECTION 3
// green to darker green
.bg_grandent-3 {
  background-color: rgba(123, 178, 81, 0.74);
  border-top: 5px solid #9e754a;
  border-bottom: 5px solid #9e754a;
  background: linear-gradient(to bottom, rgb(92, 162, 13) 0%,rgb(125, 192, 50) 10%,rgb(107, 169, 36) 90%,rgb(93, 140, 41) 100%);
}

// SECTION 4
// white/grey
.bg_gradient-4 {
  background: #a2b2bd;
  background: #186292;
  background: -moz-linear-gradient(top, #186292 0%, #3b7091 100%);
  background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%,rgb(202, 202, 202) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186292', endColorstr='#3b7091',GradientType=0 );
}

#landing-page {

.highlight_block--wireframe {

  .img-wrap.circle--fill  {
    padding: 0.5em 0;

    &::before {
      padding: 0.5em;
      border: 2px solid #7bbd43;
      background: #10648c;
    }
  }
  .highlight-block-footer {
    padding: 0;
  }
}

}

// CONSERVATIVE VERSION
#landing-page .testimonial-content p {
  @extend %z_depth_1;
  padding: 1em 0;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: -1px;
  border-radius: 5px;
  padding: 1em;
  font-size: 1.3em;
  word-spacing: 3px;
  background: rgb(21, 114, 183);
}


// COLORFUL VERSION
// .bg_grandent-3"
// #landing-page .testimonial-content p {
//   @extend %z_depth_2;
//   background: rgba(63, 63, 63, 0.12);
//   border: 1px solid;
// }

// SECTION TITLE
.testimonial-content h3 {
  color: white;
  text-shadow: 1px 1px 2px rgba(1,1,1,.5) !important;
  font-size: 2.5em;
}

section.testimonials .section__title {

}

section.lp_banner .card.flexible {

}


#landing-page .testimonial-byline {
  padding-left: 60px;
  position: relative;
  display: inline-block;
  margin: auto;
  transform: translateX(-10px);
}


#landing-page .flex-grid-section .lp-section-content-wrap {
  display: flex;
  flex-wrap: wrap;

  .card:first{
    flex: 1 1 auto;
    margin: 0 0 0 auto;
    max-width: 520px;

    .card__title {
      text-align: center;
      text-shadow: 1px 1px 6px rgba(22, 22, 22, 0.85);
      font-weight: 500;
      color: #8acf55;
      font-size: 2em;
    }
  }

  .card_style--flat .card__title {
    background: transparent;
    position: relative;
    font-size: 1.8em;
    line-height: 1.3;
    padding: 0;
    letter-spacing: -1px;
    margin: 0 auto 1em;
    text-shadow: none;
  }

  h3 {
    text-shadow: 1px 1px 6px rgba(22, 22, 22, 0.85) !important;
    color: #ffffff;
    margin: 0;
    font-weight: 500 !important;
    font-size: 0.65em;
  }
}


// /images/landing-pages/money-tree/firstib-logo.svg
//
#landing-page .firstib_logo--large-round {
  @extend %z_depth_3;
  border-radius: 50%;
  width: 170px;
  padding: 25px;
  height: 170px;
  background-color: white;
}
