/// PAGE LOADER
.ready-loader { display: none; }

.ready-loader {
  margin: 0;
  opacity: 1;
  position: fixed;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  transition: .5s;


  &.complete {
    animation: loadReady;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  img {
    display: block;
    margin: auto;
    flex: 0 0 auto;
    align-content: center;
    align-self: center;
  }
}

@-webkit-keyframes loadReady {
  0% { opacity: 1; }
  70% { opacity: 0; }
  99% { opacity: 0; transform: scale(1,1); z-index: 999; }
  100% { opacity: 0; transform: scale(0,0); z-index: -1; }
}

@keyframes loadReady {
  0% { opacity: 1; }
  70% { opacity: 0; }
  99% { opacity: 0; transform: scale(1,1); z-index: 999; }
  100% { opacity: 0; transform: scale(0,0); z-index: -1; }
}
