// WINDOW SCROLLBAR
$scrollbar_highlight: saturate($theme_primary, 10%);
$scrollbar_highlight: lighten($scrollbar_highlight, 10%);
$scrollbar_bg: transparentize($theme_primary, .5);
$scrollbar_button_height: 4px;
$scrollbar_button_width: 4px;
