/*
 EXTEND %svg_icon
 TO APPLY THE DEFAULT SVG ICON STYLES
 OR CREATE YOUR OWN CLASS BELOW
 */

@import "../icons/icon_svg_factory";

// ICON BASE ELEMENT AND CLASS
i.svg_icon {
  @extend %svg_icon;
  &--circle {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-size: 70%;
  }
}

i.sfp { @extend %custom_svg_icons; }

// SFP LOGO
i.sfp {
  &--white   { background-image: define_icon(sfp, sfp_logo, $white); }
  &--black   { background-image: define_icon(sfp, sfp_logo, $black); }
}

.icon--facebook { background-image: define_icon(font-awesome, facebook, $white); background-color: $facebook; }
.icon--twitter { background-image: define_icon(font-awesome, twitter, $white);  background-color: $twitter; }
.icon--linkedin { background-image: define_icon(font-awesome, linkedin, $white);  background-color: $linkedin; }
.icon--googleplus { background-image: define_icon(font-awesome, google-plus, $white);  background-color: $google_plus; }
 
.icon--newspaper { background-image: imageUrl( $media_url, "newspaper.png"); }
.icon--shipping { background-image:  imageUrl( $media_url, "shipping-black.png"); }
.icon--cursor { background-image:  imageUrl( $media_url, "cursor.png");}
.icon--shirt { background-image:  imageUrl( $media_url, "shirt.png");}
.icon--shipping-white { background-image:  imageUrl( $media_url, "shipping-black.png"); }
