
$body_bg: #F6F6F6;

$light_blue: rgb(213, 236, 246);
$bright_blue: rgb(0, 151, 212);
$blue_grey: rgb(237, 243, 247);
$dark_blue: rgb(24, 97, 146);
$green: rgb(84, 150, 36);

$theme_blue_dark: $dark_blue;
$theme_blue_light: $bright_blue;
$theme_green: $green;

$theme_primary: $dark_blue;

$theme_light: rgb(0, 196, 225);
$theme_base: rgb(0, 148, 225);
$theme_dark: rgb(0, 111, 225);

$theme_light_red: rgb(232,63,69);
$theme_dark_red: rgb(185,34,40);
