
$icon-font-path: "assets/fonts";
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;




/* <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700" rel="stylesheet"> */

// https://fonts.googleapis.com/css?family=Lato|Marvel|Megrim|Miriam+Libre|Open+Sans+Condensed:300|Reenie+Beanie|Roboto:100,700 
//
%heading {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'Lato', sans-serif;
}
