

// TOOLBAR CONTAINER
.toolbar {
  align-items: baseline;
  border-bottom: 1px dashed $white_30;
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  padding: 0.5em 0 1em;
  position: relative;

  &-bottom {
    margin-top: 10px;

    .pager { border-top: 0; }
    .sorter { display: none; }
    .toolbar { border-bottom: 0; }
  }



  label {
    position: relative;
    color: inherit;
    transform: initial;
  }


  .sorter {
    align-items: baseline;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
  }

  .amount,
  .limiter,
  .pager,
  .sort-by,
  .view-mode {
    display: inline-block;
    font-size: inherit;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    font-size: 1.1em;
    height: auto;
    margin: 0 0.3em;
    padding: 0.5em 0.4em 0.4em 0.5em;
    width: inherit;

    &::-ms-expand {
      display: none;
    }
  }
}



// PRODUCT SORTER
.sorter {
  label,
  select {
    display: inline-block;
  }

  .view-mode {
    display: inline-block;

    label { margin-right: 5px; }

    .grid,
    .list {
      background-repeat: no-repeat;
      display: inline-block;
      margin: 0;
      overflow: hidden;
      text-indent: -9999px;
    }
  }

  .sort-by {
    .sort-order {
      border: 1px solid transparent;
      display: inline-block;
      height: 100%;
      position: relative;
      text-align: center;
      vertical-align: top;
      width: 1.6em;

      &::after {
        display: inline-block;
        font-size: 2em;
        height: 100%;
        margin-top: -0.1em;
        position: relative;
        text-align: center;
      }
    }

    .asc::after { content: '\25BE'; }
    .desc::after { content: '\25B4'; }
  }

  .sort-by .category-asc,
  .sort-by .category-desc {
    height: 30px;
    line-height: 30px;
    width: 30px;
  }
}

// PAGINATOR
.pager {
  margin: 0;
  padding: 0;
  text-align: center;

  .pages {
    display: inline-block;
    vertical-align: middle;

    li.next,
    li.previous{
      position: relative;
    }

    li a.previous,
    li a.next {
      @extend %svg_icon;
      transition: background-color 300ms ease-in-out, background-position 300ms ease-in-out;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      padding: 0;
      margin: 0;


      &:hover { background-color: $black_30; }
    }

    a.previous { @extend %direction_prev;}
    a.next {@extend %direction_next; }

    ol {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
    }

    li {
      cursor: pointer;
      display: inline-block;
      // height: 2em;
      line-height: 2em;
      text-align: center;
      transition: 0.3s;
      width: 1.7em;

      &:hover {
        background-color: $white_40;
      }

      a {
        color: inherit;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}
