// BASE

html,
body {
  position: relative;
  min-height: 100%;
  display: block;
  padding: 0;
  margin: 0;
}


// A SECTION IS A HIGH LEVEL SEMANTIC BLOCK
// SECTIONS SHOULD SPAN 100% OF THE HORIZONTAL SPACE
// OF ITS PARENT CONTAINER
// HEADER AND FOOTER ARE SECTIONS WITH SPECIFIC CONTEXT
header,
footer,
section {
  display: block;
  position: relative;
  margin: initial;
  max-width: 100%;
}


// A ROW IS AN INNER WRAPPER THAT SETS LAYOUTS, BOUNDARIES, AND PADDING
.row {
  margin-left: 2em;
  margin-right: 2em;
  display: block;
  max-width: $default_row_max_width
}

.vpad  { padding-top: 2em; padding-bottom: 2em; }
.hpad  { padding-left: 2em; padding-right: 2em; }


// CONTENT BLOCKS ARE CONTAINERS THAT WRAP CMS / STATIC CONTENT
// USUALLY THAT COME FROM WYSIWYG EDITOR
.content-block {
  display: block;
  padding: 1em 0;
  width: 100%;

  &:first-of-type {
    padding-top: 0;
  }
}


body { min-width: $default_page_min_width; }
