///*---
/// title: Flex Classes
/// section: Layout
/// ---
///
///
/// \*MODIFIER
///
/// __flex-wrap__
///
/// ADDING FLEX WRAP BREAKS THE ROW INTO A GRID AFTER THE CONTAINER
/// REACHES 100%, IT ALSO RESETS THE FIRST AND LAST CHILD MARGINS TO MATCH THE
/// REST OF THE ELEMENTS
///
///
/// ### flex-col
///
/// CHANGE FLEX DIRECTION FROM ROW TO COLUMN AND ADJUST CHILD PROPERTIES TO PREVENT
/// VERTICAL COLLAPSE
///
/// ### EXTRAS
///
/// | Class | Description |
/// | ----- | ----------- |
/// | flex-item  | Manually add the properties of a flex > child descedant  |
/// | flex_fit   | Force all child nodes to take up space as required (autofit)  |
/// | flex_equal | Force all child nodes to take up the minimum space possible (equal fit) |
/// | flex_none  | This element will not stretch or shrink  |
///
///
///*/


// VERTICAL FLEXIBLE BOX
%_fl_col-parent {
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: .5em 0 0 0;
  padding: 0 0 0 0;
}

%_fl_col-child {
  position: relative;
  flex: 0 1 auto;
  margin: 0 auto 0 auto;
  padding: .5em 0 .5em 0;
  width: 94%;
}


%fl_col {
  @extend %_fl_col-parent;

  > * {
    @extend %_fl_col-child;

    // FIRST ELEMENT STICKY TO TOP
    &:first-child {
      flex: 0 0 auto;
      padding: 0 0 .5em 0;
    }
    // LAST ELEMENT STICKY TO BOTTOM
    &:last-child {
      flex: 0 0 auto;
      padding: 0.5em 0 0 0;
    }
  }
}


// FLEX COLUMN PARENT
.flex-col {
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: .5em 0 0 0;
  padding: 0 0 0 0;

  // FLEX COLUMN CHILD
  > * {
    position: relative;
    flex: 0 1 auto;
    margin: 0 auto 0 auto;
    padding: .5em 0 .5em 0;
    width: 94%;

    // FIRST ELEMENT STICKY TO TOP
    &:first-child {
      flex: 0 0 auto;
      padding: 0 0 .5em 0;
    }
    // LAST ELEMENT STICKY TO BOTTOM
    &:last-child {
      flex: 0 0 auto;
      padding: 0.5em 0 0 0;
    }
  }
}
