// TODO: CONVERT TO USING COLUMNS PROPERTY
// FLEX SYSTEM ALREADY HANDLES ANY NUMBER OF COLUMNS

@mixin flex_split_col2 {
  justify-content: flex-start;
  > * { flex-basis: 50%; }
}

@mixin flex_split_col3 {
  justify-content: flex-start;
  > * { flex-basis: 32%; }
}

.two-column {
  @include flex_split_col2;
}


.three-column {
  @include flex_split_col3;
}
