/* BASE */


html {
  // background: $html_fallback_background;
}

html, body {
  position: relative;
  min-height: 100%;
  display: block;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

section {
  display: block;
  padding: 1em;
  position: relative;
  width: auto;
}

header {
  width: auto;
  display: block;
  padding: 1em;
}

footer {
  height: 5em;
  background: $black;
  padding: 1em 0;
}

.row {
  width: 100%;
  max-width: 1200px;
}
