


// SEMANTIC CLASSES
// (FULLY SPELLED OUT AND NAMED BY PROPERTY)
// ----------------
.flex {

  // SIZING
  &-basis-none { flex-basis: 0; }
  &-basis-max  { flex-basis: 100%; }
  &-grow       { flex-grow: 1; }
  &-shrink     { flex-shrink: 1; }
  
  // ALIGNMENT
  &-start      { justify-content: flex-start; }
  &-end        { justify-content: flex-end; }
  &-center     { jusify-content: center; }
  &-between    { justify-content: space-between; }
  &-around     { justify-content: space-around; }
  
  // WRAPPING
  &-wrap   { flex-wrap: wrap; }
  &-nowrap { flex-wrap: nowrap; }
  
  // CHILD CLASSES
  .flex-grow { flex-grow: 1; }
  .flex-shrink { flex-shrink: 1; }
}

// PREDEFINED CLASSES
// ------------------
// GROW, SHRINK, AS LARGE AS POSSIBLE
.flexible { flex: 1 1 auto; }


// SHORTHAND CLASSES
// -----------------
// DIRECT MANIUPLATION
.fl-self {
  &--end { justify-self: flex-end; }
  &--start { justify-self: flex-start; }
  &--center { justify-self: center; }
  &--top { align-self: flex-start; }
  &--bottom { align-self: flex-end; }
  &--middle { align-self: center; }
}

// ALIGNMENT
.fl-align {
  &--stretch { align-items: stretch; }
  &--center { align-items: center; }
  &--start { align-items: flex-start; }
  &--end { align-items: flex-end; }
}

// FLEX SPACING
.fl {
  &--distribute { justify-content: space-around;}
  &--spread { justify-content: space-between;}
  &--start { justify-content: flex-start;}
  &--end { justify-content: flex-end;}
}

// DISTRIBUTION
.fl {
  &--fill {  flex-basis: 100%; }
  &--equal {  flex-basis: 0; }
  &--auto {  flex-basis: auto; }
}

// WEIGHTED ELEMENTS
.fl {
  &-10 { flex-basis: 10% }
  &-15 { flex-basis: 15% }
  &-20 { flex-basis: 20% }
  &-25 { flex-basis: 25% }
  &-30 { flex-basis: 30% }
  &-35 { flex-basis: 35% }
  &-40 { flex-basis: 40% }
  &-45 { flex-basis: 45% }
  &-50 { flex-basis: 50% }
  &-55 { flex-basis: 55% }
  &-60 { flex-basis: 60% }
  &-65 { flex-basis: 65% }
  &-70 { flex-basis: 70% }
  &-75 { flex-basis: 75% }
  &-80 { flex-basis: 80% }
  &-85 { flex-basis: 85% }
  &-90 { flex-basis: 90% }
  &-95 { flex-basis: 95% }
  &-100 { flex-basis: 100% }
}
