/*---
title: Flex Helpers
section: Layout
---

WRAP

- flex_wrap { flex-wrap: wrap; }
- flex_nowrap { flex-wrap: nowrap; }

FLEX ALIGN AND DISTRIBUTE

SELF

- fl_self--end      - justify-self: flex-end
- fl_self--start    - justify-self: flex-start
- fl_self--center   - justify-self: center
- fl_self--top      - align-self: flex-start
- fl_self--bottom   - align-self: flex-end
- fl_self--middle   - align-self: center

ALIGN ITEMS

- fl_align--stretch - align-items: stretch
- fl_align--center  - align-items: center
- fl_align--start   - align-items: flex-start
- fl_align--end     - align-items: flex-end

JUSTIFY CONTENT


_Shorthand_

- fl--distribute    - justify-content: space-around
- fl--spread        - justify-content: space-between
- fl--start         - justify-content: flex-start
- fl--end           - justify-content: flex-end

_Full Name_

- flex_start        - justify-content: flex-start
- flex_end          - justify-content: flex-end
- flex_center       - justify-content: center
- flex_between      - justify-content: space-between
- flex_around       - justify-content: space-around


ELEMENT SIZING

- fl_grow           - flex-grow: 1
- fl_shrink         - flex-shrink: 1
- fl--equal         - flex-basis: 0
- fl--fill          - flex-basis: 100%
- fl--auto          - flex-basis: auto
- flex_grow         - flex-grow: 1
- flex_shrink       - flex-shrink: 1
- flex_basis-none   - flex-basis: 0;
- flex_basis-max    - flex-basis: 100%
- flexible          - flex: 1 1 auto

FLEX BASIS

- fl_10  - flex-basis: 10%
- fl_15  - flex-basis: 15%
- fl_20  - flex-basis: 20%
- fl_25  - flex-basis: 25%
- fl_30  - flex-basis: 30%
- fl_35  - flex-basis: 35%
- fl_40  - flex-basis: 40%
- fl_45  - flex-basis: 45%
- fl_50  - flex-basis: 50%
- fl_55  - flex-basis: 55%
- fl_60  - flex-basis: 60%
- fl_65  - flex-basis: 65%
- fl_70  - flex-basis: 70%
- fl_75  - flex-basis: 75%
- fl_80  - flex-basis: 80%
- fl_85  - flex-basis: 85%
- fl_90  - flex-basis: 90%
- fl_95  - flex-basis: 95%
- fl_100 -  flex-basis: 100




*/


// SEMANTIC CLASSES
// (FULLY SPELLED OUT AND NAMED BY PROPERTY)
// ----------------

.flex {
  // SIZING
  &_basis-none { flex-basis: 0; }
  &_basis-max  { flex-basis: 100%; }
  &_grow       { flex-grow: 1; }
  &_shrink     { flex-shrink: 1; }

  // ALIGNMENT
  &-start      { justify-content: flex-start; }
  &-end        { justify-content: flex-end; }
  &-center     { justify-content: center; }
  &-between    { justify-content: space-between; }
  &-around     { justify-content: space-around; }

  // WRAPPING
  &-wrap   { flex-wrap: wrap; }
  &-nowrap { flex-wrap: nowrap; }
}

.flex {
  // CHILD CLASSES
  .fl {
    &_grow {     flex-grow: 1; }
    &_nogrow {   flex-grow: 0; }
    &_shrink {   flex-shrink: 1; }
    &_noshrink { flex-shrink: 0; }
    &_fill {     flex-basis: 100%; }
    &_equal {    flex-basis: 0; }
    &_auto {     flex-basis: auto; }
  }
}

// DISTRIBUTION
.fl {
  &-fill {  flex-basis: 100%; }
  &-equal {  flex-basis: 0; }
  &-auto {  flex-basis: auto; }
}


// PREDEFINED CLASSES
// ------------------
// GROW, SHRINK, AS LARGE AS POSSIBLE
.flexible { flex: 1 1 auto; }
.shrinkable { flex: 0 1 auto; }


// SHORTHAND CLASSES
// -----------------
// DIRECT MANIUPLATION
.flex_self {
  &-end { justify-self: flex-end; }
  &-start { justify-self: flex-start; }
  &-center { justify-self: center; }
  &-top { align-self: flex-start; }
  &-bottom { align-self: flex-end; }
  &-middle { align-self: center; }
}

// ALIGNMENT
.flex_align {
  &-stretch { align-items: stretch; }
  &-center { align-items: center; }
  &-start { align-items: flex-start; }
  &-end { align-items: flex-end; }
}

// FLEX SPACING
.flex {
  &-distribute { justify-content: space-around;}
  &-spread { justify-content: space-between;}
  &-start { justify-content: flex-start;}
  &-end { justify-content: flex-end;}
}

.flex {
  &-1 { flex: 1 }
  &-2 { flex: 2 }
  &-3 { flex: 3 }
  &-4 { flex: 4 }
  &-5 { flex: 5 }
  &-6 { flex: 6 }
  &-7 { flex: 7 }
  &-8 { flex: 8 }
  &-9 { flex: 9 }
}

// WEIGHTED ELEMENTS
.fl {
  &_05 { flex-basis: 5% }
  &_10 { flex-basis: 10% }
  &_15 { flex-basis: 15% }
  &_20 { flex-basis: 20% }
  &_25 { flex-basis: 25% }
  &_30 { flex-basis: 30% }
  &_35 { flex-basis: 35% }
  &_40 { flex-basis: 40% }
  &_45 { flex-basis: 45% }
  &_50 { flex-basis: 50% }
  &_55 { flex-basis: 55% }
  &_60 { flex-basis: 60% }
  &_65 { flex-basis: 65% }
  &_70 { flex-basis: 70% }
  &_75 { flex-basis: 75% }
  &_80 { flex-basis: 80% }
  &_85 { flex-basis: 85% }
  &_90 { flex-basis: 90% }
  &_95 { flex-basis: 95% }
  &_100 { flex-basis: 100% }
}
