/* FLEX.SCSS */

//---------------
//   DEFINITIONS
//---------------
// GENERAL FLEX PARENT
%flex {
  display: flex;
  > * {
    flex: 0 1 auto;
    margin: 0 1em;
  }
}
// .flex { @extend %flex; }


// SINGLE ROW FLEX CONTAINER
%fl_row {
  display: flex;
  flex-direction: row;
   > * {
    flex: 0 1 auto;
    margin: 0 1em;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0;}
  }
}
// .flex-row {  @extend %fl_row; }


// VERTICAL FLEXIBLE BOX
%_fl_col-parent {
  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  margin: .5em 0 0 0;
  padding: 0 0 0 0;
  position: relative;
}

%_fl_col-child {
  position: relative;
  width: 94%;
  flex: 0 1 auto;
  margin: 0 auto 0 auto;
  padding: .5em 0 .5em 0;
}

%fl_col {
  @extend %_fl_col-parent;

  > * {
    @extend %_fl_col-child;

    // FIRST ELEMENT STICKY TO TOP
    &:first-child {
      flex: 0 0 auto;
      padding: 0 0 .5em 0;
    }
    // LAST ELEMENT STICKY TO BOTTOM
    &:last-child {
      flex: 0 0 auto;
      padding: 0.5em 0 0 0;
    }
  }
}
// .flex-col { @extend %fl_col; }


%flex_mobile_stacked {
  flex-wrap: wrap;
  > * {
    flex-basis: 100%;
    margin: 0.5em 0;
  }
}

%fl_parent--push_last_child-after {
  > *:last-child::after {
    content:"";
    display: block;
    flex-basis: 100;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

%fl_parent--push_last_child-before {
  > *:last-child::before {
    content:"";
    display: block;
    flex-basis: 100;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

%fl_child--push_self--before {
  &::before {
    display: block;
    flex-basis: 100;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

%fl_child--push_self--after {
  &::after {
    display: block;
    flex-basis: 100;
    flex-grow: 1;
    flex-shrink: 1;
  }
}


%fl-base--fit { > * { flex-basis: 100%; } }
%fl-base--equal { > * { flex-basis: 0; } }

%fl-flex--none {
  flex-grow: 0;
  flex-shrink: 0;
}

%fl_col--equal-ht {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

//---------------
//   CLASSES
//---------------
.flex { @extend %flex; }

.flex-row {
  @extend %fl_row;
}

.flex-item {
  flex: 0 1 auto;
  margin: 0 1em;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}

.flex-col { @extend %fl_col; }
