
$width_tablet_device_lg: 850px;
$width_tablet_device_sm: 660px;
$width_mobile_device_lg: 420px;
$width_mobile_device_sm: 360px;

$grid_tablet : 850px;
$grid_mobile : 625px;


$page_min_width: 340px;

$row_max_width: 1400px;
