
/// 
/// DEVICE SIZES
/// 
/// @group layout  
/// @property {variable} hd_laptop [ 1440px ]     
/// @property {variable} laptop    [ 1280px ]     
/// @property {variable} ipad      [ 768px ]   
/// @property {variable} nexus7    [ 600px ]     
/// @property {variable} iphone6   [ 375px ]      
/// @property {variable} iphone5   [ 320px ]      
/// @property {variable} galaxys5  [ 360px ]       
/// @property {variable} nexus6p   [ 412px ]      
/// @property {variable} tablet_lg [ 850px ]        
/// @property {variable} tablet_sm [ 660px ]        
/// @property {variable} mobile_lg [ 420px ]        
/// @property {variable} mobile_sm [ 360px ]        

$device_sizes: (
  hd_laptop  : 1440px,
  laptop     : 1280px,
  ipad       : 768px,
  nexus7     : 600px,
  iphone6    : 375px,
  iphone5    : 320px,
  galaxys5   : 360px,
  nexus6p    : 412px,
  tablet_lg  : 850px,
  tablet_sm  : 660px,
  mobile_lg  : 420px,
  mobile_sm  : 360px,
);

$grid_tablet : 850px;
$grid_mobile : 625px;

$page_min_width: 340px;
$row_max_width: 1400px;

// HOME PAGE
$banner_break_mid: 850px;
$banner_break_sm1: 560px;
