
.max_width{
  &--none { max-width: none; }
  &--500 { max-width: 700px; margin: auto; }
  &--600 { max-width: 700px; margin: auto; }
  &--700 { max-width: 700px; margin: auto; }
  &--800 { max-width: 800px; margin: auto; }
  &--900 { max-width: 900px; margin: auto; }
  &--1000 { max-width: 1000px; margin: auto; }
  &--1200 { max-width: 1100px; margin: auto; }
  &--1200 { max-width: 1200px; margin: auto; }
  &--1300 { max-width: 1300px; margin: auto; }
  &--1400 { max-width: 1400px; margin: auto; }
}
