/****************************************
 * FOOTER BASE THEME                    *
 ***************************************/

footer {
  background: $white_00;
  margin: 1em 0 0 0;
  padding: 0 0 0 0;

  .row { max-width: 1500px; }

  @include max_width( 1650px ){ font-size: 14px; }
}


/****************************************
 * FOOTER SECTION 3 - TERMS AND SERVICE *
 ****************************************/

footer {
  // SECTION - 1 TOP LINKS
  .footer-top-links{
    @extend %z_depth_2;
    background: $white_05;
    border-bottom: 1px solid $white_10;
    border-top: 1px solid $white_10;
    margin: 0 0 0 0;
    padding: 1em 0;

    ul {
      width: 100%;
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      > li {
        flex: 0 1 auto;
      }
    }

    a {
      padding: 0.5em;
      margin: 0 0.5em;
      letter-spacing: -0.5px;
      font-size: 0.9em;
    }
  }


}
/****************************************
 * FOOTER SECTION 3 - PRODUCT GROUPS    *
 ****************************************/
footer {
  .footer-block-categories {
    width: 100%;

    @at-root {
      .footer-block-categories-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1.5em 0 1em 0;
      }

      .block-footer-group {
        position: relative;
        flex-wrap: wrap;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 30%;
        margin: .3em 1% 0 1%;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        padding: .2em;

        @include min_width( 1350px ){
          &:nth-child(3n+1){ margin: 0 0 0 0; }
        }

        @include max_width( 1350px ){
          flex-basis: 49%;
          margin: 0;
        }

        @include max_width (850px) {
          flex-basis: 100%;
          padding: .4em 0;
        }

        // LABEL ON TOP
        h3 {
          color: $accent_red;
          flex-basis: 100%;
          flex-grow: 1;
          flex-shrink: 0;
          font-size: 1em;
          font-weight: bold;
          padding: 0;
          margin: 0.5em 0;
        }

        ul {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 100%;
          align-items: flex-start;
          align-content: flex-start;
          flex-wrap: wrap;
          display: flex;
          margin: 0;
          padding: 0;


          @include max_width (850px) {
            flex-basis: 100%;
            padding: .4em 0;
          }


          li {
            flex-grow: 0;
            flex-shrink: 1;
            flex-wrap: wrap;
            display: flex;
            margin: 0;
            padding: 0;
            align-content: flex-start;

            flex-basis: 50%;
            @include max_width( 1350px ){ flex-basis: 33%; }
            @include max_width( 1240px ){ flex-basis: 50%; }
            @include max_width( 850px ){ flex-basis: 24%; }
            a {
              font-size: 0.9em;
              letter-spacing: -0.2px;
              white-space: nowrap;
              color: $black_50;
              margin: 0;
              padding: 0.4em 0.8em 0.4em 0;
              &:hover { };
            }
          }
        }

        @include max_width (600px) { flex-basis: 45%; }
        @include max_width (400px) { flex-basis: 100%; }
      }
    }
  }
}

footer{
  .split-col2 {
    justify-content: flex-start;
    flex-wrap: wrap;
    > * {
      flex-basis: 50% !important;
    }
  }

  .split-col3 {
    flex-wrap: wrap;
    justify-content: flex-start;
    > * {
      flex-basis: 48% !important;
      margin: 1em 0;
      padding: 0 0 0 2%;}
  }

  // FILL ROWS LEFT TO RIGHT
  .fl-fill-row {
    flex-wrap: wrap;
    li {
      align-items: baseline;
      justify-content: space-around;

      &::before{ content: "|"; }
      &:first-of-type::before{ content:""; }
    }
  }
}

/****************************************
 * FOOTER SECTION 3 - CONTACT AND CODES *
 ****************************************/
footer {

  // DESKTOP
  .footer-links-contact-info{
    padding: 1em 0;

    ul {
      @extend %flex;
      @extend %fl_row;
      justify-content: space-between;
    }

    li {
      padding: 0;
      font-size: 0.9em;
      display: flex;
      flex-direction: column;
      span { margin-right: 3px; }

    }

    p {
      color: $black_40;
      display: block;
      line-height: 1.4em;
      letter-spacing: -0.5px;
      padding: 0.1em;
      margin: .1em 0;
    }
  }

  // TABLET
  // 3 COL ON TOP, 1 LONG ROW ON BOTTOM;
  .footer-links-contact-info{
    @include range_width($width_tablet_device_sm, $width_tablet_device_lg) {
      ul {
        flex-wrap: wrap;

        li {
          flex-basis: 30%;
          margin: 0 0 1em 0;

          &:last-of-type {
            flex-direction: row;
            flex-basis: 100%;
            justify-content: space-between;

            > * {
              flex: 1 1 100%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  // MOBILE
  .footer-links-contact-info {
    @include max_width($width_tablet_device_sm) {
      ul {
        flex-wrap: wrap;

        li {
          flex-basis: 50%;
          margin: 0;
          flex-grow: 0;

          &:nth-child(1) { order: 2; }
          &:nth-child(2) { order: 4; }
          &:nth-child(3) { order: 1; }
          &:nth-child(4) { order: 3; }

          &:nth-child(-n+2) {
            align-items: flex-end;
          }
          &:nth-child(n+3) {
            p {
              display: flex;
              justify-content: space-between;
              > * {
                flex: 1 1 0;
                text-align: left;
                word-break: break-word;
              }
            }
          }
        }
      }
    }
  }
}

/* SECTION 4 - BOTTOM INFO */
footer {
  .footer-links-bottom-misc {
    background: $white_10;
    padding: 1em 0;

    .footer-links-misc-wrap{
      display: flex;
      justify-content: space-between;
    }

    .footer-copyright{ display: inline-block; }

    ul{ display: flex;}

    li{
      display: inline-block;
      margin: 0 0 0 2em;
    }

    p,
    a {
      color: $white_40;
      font-size: .8em;
      padding: 0.5em;
    }
  }
}

@include min_width($width_tablet_device_lg){

  // SCROLL TOP
  #scroll-to-top {
    display: block;
    background-size: 100%;
    border-radius: 50%;
    margin: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 0.3s;
    z-index: 999;
    width: 0;
    height: 0;
    opacity: 0;

    &.active {
      width: 60px;
      height: 60px;
      opacity: .5;
    }

    &:hover {
      transform: translateY(-8px);
      opacity: 1;
    }
  }
}
