footer {
  background-color: $grey_80;
  color: $white;
  font-size: .9em;
  
  .footer-wrapper{
    @extend %fl_row;
    justify-content: space-between;
  }
  
  
  .footer__block {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
  }
   
  .definition_list {
    font-size: .8em;
  }


  .footer-bottom {
     border-top: 1px solid $grey_60;
  }
 
  .copyright {
    background-color: inherit;
  }
}
