/* SMALL CONTENT PAGES */

#shipping-faq.cms-html-block {

  h2 {
    color: $accent_red;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.3em;
    font-weight: bold;
  }


  .page-content-links{
    margin: 1em 0;
    li {
      list-style: circle;
      a { color: $accent_red; }
    }
  }

  .content-section {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 1.5em 4em 1.5em 2em;
    margin: 1em 0px;
    position: relative;
  }

  p {
    line-height: 1.7em;
  }

  img {
    margin-left: 2em;
  }

}
