
///
// TRANSPARENT DARKER
///
$transparent_darker_10 : rgba(0, 0, 0, 0.10);
$transparent_darker_15 : rgba(0, 0, 0, 0.15);
$transparent_darker_20 : rgba(0, 0, 0, 0.20);
$transparent_darker_25 : rgba(0, 0, 0, 0.25);
$transparent_darker_30 : rgba(0, 0, 0, 0.30);
$transparent_darker_35 : rgba(0, 0, 0, 0.35);
$transparent_darker_40 : rgba(0, 0, 0, 0.40);
$transparent_darker_45 : rgba(0, 0, 0, 0.45);
$transparent_darker_50 : rgba(0, 0, 0, 0.50);
$transparent_darker_55 : rgba(0, 0, 0, 0.55);
$transparent_darker_60 : rgba(0, 0, 0, 0.60);
$transparent_darker_65 : rgba(0, 0, 0, 0.65);
$transparent_darker_70 : rgba(0, 0, 0, 0.70);
$transparent_darker_75 : rgba(0, 0, 0, 0.75);
$transparent_darker_80 : rgba(0, 0, 0, 0.80);
$transparent_darker_85 : rgba(0, 0, 0, 0.85);
$transparent_darker_90 : rgba(0, 0, 0, 0.90);
$transparent_darker_95 : rgba(0, 0, 0, 0.95);


///
// TRANSPARENT LIGHTER
///
$transparent_lighter_10 : rgba(255, 255, 255, 0.10);
$transparent_lighter_15 : rgba(255, 255, 255, 0.15);
$transparent_lighter_20 : rgba(255, 255, 255, 0.20);
$transparent_lighter_25 : rgba(255, 255, 255, 0.25);
$transparent_lighter_30 : rgba(255, 255, 255, 0.30);
$transparent_lighter_35 : rgba(255, 255, 255, 0.35);
$transparent_lighter_40 : rgba(255, 255, 255, 0.40);
$transparent_lighter_45 : rgba(255, 255, 255, 0.45);
$transparent_lighter_50 : rgba(255, 255, 255, 0.50);
$transparent_lighter_55 : rgba(255, 255, 255, 0.55);
$transparent_lighter_60 : rgba(255, 255, 255, 0.60);
$transparent_lighter_65 : rgba(255, 255, 255, 0.65);
$transparent_lighter_70 : rgba(255, 255, 255, 0.70);
$transparent_lighter_75 : rgba(255, 255, 255, 0.75);
$transparent_lighter_80 : rgba(255, 255, 255, 0.80);
$transparent_lighter_85 : rgba(255, 255, 255, 0.85);
$transparent_lighter_90 : rgba(255, 255, 255, 0.90);
$transparent_lighter_95 : rgba(255, 255, 255, 0.95);
