.color {
  &-black   { color: $black   ; }
  &-white   { color: $white   ; }
  &-grey-03 { color: $grey_03 ; }
  &-grey-05 { color: $grey_05 ; }
  &-grey-10 { color: $grey_10 ; }
  &-grey-15 { color: $grey_15 ; }
  &-grey-20 { color: $grey_20 ; }
  &-grey-25 { color: $grey_25 ; }
  &-grey-30 { color: $grey_30 ; }
  &-grey-35 { color: $grey_35 ; }
  &-grey-40 { color: $grey_40 ; }
  &-grey-45 { color: $grey_45 ; }
  &-grey-50 { color: $grey_50 ; }
  &-grey-55 { color: $grey_55 ; }
  &-grey-60 { color: $grey_60 ; }
  &-grey-65 { color: $grey_65 ; }
  &-grey-70 { color: $grey_70 ; }
  &-grey-75 { color: $grey_75 ; }
  &-grey-80 { color: $grey_80 ; }
  &-grey-85 { color: $grey_85 ; }
  &-grey-90 { color: $grey_90 ; }
  &-grey-95 { color: $grey_95 ; }
}

.bg {
  &-black   { background-color: $black   ; }
  &-white   { background-color: $white   ; }
  &-grey-03 { background-color: $grey_03 ; }
  &-grey-05 { background-color: $grey_05 ; }
  &-grey-10 { background-color: $grey_10 ; }
  &-grey-15 { background-color: $grey_15 ; }
  &-grey-20 { background-color: $grey_20 ; }
  &-grey-25 { background-color: $grey_25 ; }
  &-grey-30 { background-color: $grey_30 ; }
  &-grey-35 { background-color: $grey_35 ; }
  &-grey-40 { background-color: $grey_40 ; }
  &-grey-45 { background-color: $grey_45 ; }
  &-grey-50 { background-color: $grey_50 ; }
  &-grey-55 { background-color: $grey_55 ; }
  &-grey-60 { background-color: $grey_60 ; }
  &-grey-65 { background-color: $grey_65 ; }
  &-grey-70 { background-color: $grey_70 ; }
  &-grey-75 { background-color: $grey_75 ; }
  &-grey-80 { background-color: $grey_80 ; }
  &-grey-85 { background-color: $grey_85 ; }
  &-grey-90 { background-color: $grey_90 ; }
  &-grey-95 { background-color: $grey_95 ; }
}
