
// DEVICE SIZES
$width_hd_laptop:   1440px;
$width_laptop:      1280px ;
$width_half_screen: 900px;
$width_ipad:        768px;
$width_nexus7:      600px;
$width_iphone6:     375px;
$width_iphone5:     320px;
$width_galaxys5:    360px;
$width_nexus6p:     412px;


$width_tablet_device_lg: 850px;
$width_tablet_device_sm: 660px;
$width_mobile_device_lg: 420px;
$width_mobile_device_sm: 360px;
$grid_tablet : 850px;
$grid_mobile : 625px;


$page_min_width: 340px;
$row_max_width: 1400px;
