// BASE THEME STRUCTURE AND LAYOUT CLASSES

$max_width: 1400px;

body {
  min-width: 340px;
}

section {
  display: block;
  margin: 0 auto;
  padding: 1.5em 0;
  width: 100%;
}

.row {
  display: block;
  margin: 0 auto;
  padding: 0 5%;
  width: 90%;
}

.content-block {
  display: block;
  padding: 1em 0;
  width: 100%;

  &:first-of-type {
    padding-top: 0;
  }
}
