

// FONT FAMILY NAMES 
$font_family--prox: 'proxima-nova';
$font_family--lato: 'Lato';

//Font Weights
$font_weight--regular:   400;
$font_weight--medium:    500;
$font_weight--semibold:  600;
$font_weight--bold:      700;
$font_weight--extrabold: 800;

// Desktop
body {
  font-size: 16px;
  line-height: 1.375em;
}
