// Colors
// ------------


/*---
section: Base Section
name: base_section
---

Base colors, typography, and layouts

*/


/*---
title: Color Library
name: base_colors
section: Base Section
parent: base_section
---


Greyscale Colors

<section class="styleguide_section">
<div class="color_swatch_group">
<div class="swatch color_white">  <span class="swatch__name">white</span>  <span class="swatch__color" data-color="#ffffff"></span><span class="swatch__bg_color" data-color="#ffffff"></span></div>
<div class="swatch color_grey-03"><span class="swatch__name">grey-03</span><span class="swatch__color" data-color="#f7f7f7"></span><span class="swatch__bg_color" data-color="#f7f7f7"></span></div>
<div class="swatch color_grey-05"><span class="swatch__name">grey-05</span><span class="swatch__color" data-color="#f2f2f2"></span><span class="swatch__bg_color" data-color="#f2f2f2"></span></div>
<div class="swatch color_grey-10"><span class="swatch__name">grey-10</span><span class="swatch__color" data-color="#e6e6e6"></span><span class="swatch__bg_color" data-color="#e6e6e6"></span></div>
<div class="swatch color_grey-15"><span class="swatch__name">grey-15</span><span class="swatch__color" data-color="#d9d9d9"></span><span class="swatch__bg_color" data-color="#d9d9d9"></span></div>
<div class="swatch color_grey-20"><span class="swatch__name">grey-20</span><span class="swatch__color" data-color="#cccccc"></span><span class="swatch__bg_color" data-color="#cccccc"></span></div>
<div class="swatch color_grey-25"><span class="swatch__name">grey-25</span><span class="swatch__color" data-color="#bfbfbf"></span><span class="swatch__bg_color" data-color="#bfbfbf"></span></div>
<div class="swatch color_grey-30"><span class="swatch__name">grey-30</span><span class="swatch__color" data-color="#b3b3b3"></span><span class="swatch__bg_color" data-color="#b3b3b3"></span></div>
<div class="swatch color_grey-35"><span class="swatch__name">grey-35</span><span class="swatch__color" data-color="#a6a6a6"></span><span class="swatch__bg_color" data-color="#a6a6a6"></span></div>
<div class="swatch color_grey-40"><span class="swatch__name">grey-40</span><span class="swatch__color" data-color="#999999"></span><span class="swatch__bg_color" data-color="#999999"></span></div>
<div class="swatch color_grey-45"><span class="swatch__name">grey-45</span><span class="swatch__color" data-color="#8c8c8c"></span><span class="swatch__bg_color" data-color="#8c8c8c"></span></div>
<div class="swatch color_grey-50"><span class="swatch__name">grey-50</span><span class="swatch__color" data-color="#808080"></span><span class="swatch__bg_color" data-color="#808080"></span></div>
<div class="swatch color_grey-55"><span class="swatch__name">grey-55</span><span class="swatch__color" data-color="#737373"></span><span class="swatch__bg_color" data-color="#737373"></span></div>
<div class="swatch color_grey-60"><span class="swatch__name">grey-60</span><span class="swatch__color" data-color="#666666"></span><span class="swatch__bg_color" data-color="#666666"></span></div>
<div class="swatch color_grey-65"><span class="swatch__name">grey-65</span><span class="swatch__color" data-color="#595959"></span><span class="swatch__bg_color" data-color="#595959"></span></div>
<div class="swatch color_grey-70"><span class="swatch__name">grey-70</span><span class="swatch__color" data-color="#4d4d4d"></span><span class="swatch__bg_color" data-color="#4d4d4d"></span></div>
<div class="swatch color_grey-75"><span class="swatch__name">grey-75</span><span class="swatch__color" data-color="#404040"></span><span class="swatch__bg_color" data-color="#404040"></span></div>
<div class="swatch color_grey-80"><span class="swatch__name">grey-80</span><span class="swatch__color" data-color="#333333"></span><span class="swatch__bg_color" data-color="#333333"></span></div>
<div class="swatch color_grey-85"><span class="swatch__name">grey-85</span><span class="swatch__color" data-color="#262626"></span><span class="swatch__bg_color" data-color="#262626"></span></div>
<div class="swatch color_grey-90"><span class="swatch__name">grey-90</span><span class="swatch__color" data-color="#1a1a1a"></span><span class="swatch__bg_color" data-color="#1a1a1a"></span></div>
<div class="swatch color_black">  <span class="swatch__name">black</span>  <span class="swatch__color" data-color="#000000"></span><span class="swatch__bg_color" data-color="#000000"></span></div>
</div>
</section>

Named Colors

<section class="styleguide_section">
<div class="color_swatch_group">
<div class="swatch color_accent_red"><span class="swatch__name">accent_red</span>                      <span class="swatch__color" data-color="#b9262f"></span><span class="swatch__bg_color" data-color="#b9262f"></span></div>
<div class="swatch color_desturated_red"><span class="swatch__name">desturated_red</span>              <span class="swatch__color" data-color="#9a2a31"></span><span class="swatch__bg_color" data-color="#9a2a31"></span></div>
<div class="swatch color_desturated_red_darker"><span class="swatch__name">desturated_red_darker</span><span class="swatch__color" data-color="#7d161d"></span><span class="swatch__bg_color" data-color="#7d161d"></span></div>
<div class="swatch color_accent_orange"><span class="swatch__name">accent_orange</span>                <span class="swatch__color" data-color="#fda630"></span><span class="swatch__bg_color" data-color="#fda630"></span></div>
<div class="swatch color_accent_orange_light"><span class="swatch__name">accent_orange_light</span>    <span class="swatch__color" data-color="#fa4c06"></span><span class="swatch__bg_color" data-color="#fa4c06"></span></div>
<div class="swatch color_accent_orange"><span class="swatch__name">accent_orange</span>                <span class="swatch__color" data-color="#fd7b40"></span><span class="swatch__bg_color" data-color="#fd7b40"></span></div>
<div class="swatch color_accent_yellow"><span class="swatch__name">accent_yellow</span>                <span class="swatch__color" data-color="#fda630"></span><span class="swatch__bg_color" data-color="#fda630"></span></div>
<div class="swatch color_anchor_link"><span class="swatch__name">anchor_link</span>                    <span class="swatch__color" data-color="#ffcd55"></span><span class="swatch__bg_color" data-color="#ffcd55"></span></div>
<div class="swatch color_gray"><span class="swatch__name">gray</span>                                  <span class="swatch__color" data-color="#5f5f5f"></span><span class="swatch__bg_color" data-color="#5f5f5f"></span></div>
<div class="swatch color_ltgray"><span class="swatch__name">ltgray</span>                              <span class="swatch__color" data-color="#f1f1f1"></span><span class="swatch__bg_color" data-color="#f1f1f1"></span></div>
<div class="swatch color_charcoal"><span class="swatch__name">charcoal</span>                          <span class="swatch__color" data-color="#3d3d3d"></span><span class="swatch__bg_color" data-color="#3d3d3d"></span></div>
<div class="swatch color_blue"><span class="swatch__name">blue</span>                                  <span class="swatch__color" data-color="#0575af"></span><span class="swatch__bg_color" data-color="#0575af"></span></div>
</div>
</section>

Better default colors by clrs.cc
source: http://clrs.cc/

<section class="styleguide_section">
<div class="color_swatch_group">
<div class="swatch color_navy"><span class="swatch__name">color_navy</span>       <span class="swatch__color" data-color="#001F3F"></span><span class="swatch__bg_color" data-color="#001F3F"></span></div>
<div class="swatch color_blue"><span class="swatch__name">color_blue</span>       <span class="swatch__color" data-color="#0074D9"></span><span class="swatch__bg_color" data-color="#0074D9"></span></div>
<div class="swatch color_aqua"><span class="swatch__name">color_aqua</span>       <span class="swatch__color" data-color="#7FDBFF"></span><span class="swatch__bg_color" data-color="#7FDBFF"></span></div>
<div class="swatch color_teal"><span class="swatch__name">color_teal</span>       <span class="swatch__color" data-color="#39CCCC"></span><span class="swatch__bg_color" data-color="#39CCCC"></span></div>
<div class="swatch color_olive"><span class="swatch__name">color_olive</span>     <span class="swatch__color" data-color="#3D9970"></span><span class="swatch__bg_color" data-color="#3D9970"></span></div>
<div class="swatch color_green"><span class="swatch__name">color_green</span>     <span class="swatch__color" data-color="#2ECC40"></span><span class="swatch__bg_color" data-color="#2ECC40"></span></div>
<div class="swatch color_lime"><span class="swatch__name">color_lime</span>       <span class="swatch__color" data-color="#01FF70"></span><span class="swatch__bg_color" data-color="#01FF70"></span></div>
<div class="swatch color_yellow"><span class="swatch__name">color_yellow</span>   <span class="swatch__color" data-color="#FFDC00"></span><span class="swatch__bg_color" data-color="#FFDC00"></span></div>
<div class="swatch color_orange"><span class="swatch__name">color_orange</span>   <span class="swatch__color" data-color="#FF851B"></span><span class="swatch__bg_color" data-color="#FF851B"></span></div>
<div class="swatch color_red"><span class="swatch__name">color_red</span>         <span class="swatch__color" data-color="#FF4136"></span><span class="swatch__bg_color" data-color="#FF4136"></span></div>
<div class="swatch color_fuchsia"><span class="swatch__name">color_fuchsia</span> <span class="swatch__color" data-color="#F012BE"></span><span class="swatch__bg_color" data-color="#F012BE"></span></div>
<div class="swatch color_purple"><span class="swatch__name">color_purple</span>   <span class="swatch__color" data-color="#B10DC9"></span><span class="swatch__bg_color" data-color="#B10DC9"></span></div>
<div class="swatch color_maroon"><span class="swatch__name">color_maroon</span>   <span class="swatch__color" data-color="#85144B"></span><span class="swatch__bg_color" data-color="#85144B"></span></div>
</div>
</section>


Reference Colors 

<section class="styleguide_section">
<div class="color_swatch_group">
<div class="swatch color_facebook"><span class="swatch__name">facebook</span>                          <span class="swatch__color" data-color="#3460a1"></span><span class="swatch__bg_color" data-color="#3460a1"></span></div>
<div class="swatch color_twitter"><span class="swatch__name">twitter</span>                            <span class="swatch__color" data-color="#28aae1"></span><span class="swatch__bg_color" data-color="#28aae1"></span></div>
<div class="swatch color_linkedin"><span class="swatch__name">linkedin</span>                          <span class="swatch__color" data-color="#136d9d"></span><span class="swatch__bg_color" data-color="#136d9d"></span></div>
<div class="swatch color_google_plus"><span class="swatch__name">google_plus</span>                    <span class="swatch__color" data-color="#de5543"></span><span class="swatch__bg_color" data-color="#de5543"></span></div>
<div class="swatch color_youtube"><span class="swatch__name">youtube</span>                            <span class="swatch__color" data-color="#ee3138"></span><span class="swatch__bg_color" data-color="#ee3138"></span></div>
</div>
</section>


UI Messaging / Feedback Colors 

<section class="styleguide_section">
<div class="color_swatch_group">
<div class="swatch color_form_good"><span class="swatch__name">form_good</span>                        <span class="swatch__color" data-color="#13c607"></span><span class="swatch__bg_color" data-color="#13c607"></span></div>
<div class="swatch color_success"><span class="swatch__name">success</span>                            <span class="swatch__color" data-color="#68d388"></span><span class="swatch__bg_color" data-color="#68d388"></span></div>
<div class="swatch color_error"><span class="swatch__name">error</span>                                <span class="swatch__color" data-color="#ff7e7e"></span><span class="swatch__bg_color" data-color="#ff7e7e"></span></div>
</div>
</section>



*/


@import "color_variables";


/*---
title: Color Classes
parent: base_colors
section: Base Section
---

### Color helper classses

Color Class

```
.color_{color} - set color to a named color
.color_inherit - inherit color form parent
```

```example:html
<div class="box color_accent_red">
  <h2>Title</h2>
  <h3 class="color_teal">Subtitle</h3>
</div>
```

### Background Color

```
.bg_color-{color} - set background-color to named color
.bg_color-inherit - (!) inherit background color from parent
.bg_color-none    - (!) remove background color from an element
```

```example:html
<div class="box bg_accent_red color_white">
  <h2>Title</h2>
  <h3 class="bg_teal">Subtitle</h3>
</div>
```
*/

@import "color_classes";


// FONTS
// -----------

/*---
title: Fonts
section: Typography  
---

### Font Family
- Body - `Proxima-Nova`
- Headings - `Lato`

*/

@import "font_variables";



/*---
title: Weights  
section: Typography
---

### Font Weight

__Sass Variables and Utility Classes__

| variable | class | font-weight |
| -------- | ----- | ----------- |
| __$font_weight--regular__   | `font_wt-reg` | 400  |
| __$font_weight--medium__    | `font_wt-med` | 500  |
| __$font_weight--semibold__  | `font_wt-sem` | 600  |
| __$font_weight--bold__      | `font_wt-bld` | 700  |
| __$font_weight--extrabold__ | `font_wt-ext` | 800  |

<div class="styleguide_section">
  <div class="container">
    <p class="font_wt-reg">font_wt-reg regular</p>
    <p class="font_wt-med">font_wt-med medium</p>
    <p class="font_wt-sem">font_wt-sem semibold</p>
    <p class="font_wt-bld">font_wt-bld bold</p>
    <p class="font_wt-ext">font_wt-ext extrabold</p>
  </div>
</div>

*/

@import "font_scale";

/*---
title: Scale
section: Typography
---

Base Font Sizes (Body)

- `font-size`: `16px`
- `line-height`: `1.375em`

__Modern Typographic Scale__

source: ___http://typecast.com/images/uploads/modernscale.css___

- `1em`     - `16px`
- `1.125em` - `18px`
- `1.250em` - `20px`
- `1.375em` - `22px`
- `1.625em` - `26px`
- `2.25em`  - `36px`

### Headings and body text

<div class="styleguide_section">
  <div class="container">
    <h1>heading 1</h1>
    <h2>heading 2</h2>
    <h3>heading 3</h3>
    <h4>heading 4</h4>
    <h5>heading 5</h5>
    <h6>heading 6</h6>
    <p>This is paragraph text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis asperiores temporibus beatae fugit totam pariatur, aliquam commodi consequuntur id error ipsam suscipit quas doloremque perferendis quam! Ullam, debitis ab maiores.</p>
  </div>
</div>

__INCREMENTAL MODULAR SCALED TYPOGRAPHY SYSTEM__

- Minor Third Scale - 1.2 ratio
- Sizes generated at http://www.modularscale.com

### Typography Size Helpers  
 

<section class="styleguide_section">
  <div class="container">
    <p class="bigger">bigger</p>
    <p class="smaller">smaller</p>
  </div> 
</section>

Heading Classes

Allows you to use semantically correct markup, but implement logical style classes to mimic headings 

<section class="styleguide_section">
  <div class="container">
    <p class="h1">h1 heading class - 2.000rem</p>
    <p class="h2">h2 heading class - 1.500rem</p>
    <p class="h3">h3 heading class - 1.250rem</p>
    <p class="h4">h4 heading class - 1.000rem</p>
    <p class="h5">h5 heading class - 0.875rem</p>
    <p class="h6">h6 heading class - 0.750rem</p>
  </div>
</section>

```
<p class="h1">h1 heading class - 2.000rem</p>
<p class="h2">h2 heading class - 1.500rem</p>
<p class="h3">h3 heading class - 1.250rem</p>
<p class="h4">h4 heading class - 1.000rem</p>
<p class="h5">h5 heading class - 0.875rem</p>
<p class="h6">h6 heading class - 0.750rem</p>
```

___INCREMENTAL MODULAR SCALED TYPOGRAPHY SYSTEM___

- Minor Third Scale - 1.2 ratio
- generated at http://www.modularscale.com

__INCREASING SCALE CLASSES__ 

Make fonts bigger 



| class | relative size | default size (px) |  
| :---: | :-----------: | ----------------: |  
| fs-0  | 1.000em       | 16px              | 
| fs-1  | 1.125em       | 18px              | 
| fs-2  | 1.266em       | 20.25px           | 
| fs-3  | 1.424em       | 22.781px          | 
| fs-4  | 1.602em       | 25.629px          | 
| fs-5  | 1.802em       | 28.833px          | 
| fs-6  | 2.027em       | 32.437px          | 
| fs-7  | 2.281em       | 36.491px          |   
| fs-8  | 2.566em       | 41.053px          |   
| fs-9  | 2.887em       | 46.184px          |  
| fs-10 | 3.247em       | 51.957px          |   
| fs-11 | 3.653em       | 58.452px          |   
| fs-12 | 4.110em       | 65.758px          |   
| fs-13 | 4.624em       | 73.978px          |  
| fs-14 | 5.202em       | 83.225px          |  
| fs-15 | 5.852em       | 93.628px          |  
| fs-16 | 6.583em       | 105.332px         |  
  


<section class="styleguide_section">
  <div class="flex-row">
    <div class="container">
      <p class="fs-0">size 0</p>
      <p class="fs-1">size 1</p>
      <p class="fs-2">size 2</p>
      <p class="fs-3">size 3</p>
      <p class="fs-4">size 4</p>
      <p class="fs-5">size 5</p>
      <p class="fs-6">size 6</p>
      <p class="fs-7">size 7</p>
      <p class="fs-8">size 8</p>
      <p class="fs-9">size 9</p>
      <p class="fs-10">size 10</p>
      <p class="fs-11">size 11</p>
    </div>
    <div class="container">
      <p class="fs-12">size 12</p>
      <p class="fs-13">size 13</p>
      <p class="fs-14">size 14</p>
      <p class="fs-15">size 15</p>
      <p class="fs-16">size 16</p>
    </div>
  </div>
</section>

__DECREASING SCALE__

| class | relative size | default size (px) |
| :---: | :-----------: | ----------------: |
| fs-m1 | 0.889em       | 14.222px          |
| fs-m2 | 0.790em       | 12.642px          |
| fs-m3 | 0.702em       | 11.237px          |
| fs-m4 | 0.624em       | 9.989px           |
| fs-m5 | 0.555em       | 8.879px           |
| fs-m6 | 0.493em       | 7.892px           |


<section class="styleguide_section">
    <div class="container">
      <p class="fs-m1">size m1</p>
      <p class="fs-m2">size m2</p>
      <p class="fs-m3">size m3</p>
      <p class="fs-m4">size m4</p>
      <p class="fs-m5">size m5</p>
      <p class="fs-m6">size m6</p>
    </div>
<section>


*/

@import "font_classes";

@import "helpers";

@import "reset";
