/*---
title: controlbar
section: components 
---

Controlbar 

*/


.controlbar {
  position: relative;
  right: 0;
  align-self: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex: 1 1 auto;

  &__item {
    font-size: 0.9em;
    flex: 0 1 auto;
    margin: 0 0.9em;
    color: $grey_70;

    &.active {
      color: $theme_dark_red;
      font-weight: bold;
    }
  }
}
