/********************************************
 *  TRANFORMATION TO THE SAME NAV HTML      *
 *  THAT WILL APPEAR ON MOBILE              *
 *
 *   @USES JAVASCRIPT FOR ADD/REMOVE ACTIVE *
 *   @USES HAMBURGER CSS BUTTON             *
 *                                          *
 *                                          *
 **************************************** * */

// nav_break_md : 780px;
// nav_break_sm : 450px;
// nav_break_smallest : 400px;

@media (max-width: $nav_break_md ){

  .nav-container {
      width: 52px;
      height: 50px;
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 60px;
      margin: 0;
      position: relative;

    .hamburger {
      display: block;
      color: $white_00;
      display: block;
      flex: 0 0 auto;
      padding: 10px;
      margin: 0;
      z-index: 1001;
    }
  }

  .mob-menu-active,
  .hamburger.active,
  .home {
    .hamburger-inner {
      background-color: $white;
      &::before,
      &::after { background-color: $white; }
    }
  }


  .content {
    .hamburger-inner {
      background-color: $black_20;
      &::before,
      &::after { background-color: $black_20; }
    }
  }

  nav {
    .home &, .content & { background: $accent_red; }
  }

  // MOBILE NAV TOOLBAR AREA
  nav {
    &::before {
      content: "";
      background: darken($accent_red, 10%);
      height: 60px;
      position: relative;
      width: 100%;
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 60px;
      border-bottom: 1px solid lighten( $accent_orange, 15%);
      box-shadow: inset 0px 1px 19px 0px rgba(25, 6, 6, 0.73);
      z-index: 2;
    }
  }

  $mob_menu_transition_in: 'transform 500ms cubic-bezier(0.42, 0.95, 0.58, 0.96) 0s';
  $mob_menu_transition_timing: cubic-bezier(0.42, 0.95, 0.58, 0.96);
  $mob_menu_transition_duration: 500ms;

  // MENU ON
  .mob-menu-active {
    .hamburger {
      transform: translateX(-325px) translateY(0) rotateZ(0);
      transition: transform 450ms cubic-bezier(0.42, 0.95, 0.58, 0.96) 50ms;
    }

    nav {
     visibility: visible;
     width: 400px;
     transform: translateX(0) translateY(0) rotateZ(0);
     transition: visibility 0ms linear 0ms, transform 500ms cubic-bezier(0.42, 0.95, 0.58, 0.96) 0s;
    }
  }

  // MENU OFF
  button.hamburger {
    top: .5em;
    right: .5em;
    position: fixed;
    transform: translateX(0) translateY(0) rotateZ(0);
    transition: transform 501ms cubic-bezier(0.42, 0.95, 0.58, 0.96) 0ms;
  }

  nav {
    top: 0;
    width: 70%;
    right: 0;
    position: fixed;
    visibility: hidden;
    transform: translateX(100%) translateY(0) rotateZ(0);
    transition: visibility 0s linear 501ms, transform 500ms cubic-bezier(0.42, 0.95, 0.58, 0.96) 0s;
  }

  /**************************
  *  MOBILE MENU OVERLAY   *
   **************************/
  footer {
    &::before {
      background: rgba(41, 38, 39, 0.73);
      content: "";
      bottom: 0;
      display: block;
      height: 0;
      left: 0;
      opacity: 0;
      position: fixed;
      transition: height 0s ease, opacity 0.5s ease;
      width: 100%;
      z-index: 3;
    }
  }

  // MOBILE OVERLAY ACTIVE
  .mob-menu-active {
    footer {
      &::before {
        height: 100%;
        opacity: 1;
        bottom: 0;
      }
    }
  }

  // COLLAPSIBLE TOGGLE TARGET
  .mob-collapsible {
    .sm-section-title::before{
      content: "";
      width: 0.8em;
      height: 0.8em;
      display: inline-block;
      position: relative;
      margin-right: 0;
      margin-right: 0.5em;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
    }

    .sm-section-title::after{
      content: "";
      width: 100%;
      height: 1px;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left:0;
      background: lighten( $accent_yellow, 10%);
      width: 100%;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 300ms ease-in-out;
    }

    &.active .sm-section-title::after{ transform: scaleX(1); }
    &.active .sm-section-title::before{ transform: rotate(180deg); }
  }

  $acc_trans_trans: transform 300ms linear 0ms;
  $acc_trans_ht: height 300ms linear 0ms;
  $accordion_transition: $acc_trans_trans, $acc_trans_ht;

  /* COLLAPSIBLE MENU LIST */
  nav {
    .submenu {
      .mob-collapsible {

        .sm-list-group {
          top: -100%;
          height: 0;
          @include transition($accordion_transition);
          transform: scaleY(0), translateY(-100%);
          transform-origin: top;

          .sm-list-item {
            @include transition($accordion_transition);
            transform-origin: top;

            a {
              height: 0;
              @include transition($accordion_transition);
              transform-origin: top;
            }
          }
        }

        &.active {
          .sm-list-group {
            top: 0;
            height: 100% ;
            @include transition($accordion_transition);
             transform: scaleY(1),  translateY( 0 );
            .sm-list-item {
              @include transition($accordion_transition);
              a {
                height: 100%;
                @include transition($accordion_transition);
              }
            }
          }
        }
      }
    }
  }

  /********************
  *  MOBILE NAV MENU *
  ********************/
  nav {
    flex-direction: column;
    box-shadow: inset 0px 1px 19px 0px rgba(25, 6, 6, 0.73);

    // NAV MENU ITEM -- MOBILE STYLE
    .nav-menu {
      flex-direction: column;

      .nav-item {
        border-bottom: 1px solid $mob_nav_border_color;
        color: $white;
        text-align: left;
        z-index: 1;

        > a span {
            padding-left: 1em;
            display: block;
            text-align: left;

            &.caret,
            &.opener { display: none; }
        }

        > a:hover,
          .mob-collapsible .sm-section-title:hover {
          color: $red_nav--hover-color;
          background: $red_nav--hover-bg;
          box-shadow: inset 8px 0px 10px 0px rgba(105, 25, 29, 0.73);
        }

        .nav-panel--dropdown {
          border-top: 1px solid $mob_nav_border_color;
          cursor: default;
          transform: initial;
          z-index: 1;
        }
      }
    }

  .mob-menu-active & {
      position: fixed;
      display: flex;
      left: initial;
      height: 100%;
      z-index: 1000;

      .nav-menu {
        overflow-y: scroll;
        position: relative;
        align-items: stretch;
        align-content: stretch;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  /* COLLAPSIBLE MENU LIST */
  nav {
    .submenu {
      display: block;
      background: none;
      padding: 0;
      margin: 0;
      z-index: 2;

      .submenu-section {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 2;

        &.mob-collapsible { overflow: hidden; }

        .sm-section-title {
          border-bottom: 0;
          border: 0;
          color: $white;
          font-size: 1em;
          font-weight: normal;
          margin: 0 auto;
          padding: 1em 0 1em 1.5em;
          position: relative;
          text-decoration: none;
        }

        .sm-list-group {
          padding: 0;
          position: relative;
          width: 100%;
          overflow: hidden;

          .sm-list-item {
            padding: 0 0 0 1em;
            margin: 0;
            font-size: 0.9em;
            color: lighten( $accent_yellow, 10%);

            &:hover {box-shadow: inset 4px 0 10px rgba(15, 7, 7, 0.4);}
            &:first-of-type { margin-top: 0; }
          }

          .sm-list-item-title  {
            color: lighten( $accent_orange, 10%);
            font-size: 1em;
            margin: 0 auto;
            text-decoration: none;
            border-bottom: 0;
            padding: 0.5em 0 0.5em 0.5em;

            &::before {
              content: "";
              margin-right: 0;
              position: relative;
              display: inline-block;
              width: 0.6em;
              margin-right: 0.5em;
              height: 1px;
              background: rgb(237, 199, 85);
              vertical-align: middle;
            }
          }

          .sm-list-item-description { display: none; }
        }
      }
    }
  }

  // MOBILE SCROLL BAR
  nav {
    ::-webkit-scrollbar-thumb {
      background: $white_30;
      border-radius: 0;
    }

    ::-webkit-scrollbar {
      background: $white_15;
      max-height: 6px;
      max-width: 6px;
      border-radius: 0;
    }
  }

  @media (max-width: 400px) {
    .mob-menu-active {
      .hamburger {
        transform: translateX(0) translateY(0) rotateZ(0);
      }

      nav {
        max-width: 100%;
        width: 100%;
        transform: translateX(0) translateY(0) rotateZ(0);
      }
    }
  }

  // GET ADVICE CALLOUT BUTTON
  @include max_width ($nav_break_md) {
  nav {
    .nav-menu {
      .nav-item {
        order: 2;

        &.btn {
          order: 1;
          box-shadow: inset 4px 0 10px rgba(15, 7, 7, 0.4);

          &:hover {
            color: $white_05;
            background: lighten( $accent_orange, 10% );
            outline: 0;
            a {
              color: $white_05;
              background: lighten( $accent_orange, 10% );
            }
          }
          span { text-align: center; }
          }
        }
      }
    }
  }
}
