/*---
title:   Header Nav
section: components
---

```example:html
<header>
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active nav-item"><a href="#sites" aria-controls="sites" role="tab" data-toggle="tab">Sites</a></li>
      <li role="presentation" class="nav-item"><a href="#databases" aria-controls="databases" role="tab" data-toggle="tab">Databases</a></li>
      <li role="presentation" class="nav-item"><a href="#queue" aria-controls="queue" role="tab" data-toggle="tab">Queue</a></li>
      <li role="presentation" class="nav-item"><a href="#console" aria-controls="console" role="tab" data-toggle="tab">Console</a></li>
      <li role="presentation" class="nav-item"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab">Tools</a></li>
  </ul>
</header> 
```

*/


header {

  .nav {
      flex: 0 1 auto;
      display: flex;
      padding: 0.5em 0.5em;

    .nav-item {
      flex: 0 1 auto;
      display: inline-block;
      padding: .2em .5em;
      color: #ffffff;
      border-radius: 4px;
      transition: background, color  150ms ease-in-out 0ms;
      text-transform: uppercase;

      &:hover {
        color: $theme_primary;
        background: rgba(255,255,255,0.2);
      }
    }
  }
}
