/// <section class="styleguide_section">
///   <div class="color_swatch_group">
///   <div class="swatch color_dark_blue">
///     <span class="swatch__name">theme_dark_blue</span>
///     <span class="swatch__color" data-color="#######"></span>
///     <span class="swatch__bg_color" data-color="#######"></span>
///   </div>
/// </div>
/// </section>
////**
///*
///<div class="color_swatch_group">
///    ...
///    <div class="color_swatch">
///      <span class="color_swatch__name">THE COLOR CLASSNAME</span>
///      <div class="color_swatch__color color--class"></div>
///      <span class="color_swatch__description">#HEX CODE OR RGBA VALUE </span>
///    </div>
///    ....
///</div>
///*
///*/

// @import 'colors';

// FUNCTIONS
@import 'functions';
// DEFINITIONS
@import 'var_schemes';
@import 'var_greyscale';
@import 'var_material';



.color_swatch_group {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .swatch {
    width: 100%;
    display: flex;
    margin: 0 .1em;
    padding: .1em;
    position: relative;
    text-align: center;
    height: auto;
    font-weight: 400;
    font-size: .9em;
    align-items: center;

    &__name {
      flex: 0 1 15%;
      font-size: .9em;
      margin: 0;
      color: #000;
      white-space: nowrap;
      text-align: left;
    }

    &__color {
      flex: 0 1 20%;
      color: inherit;
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: .8em;
      display: flex;
      justify-content: space-around;
      border: 0;
    }

    &__color::before,
    &__color::after {
      content: attr(data-color);
      display: inline-block;
      flex: 1;
    }

    &__color::before {
      color: inherit;
      background-color: #222222;
    }
    &__color::after {
      color: inherit;
      background-color: #ffffff;
    }

    &__bg_color {
      flex: 1 1 auto;
      background-color: currentColor;
      margin: 1px 0;
    }

    &__bg_color::before {
      content: attr(data-color);
      color:inherit;
      border: 1px solid transparent;
      display: block;
    }
    &__description {}
  }
}



$base_colors: _get($color_schemes, 'base');
/*
<div class="color_swatch_group">
<h2>Base Colors</h2>
 */
@each $color, $color_value in $base_colors {
  /*   <div class="swatch cl_#{$color}"><span class="swatch__name">#{$color}</span><span class="swatch__color" data-color="#{$color_value}"></span><span class="swatch__bg_color" data-color="#{$color_value}"></span></div> */
}
/*
</div>
 */

$greyscale_colors: _get($color_schemes, 'greyscale');
/*
<div class="color_swatch_group">
<h2>Greyscale Colors</h2>
 */
@each $color, $color_value in $greyscale_colors {
  /*   <div class="swatch cl_#{$color}"><span class="swatch__name">#{$color}</span><span class="swatch__color" data-color="#{$color_value}"></span><span class="swatch__bg_color" data-color="#{$color_value}"></span></div> */
}
/*
</div>
 */

$charrismatic: _get($color_schemes, 'mattharris');
/*
<div class="color_swatch_group">
<h2>Theme Colors</h2>
 */
@each $color, $color_value in $charrismatic {
  /*   <div class="swatch cl_#{$color}"><span class="swatch__name">#{$color}</span><span class="swatch__color" data-color="#{$color_value}"></span><span class="swatch__bg_color" data-color="#{$color_value}"></span></div> */
}
/* </div> */

$message_colors: _get($color_schemes, 'messages');
/*
<div class="color_swatch_group">
<h2>Message Colors</h2>
*/
@each $color, $color_value in $message_colors {
  /*   <div class="swatch cl_#{$color}"><span class="swatch__name">#{$color}</span><span class="swatch__color" data-color="#{$color_value}"></span><span class="swatch__bg_color" data-color="#{$color_value}"></span></div> */
}
/*
</div>
 */

$company_colors: _get($color_schemes, 'company-colors');
/*
<div class="color_swatch_group">
<h2>Corporate Colors</h2>
*/
@each $color, $color_value in $company_colors {
  /*   <div class="swatch cl_#{$color}"><span class="swatch__name">#{$color}</span><span class="swatch__color" data-color="#{$color_value}"></span><span class="swatch__bg_color" data-color="#{$color_value}"></span></div> */
}
/*
</div>
*/

/*
<section class="">
<h2>Material Colors</h2>
 */
@each $color_name, $color in $material_colors {
  /*
  <div class="color_swatch_group">
  <h2>Material #{$color_name}</h2>
  */
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      /*   <div class="swatch cl_#{$color_name}"><span class="swatch__name">#{$color_name}</span><span class="swatch__color" data-color="#{$color_value}"></span><span class="swatch__bg_color" data-color="#{$color_value}"></span></div> */
    }
    @else if $color_name != "shades" {
      /*   <div class="swatch cl_#{$color_name}-#{$color_type}"><span class="swatch__name">#{$color_name}-#{$color_type}</span><span class="swatch__color" data-color="#{$color_value}"></span><span class="swatch__bg_color" data-color="#{$color_value}"></span></div> */
    }
  }
  /*
  </div>
   */
}

/*
<div class="color_swatch_group">
<h2>Material Shades</h2>
*/
@each $color, $color_value in $material_shades {
    /*   <div class="swatch cl_#{$color}"><span class="swatch__name">#{$color}</span><span class="swatch__color" data-color="#{$color_value}"></span><span class="swatch__bg_color" data-color="#{$color_value}"></span></div> */
}
/*
</div>
</section>
 */
