
// @import "theme_color_variables";

.bg {
  &_light                { background-color: $theme_light !important; }
  &_neutral              { background-color: $theme_base !important; }
  &_dark                 { background-color: $theme_dark !important; }
  &_accent-dark          { background-color: $theme_dark_red; }
  &_accent-light         { background-color: $theme_light_red; }
  &_theme_dark           { background-color: $theme_dark; }
  &_theme_dark_red       { background-color: $theme_dark_red; }
  &_theme_light          { background-color: $theme_light; }
  &_theme_light_red      { background-color: $theme_light_red; }
  &_theme_blue_dark      { background-color: $theme_blue_dark; }
  &_theme_blue_light     { background-color: $theme_blue_light; }
  &_theme_font_color     { background-color: $theme_font_color; }
  &_theme_green          { background-color: $theme_green; }
  &_theme_primary        { background-color: $theme_primary; }
  &_font_color_base      { background-color: $font_color_base }
  &_blue_grey            { background-color: $blue_grey;  }
  &_bright_blue          { background-color: $bright_blue;  }
  &_dark_blue            { background-color: $dark_blue;  }
  &_light_blue           { background-color: $light_blue;  }
  &_light_green          { background-color: $light_green;  }
  &_theme_base           { background-color: $theme_base;  }
  &_primary              { background-color: $theme_primary;  }
  &_info                 { background-color: $theme_info;  }
  &_success              { background-color: $theme_success;  }
  &_warning              { background-color: $theme_warning;  }
  &_danger               { background-color: $theme_danger;  }
}

// THEME SPECIFIC COLOR CLASSES
.color {
  &_light                { color: $theme_light !important; }
  &_neutral              { color: $theme_base !important; }
  &_dark                 { color: $theme_dark !important; }
  &_accent-dark          { color: $theme_dark_red; }
  &_accent-light         { color: $theme_light_red; }
  &_theme_dark           { color: $theme_dark; }
  &_theme_dark_red       { color: $theme_dark_red; }
  &_theme_light          { color: $theme_light; }
  &_theme_light_red      { color: $theme_light_red; }
  &_theme_blue_dark      { color: $theme_blue_dark; }
  &_theme_blue_light     { color: $theme_blue_light; }
  &_theme_font_color     { color: $theme_font_color; }
  &_theme_green          { color: $theme_green; }
  &_theme_primary        { color: $theme_primary; }
  &_font_color_base      { color: $font_color_base }
  &_blue_grey            { color: $blue_grey;  }
  &_bright_blue          { color: $bright_blue;  }
  &_dark_blue            { color: $dark_blue;  }
  &_light_blue           { color: $light_blue;  }
  &_light_green          { color: $light_green;  }
  &_theme_base           { color: $theme_base;  }
  &_primary              { color: $theme_primary;  }
  &_info                 { color: $theme_info;  }
  &_success              { color: $theme_success;  }
  &_warning              { color: $theme_warning;  }
  &_danger               { color: $theme_danger;  }
}




// MA.TTHARR.IS THEME
.color {
  &_blue_bright_highlight         { color: $blue_bright_highlight;        }  // #1d88c7;
  &_blue_dark_bg                  { color: $blue_dark_bg;                 }  // #1b242e;
  &_blue_darker_bg                { color: $blue_darker_bg;               }  // #161b21;
  &_blue_grey_darker              { color: $blue_grey_darker;             }  // #13171b;
  &_blue_grey_light_bg            { color: $blue_grey_light_bg;           }  // #2a4b6d;
  &_blue_grey_light               { color: $blue_grey_light;              }  // #717d8a;
  &_blue_grey_lightest            { color: $blue_grey_lightest;           }  // #c4cdd6;
  &_blue_lighter_pale_text        { color: $blue_lighter_pale_text;       }  // #446d84;
  &_blue_lighter_text             { color: $blue_lighter_text;            }  // #446d84;
  &_bright_blue_sky               { color: $bright_blue_sky;              }  // #33a8cf;
  &_dark_grey_blue                { color: $dark_grey_blue;               }  // #1d252d;
  &_dark_teal                     { color: $dark_teal;                    }  // #046c69;
  &_deep_grey_blue                { color: $deep_grey_blue;               }  // #1b2024;
  &_deep_grey_header_bg           { color: $deep_grey_header_bg;          }  // #1b2024;
  &_elephant_grey                 { color: $elephant_grey;                }  // #38516a;
  &_grey_blue                     { color: $grey_blue;                    }  // #27323d;
  &_medium_elephant_grey          { color: $medium_elephant_grey;         }  // #38414a;
  &_menu_top_text_color           { color: $menu_top_text_color;          }  // #ffffff;
  &_postbox_header_text           { color: $postbox_header_text;          }  // #0073aa;
  &_primary_title                 { color: $primary_title;                }  // #095698;
  &_theme_dark_body_bg            { color: $theme_dark_body_bg;           }  // #25292c;
  &_theme_dark_body_light_text    { color: $theme_dark_body_light_text;   }  // #72777c;
}




// MA.TTHARR.IS THEME
.bg {
  &_blue_bright_highlight         { background-color: $blue_bright_highlight;      }  // #1d88c7;
  &_blue_dark_bg                  { background-color: $blue_dark_bg;               }  // #1b242e;
  &_blue_darker_bg                { background-color: $blue_darker_bg;             }  // #161b21;
  &_blue_grey_darker              { background-color: $blue_grey_darker;           }  // #13171b;
  &_blue_grey_light_bg            { background-color: $blue_grey_light_bg;         }  // #2a4b6d;
  &_blue_grey_light               { background-color: $blue_grey_light;            }  // #717d8a;
  &_blue_grey_lightest            { background-color: $blue_grey_lightest;         }  // #c4cdd6;
  &_blue_lighter_pale_text        { background-color: $blue_lighter_pale_text;     }  // #446d84;
  &_blue_lighter_text             { background-color: $blue_lighter_text;          }  // #446d84;
  &_bright_blue_sky               { background-color: $bright_blue_sky;            }  // #33a8cf;
  &_dark_grey_blue                { background-color: $dark_grey_blue;             }  // #1d252d;
  &_dark_teal                     { background-color: $dark_teal;                  }  // #046c69;
  &_deep_grey_blue                { background-color: $deep_grey_blue;             }  // #1b2024;
  &_deep_grey_header_bg           { background-color: $deep_grey_header_bg;        }  // #1b2024;
  &_elephant_grey                 { background-color: $elephant_grey;              }  // #38516a;
  &_grey_blue                     { background-color: $grey_blue;                  }  // #27323d;
  &_medium_elephant_grey          { background-color: $medium_elephant_grey;       }  // #38414a;
  &_menu_top_text_color           { background-color: $menu_top_text_color;        }  // #ffffff;
  &_postbox_header_text           { background-color: $postbox_header_text;        }  // #0073aa;
  &_primary_title                 { background-color: $primary_title;              }  // #095698;
  &_theme_dark_body_bg            { background-color: $theme_dark_body_bg;         }  // #25292c;
  &_theme_dark_body_light_text    { background-color: $theme_dark_body_light_text; }  // #72777c;
}
