// ---
// Clrs.cc Color Library
// http://clrs.cc/

$clrs_navy    : #001F3F;
$clrs_blue    : #0074D9;
$clrs_aqua    : #7FDBFF;
$clrs_teal    : #39CCCC;
$clrs_olive   : #3D9970;
$clrs_green   : #2ECC40;
$clrs_lime    : #01FF70;
$clrs_yellow  : #FFDC00;
$clrs_orange  : #FF851B;
$clrs_red     : #FF4136;
$clrs_fuchsia : #F012BE;
$clrs_purple  : #B10DC9;
$clrs_maroon  : #85144B;
$clrs_white   : #FFFFFF;
$clrs_silver  : #DDDDDD;
$clrs_gray    : #AAAAAA;
$clrs_black   : #111111;

// Better default colors by clrs.cc
// source: http://clrs.cc/
$color_navy    : #001f3f;
$color_blue    : #0074d9;
$color_aqua    : #7fdbff;
$color_teal    : #39cccc;
$color_olive   : #3d9970;
$color_green   : #2ecc40;
$color_lime    : #01ff70;
$color_yellow  : #ffdc00;
$color_orange  : #ff851b;
$color_red     : #ff4136;
$color_fuchsia : #f012be;
$color_purple  : #b10dc9;
$color_maroon  : #85144b;


// COLOR DEFINITIONS
$lt-gray      :  #f1f1f1; // #f1f1f1
$gray         :  #5f5f5f; // #5f5f5f
$charcoal     :  #3d3d3d; // #3d3d3d
$blue         :  #0575af; // #0575af
$dark_blue    :  rgb(24, 97, 146);
$green        :  rgb(84, 150, 36);
$bright_blue  :  rgb(0, 151, 212);
$light_green  :  rgb(125, 182, 88);
$light_blue   :  rgb(213, 236, 246);
$blue_grey    :  rgb(237, 243, 247);



// FORMS
$form_good  :  rgb(19,198,7);

// MESSAGES
$form_good  :  #13c607;  // #13c607
$error      :  #ff7e7e;  // #ff7e7e
$warning    :  #ff7e7e;  // #ff7e7e
$notice     :  #ff7e7e;  // #ff7e7e
$success    :  #68d388;  // #68d388
