// FUNCTIONS
@import 'functions';
// DEFINITIONS
@import 'var_greyscale';
@import 'var_basic';
@import 'var_material';
@import 'var_schemes';
@import 'var_translucent';
// CLASSES
@import 'theme_classes';
@import 'material_classes';
@import 'color_classes';




$theme_dark:           rgb(0,111,225);
$theme_base:           rgb(0,148,225);
$theme_light:          rgb(0,196,225);


$body_bg:              $grey_05;
$scroll_accent:        $grey_80;
$scroll_bg:            $grey_20;
$body_bg:              $grey_05;
$scroll_accent:        $grey_80;
$scroll_bg:            $grey_20;
$anchor_link:          $grey_90;
$link_color:           $grey_90;

// Typography
$text-color:           #636b6f;
// Navbar
$navbar-default-bg:    #f5f8fa;
// $theme_blue_dark:      $dark_blue;
// $theme_blue_light:     $bright_blue;
// $theme_green:          $green;
// $theme_primary:        $dark_blue;
$menu_top_text_color:    #ffffff;
$postbox_header_text:    #0073aa;
$primary_title:          #095698;

// Buttons

// Inputs
// $input-border:            lighten($text-color, 40%);
// $input-border-focus:      lighten($theme-primary, 25%);
// $input-color-placeholder: lighten($text-color, 30%);

$font_color_base:       $grey_90;
$theme_font_color:      $font_color_base;

// Panels
$panel-default-heading-bg: #fff;


$mob_nav_border_color:  darken(red, 8%);

$theme_dark_body_bg:     #25292c;
$theme_dark_body_light_text: #72777c;

$btn-default-color:      $text-color;
$component-active-bg:    $color_olive;
// $input-btn-focus-color:  lighten($text-color, 30%);
$top_navigation: $grey_80;
$top_navigation_txt: $white;
$top_navigation_submenu: lighten($grey_80, 10%);
$top_navigation_submenu_txt: $grey_05;
//
// &_theme_dark_body_bg            { color: _get($charrismatic,'theme_dark_body_bg');           }  // #25292c;
// &_theme_dark_body_light_text    { color: _get($charrismatic,'theme_dark_body_light_text'); }  // #72777c;
// &_theme_dark_body_bg            { background-color: _get( $charrismatic, 'theme_dark_body_bg');         }  // #25292c;
// &_theme_dark_body_light_text    { background-color: _get( $charrismatic, 'theme_dark_body_light_text'); }  // #72777c;



// &_scroll_accent  { color: $scroll_accent; }
// &_scroll_bg      { color: $scroll_bg; }
// &_scroll_accent          { background-color: $scroll_accent; }
// &_scroll_bg              { background-color: $scroll_bg; }

// VALIDATION
//   &_mob_nav_border_color   { background-color: $mob_nav_border_color; }

// MESSAGES
$message-primary: #3097D1;
$message-info:    #8eb4cb;
$message-success: #2ab27b;
$message-warning: #cbb956;
$message-danger:  #bf5329;


$theme_danger: $message-danger;
$theme_error: $message-info;
$theme_info: $message-primary;
$theme_primary: $message-primary;
$theme_success: $message-success;
$theme_warning: $message-warning;

.cl {
  &_danger     { color: $theme_danger;  }
  &_error      { color: $theme_error; }
  &_form_good  { color: $form_good; }
  &_info       { color: $theme_info;  }
  &_notice     { color: $theme_warning; }
  &_primary    { color: $theme_primary;  }
  &_success    { color: $theme_success;  }
  &_warning    { color: $theme_warning;  }
}

.bg {
  &_danger     { background-color: $theme_danger;  }
  &_error      { background-color: $theme_error; }
  &_form_good  { background-color: $form_good; }
  &_info       { background-color: $theme_info;  }
  &_notice     { background-color: $theme_warning; }
  &_primary    { background-color: $theme_primary;  }
  &_success    { background-color: $theme_success;  }
  &_warning    { background-color: $theme_warning; }
}
