/*---
title: box
name: components_box
section: components
---

Basic Wrapped Box

```example:html
<div class="box__outer">
 <div class="box__inner">
   <span class="box__title">CONTENT</span>
 </div>
</div>
```

```example:html
<section class="flex-row">
<div class="box__outer">
 <div class="box__inner">
   <span class="box__title">CONTENT</span>
 </div>
</div>
<div class="box__outer">
 <div class="box__inner">
   <span class="box__title">CONTENT</span>
 </div>
</div>
<div class="box__outer">
 <div class="box__inner">
   <span class="box__title">CONTENT</span>
 </div>
</div>
</section>
```

*/


.box {
  position: relative;

  &__outer {
    padding: 1em;
    margin: 0 auto;
    border: 1px solid $grey_20;

    .box__inner {
      position: relative;
      max-width: 90%;
      padding: 1em;
      margin: auto;
      border: 1px solid $grey_10;
    }

    .box__title {
      text-align: center;
      display: block;
      color: inherit;
    }
  }
}

.theme_box {
  .box__outer {
    border: none;
  }

  .box__inner {
    border: none;
    background: #232322;
    color: white;
  }
}
