/*---
title: box
name: components_box
section: components 
---

DEMO BOX

```example:html  
<div class="box--outer">
 <div class="box--inner">
   CONTENT
 </div>
</div>
```
*/

 
.box {
  &--outer {
    width: 200px;
    height: 200px;
    border: 1px solid red; 
    margin: 0 auto;
    position: relative;
 
    .box--inner {
      position: relative;
      width: 80%;
      padding: 1em;
      margin: auto;
    }
  }
}
