/* main: industrial-main.scss */

$media_table_tablet: 600px;

.table-group {
  margin-top: 20px;
  h1,h2,h3,h4 {
    margin: 0;
  }
}

.tablepress-table-description{
  display: block;
  margin: 0;

  h3, h4{ font-weight: bold; margin: 0; }
  p{ padding: 20px 0; margin: 0; }

  .header-block{
    background: $white-10;
    padding: 20px;
  }
}

.tablepress-table-description.blockstyle{
  background: $white-10 ;
  cursor: pointer;
  h3, h4{ padding: 20px; }
  
  @include max_width( 500px ){
    font-size: 13px;
  }
}

.table-wrapper {
  border: 1px solid $white-10;
  margin-bottom: 10px;
  position: relative;
  overflow: auto;
  
  table.tablepress{
    margin: 30px 50px;
    width: calc(100% - 100px);
    max-width: 99.99%;
    @include max_width($media_table_tablet){
        margin: 0;
        width: 100%;
    }

    th,td {
      padding: 8px;
      border: none;
    }
  }
}

table.tablepress{
  border: none;
  width: 100%;
  font-size: 15px;
  line-height: 2em;
  position: relative;
  border-collapse: collapse;
  @include max_width( 500px ){ overflow-x: auto; }
  @include max_width( 400px ){ font-size: 13px; }

  // LOCATION SPECIFIC TABLE ELEMENTS
  thead {
    th {
      color: $black-30;
      font-weight: bold;
      vertical-align: middle;
      position: relative;
    }
  }
  
  tbody{
    border-bottom: 1px solid $white-15;
    tr.odd  { background-color: $white-05; }
    tr.even { border-top: 1px solid $white-10; }
    
    tr {
      border-top  : 1px solid $white-15;
      border-right: 1px solid $white-15;
      border-left : 1px solid $white-15;
      td { vertical-align: top }
    }
  }
  
  tfoot {
    th { border-top: 1px solid $white-20; }
  }

  // GENERAL TABLE ELEMENTS
  td{
    padding: 10px;
    color: $black-30;
  }
  
  a{
    color: $anchor-link;
    font-weight: bold;
  }
  
  img{
    margin: 0;
    padding: 0;
    border: none;
    max-width: none;
  }
  
  tbody.row-hover {
    tr:hover td { background-color: $white-05; }
  }
  
  th.sorthing,
  th.sorting_asc,
  th.sorting_desc{
    cursor: pointer;
    text-decoration: underline;
  }
  
  th.sorting:after,
  th.sorting_asc:after,
  th.sorting_desc:after{
    position: relative;
    font-family: sans-serif;
    right: 0;
    margin-left: 10px;
  }
  
  th.sorting:after { content: "\25B4\25BE"; }
  th.sorting_asc:after { content: "\25B4"; }
  th.sorting_desc:after { content: "\25BE"; }
  
  td .subheading{
    text-align: left;
    font-weight: bold;
    padding: 5px;
    text-decoration: underline;
  }
}

// TABLE FORMATTING HELPER CLASSES
table.tablepress.no-borders{
  tbody, tr, th, td { border: 0; }
}

table.tablepress.borders-all{
  border: 0;
  tr { border: 0; }
  td { border: 1px solid $white-30; }
}

table.tablepress.text-center { text-align: center; }
table.tablepress.collapsible{ display: none; }
table.tablepress.collapsible.active{ display: table; }

.dataTables_filter {
  label{
    position: absolute;
    padding: 10px;
    z-index: 1;
    @include max_width($media_table_tablet){
      display: none;
    }

    input{ margin-left: 10px;}
  }
  
  th{
    font-weight: bold;
  }
}
