a, ul, li, p, h1, h2, h3, h4, h5, h6 { color: #666666; }
i.fa { color: #555; background: #ffffff; }
nav { color: #ffffff; background: #333333; background: rgba(0, 0, 0, 0.8); }
nav i.fa { color: #333333; background: #ffffff; }
nav i.fa:hover { color: #ffffff; background: #fd7b40; }
footer i.fa { color: #ffffff; background: #fa4c06; }
footer i.fa:hover { color: #fd7b40; background: #ffebe3; }
::-moz-selection { color: #ffffff; background: #fd7b40; }
::selection { color: #ffffff; background: #fd7b40; }
/* SCROLLBAR */
::-webkit-resizer { background: #868686; }
::-webkit-scrollbar { background: #5e5e5e; max-width: 10px; max-height: 10px; }
::-webkit-scrollbar-button { background: none; border-radius: 6px; width: 4px; height: 4px; }
::-webkit-scrollbar-corner { background: #707070; }
::-webkit-scrollbar-thumb { background: #fd7b40; border-radius: 8px; }
/* PAGE LOADER */
.ready-loader { margin: 0; opacity: 1; position: fixed; overflow: hidden; text-align: left; vertical-align: top; left: 0; top: 0; width: 100%; height: 100%; background: white; z-index: 9999; display: -webkit-box; display: -ms-flexbox; display: flex; /* transition: .5s; */ }
.ready-loader.complete { -webkit-animation: loadReady; animation: loadReady; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }
.ready-loader img { display: block; margin: auto; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; -ms-flex-line-pack: center; align-content: center; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }
@-webkit-keyframes loadReady { 0% { opacity: 1; }
  70% { opacity: 0; }
  99% { opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    z-index: 999; }
  100% { opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    z-index: -1; } }
@keyframes loadReady { 0% { opacity: 1; }
  70% { opacity: 0; }
  99% { opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    z-index: 999; }
  100% { opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    z-index: -1; } }
html, body, .wrapper { overflow: auto; padding: 0; margin: 0; }
a, ul, li, p { margin: 0; padding: 0; text-decoration: none; display: inherit; }
.header-base, .industrial h2, .industrial h3, .industrial h4, .industrial h5, .industrial h6 { color: #333333; font-family: "tablet-gothic-condensed", sans-serif; font-size: 2em; font-weight: normal; display: block; margin: 0; line-height: 100%; padding: 25px 0 15px; }
body { color: #807f7f; font-family: "proxima-nova", sans-serif; font-size: 16px; font-weight: normal; min-width: 340px; }
@media (max-width: 500px) { body { font-size: 13px; } }
img { max-width: 100%; }
.industrial { /* main: industrial-main.scss */ /* .fa-facebook-f:before, .fa-facebook :before { content: "\f09a"; } .fa-linkedin :before { content: "\f0e1"; } .fa-youtube :before  { content: "\f167"; } .fa-circle :before   { content: "\f111"; } */ /* Hamburger Menu Button @description Tasty CSS-animated hamburgers @author Jonathan Suh @jonsuh @site https://jonsuh.com/hamburgers @link https://github.com/jonsuh/hamburgers */ /* NAVIGATION MENU LIST */ /* NAV MENU - SCROLLING */ /* main: industrial-main.scss */ /* INDUSTRIAL LANDING PAGE */ }
.industrial p { color: #807f7f; font-family: "proxima-nova", sans-serif; font-size: 1em; font-weight: normal; margin: 10px 0; }
.industrial h1 { color: #4d4c4c; font-family: "tablet-gothic-condensed", sans-serif; font-size: 2.5em; font-weight: bold; display: block; margin: 0; }
.industrial h3 { font-size: 1.8em; }
.industrial h4 { font-size: 1.5em; }
.industrial h5 { font-size: 1em; }
.industrial h6 { font-size: 0.8em; }
.industrial .banner { width: 100%; height: 56vw; min-height: 400px; max-height: 680px; background-position: center center; background-size: cover; position: relative; overflow: hidden; }
.industrial .banner.video { min-height: 400px; max-height: 800px; max-height: 85vh; background-position: center center; background-size: cover; position: relative; overflow: hidden; }
.industrial .banner.video video { position: absolute; min-width: 100%; min-height: 100%; width: 100%; height: 100%; z-index: -100; background: url(/assets/img/industrial-banner-workshop.jpg) no-repeat; background-size: cover; -o-object-fit: cover; object-fit: cover; }
.industrial .banner::before { content: ""; width: 100%; height: 100%; position: absolute; background: rgba(169, 169, 169, 0.3); top: 0; left: 0; }
.industrial .banner.video::before { background: rgba(190, 190, 190, 0.3); transition: 0.4s; }
.industrial .content-main .content-inner { position: relative; max-width: 1200px; padding: 40px; margin: auto; text-align: left; }
@media (max-width: 500px) { .industrial .content-main .content-inner { padding: 20px; } }
.industrial .content-main ul { margin-left: 20px; }
.industrial .content-main ul li { display: list-item; padding: 5px 0; list-style-type: disc; line-height: 1.5em; }
.industrial nav { width: 100%; position: fixed; display: block; top: 0; left: 0; min-height: 100px; z-index: 999; }
@media (max-width: 890px) { .industrial nav { min-height: 80px; } }
@media (max-width: 400px) { .industrial nav { min-height: 70px; } }
.industrial nav .nav-inner { width: 100%; height: auto; position: relative; max-width: 1200px; margin: auto; z-index: 997; top: 0; right: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: justify; align-content: space-between; }
.industrial nav .nav-inner img.logo { display: inline-block; max-height: 70px; margin: 20px; position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }
@media (max-width: 890px) { .industrial nav .nav-inner img.logo { max-height: 60px; margin: 10px; } }
@media (max-width: 400px) { .industrial nav .nav-inner img.logo { max-height: 50px; } }
.industrial nav .nav-inner .contact_info { font-size: 14px; font-weight: normal; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-item-align: center; align-self: center; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -ms-flex-line-pack: distribute; align-content: space-around; }
.industrial nav .nav-inner .contact_info .contact-phone { margin: auto; font-size: 1.4em; -webkit-box-flex: 0; -ms-flex: 0 1 50%; flex: 0 1 50%; text-align: center; }
@media (max-width: 890px) { .industrial nav .nav-inner .contact_info .contact-phone { font-size: 1.2em; } }
@media (max-width: 750px) { .industrial nav .nav-inner .contact_info .contact-phone { display: none; } }
.industrial nav .nav-inner .contact_info .social { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; margin-left: 30px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 700px) { .industrial nav .nav-inner .contact_info .social { margin-left: 0; } }
@media (max-width: 750px) { .industrial nav .nav-inner .contact_info .social { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
@media (max-width: 550px) { .industrial nav .nav-inner .contact_info .social { display: none; } }
.industrial nav .nav-inner .contact_info a.clear_button { display: none; }
.industrial nav .nav-inner button.hamburger { position: relative; display: inline-block; width: 60px; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; color: #fff; margin: 0 30px 0 0; padding: 10px; }
@media (max-width: 400px) { .industrial nav .nav-inner button.hamburger { margin: 0; } }
.industrial footer { width: 100%; display: block; }
.industrial footer .subscribe { background: url("/assets/img/footer-subscribe-bg.jpg"); position: relative; z-index: 1; }
.industrial footer .subscribe::before { content: ''; height: 100%; width: 100%; position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.4); z-index: 1; }
.industrial footer .subscribe-inner { position: relative; z-index: 2; position: relative; z-index: 2; width: 90%; max-width: 1200px; margin: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media (max-width: 550px) { .industrial footer .subscribe-inner { display: block; padding: 30px 0; } }
.industrial footer .subscribe-inner h5 { margin: auto; display: inline-block; text-align: center; padding: 50px; color: white; font-size: 2.1em; position: relative; z-index: 2; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }
@media (max-width: 550px) { .industrial footer .subscribe-inner h5 { display: block; padding: 0; margin: 10px auto; text-shadow: 2px 2px 10px #2a2a2a; } }
.industrial footer .subscribe-inner a.clear_button { color: #333333; background: #FFFFFF; border: 1px solid #FFFFFF; padding: 10px 15px; border-radius: 50px; box-sizing: border-box; display: inline-block; font-weight: 600; font-size: 18px; text-align: center; margin: 0 auto; min-width: 190px; max-width: 400px; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; cursor: pointer; }
@media (max-width: 550px) { .industrial footer .subscribe-inner a.clear_button { display: block; background: #fa4c06; border: 0; color: #fff; } }
.industrial footer .foot-inner { width: 100%; height: auto; position: relative; max-width: 1200px; margin: auto; z-index: 997; top: 0; right: 0; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: justify; align-content: space-between; }
@media (max-width: 550px) { .industrial footer .foot-inner { display: block; padding: 20px 0 10px; } }
.industrial footer .foot-inner img.logo { max-height: 40px; display: inline-block; margin: 20px; position: relative; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; }
@media (max-width: 550px) { .industrial footer .foot-inner img.logo { display: none; } }
.industrial footer .foot-inner .social { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-left: 30px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
@media (max-width: 700px) { .industrial footer .foot-inner .social { margin-left: 0; } }
.industrial footer .foot-inner .copyright { margin: auto; font-size: 1.4em; -webkit-box-flex: 0; -ms-flex: 0 1 50%; flex: 0 1 50%; text-align: center; }
@media (max-width: 700px) { .industrial footer .foot-inner .copyright { font-size: 1em; -webkit-box-flex: 0; -ms-flex: 0 1 35%; flex: 0 1 35%; } }
.industrial nav i.fa, .industrial footer i.fa { cursor: pointer; }
.industrial i.fa { padding: 4px; margin: 0 10px; border-radius: 50%; font-size: 1.5rem; width: 1.5em; height: 1.5em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
@media (max-width: 890px) { .industrial i.fa { width: 1.2em; height: 1.2em; } }
.industrial footer i.fa { font-size: 1.3em; }
.industrial a, .industrial i { transition: all 0.5s ease; }
.industrial .fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-transform: translate(0, 0); transform: translate(0, 0); }
.industrial .hamburger { padding: 15px 15px; cursor: pointer; font: inherit; color: inherit; text-transform: none; border: 0; margin: 0; overflow: visible; background-color: transparent; transition-property: opacity, -webkit-filter; transition-property: opacity, filter; transition-property: opacity, filter, -webkit-filter; transition-duration: 0.15s; transition-timing-function: linear; }
.industrial .hamburger:hover { opacity: 0.7; }
.industrial .hamburger:focus { outline: 0; }
.industrial .hamburger-box { width: 40px; height: 24px; display: inline-block; position: relative; }
.industrial .hamburger-inner { display: block; top: 50%; margin-top: -2px; }
.industrial .hamburger-inner, .industrial .hamburger-inner::before, .industrial .hamburger-inner::after { width: 40px; height: 4px; background-color: #fff; border-radius: 4px; position: absolute; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; transition-duration: 0.15s; transition-timing-function: ease; }
.industrial .hamburger-inner::before, .industrial .hamburger-inner::after { content: ""; display: block; }
.industrial .hamburger-inner::before { top: -10px; }
.industrial .hamburger-inner::after { bottom: -10px; }
.industrial .hamburger--squeeze .hamburger-inner { transition-duration: 0.1s; transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.industrial .hamburger--squeeze .hamburger-inner::before { transition: top 0.1s 0.14s ease, opacity 0.1s ease; }
.industrial .hamburger--squeeze .hamburger-inner::after { transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.industrial .hamburger--squeeze.active .hamburger-inner { -webkit-transform: rotate(45deg); transform: rotate(45deg); transition-delay: 0.14s; transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.industrial .hamburger--squeeze.active .hamburger-inner::before { top: 0; opacity: 0; transition: top 0.1s ease, opacity 0.1s 0.14s ease; }
.industrial .hamburger--squeeze.active .hamburger-inner::after { bottom: 0; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); transition: bottom 0.1s ease, -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }
.industrial nav .navigation { z-index: 2; right: 0; top: 0; float: none; position: absolute; top: 100%; -webkit-transform: translateX(104%) translateY(0%) rotateZ(0deg); transform: translateX(104%) translateY(0%) rotateZ(0deg); -webkit-transform-origin: top; transform-origin: top; box-shadow: 0 0 0 0 rgba(70, 70, 70, 0); transition: 1s cubic-bezier(0.53, 0, 0.26, 1.12); font-size: 0; }
.industrial nav .navigation.active { -webkit-transform: translateX(0) translateY(0) rotateZ(0); transform: translateX(0) translateY(0) rotateZ(0); box-shadow: -1px 4px 10px 0 rgba(16, 16, 16, 0.5); }
.industrial nav .navigation li { position: initial; z-index: 1; display: block; padding: 0; box-shadow: -4px 0 7px 0 rgba(31, 31, 30, 0.22); }
.industrial nav .navigation li a { display: block; padding: 15px 10px 15px 30px; position: relative; min-width: 100%; transition: background-color .4s ease, color .4s ease; letter-spacing: .5px; color: #dcdcdc; border-top: 1px solid #222222; border-bottom: 1px solid #353535; background-color: rgba(28, 28, 28, 0.95); font-family: 'tablet-gothic-condensed'; font-size: 19px; font-weight: normal; text-align: left; }
.industrial nav .navigation li a:hover { position: relative; color: #ff9d43; border-top: 1px solid #ff9d43; border-bottom: 1px solid #ff9d43; background-color: #4a4a4a; }
.industrial nav .navigation li a[title="TruFlexHome"] { text-align: center; font-size: 15px; color: #7b7b7b; padding: 10px 0; text-decoration: underline; }
.industrial nav .navigation li:hover ul.sub-menu:before { content: ""; position: absolute; top: 0; right: -100%; bottom: 0; width: 100%; height: 100%; background: rgba(34, 34, 34, 0.6); }
.industrial nav .navigation li ul.sub-menu { position: absolute; /* display: none; */ z-index: -2; top: 1px; right: 0; left: initial; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; min-height: 100%; transition: 1.2s ease; opacity: 1; border-left: 1px solid #303030; background: #484848; box-shadow: none; }
.industrial nav .navigation li ul.sub-menu:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(34, 34, 34, 0); transition: 1.3s; }
.industrial nav .navigation li ul.sub-menu li { border-bottom: 1px solid #6d544a; }
.industrial nav .navigation li ul.sub-menu li a { display: block; padding: 12px 22px; color: #ff9d43; background-color: #484848; font-family: 'tablet-gothic-condensed'; font-size: 17px; font-weight: bold; }
.industrial nav .navigation li:hover ul.sub-menu { z-index: -1; right: 97%; box-shadow: -3px 1px 7px 0 rgba(35, 35, 35, 0.63); }
.industrial nav .nav-inner.scrolling { padding: 0; }
.industrial nav .nav-inner.scrolling img.logo { max-height: 50px; margin: 15px; }
.industrial nav .nav-inner.scrolling .navigation > li:hover ul.sub-menu { top: 64px; }
.industrial nav .nav-inner.scrolling > ul > li > a, .industrial nav .navigation > li > a { padding: 20px 10px 20px 20px; }
@media (max-width: 1024px) and (min-width: 769px) { .industrial nav .navigation { width: auto; }
  .industrial nav .nav-inner .row { margin: 0; padding: 0; }
  .industrial nav .nav-inner img.logo { max-height: 60px; margin: 10px !important; }
  .industrial nav .nav-inner .contact_info > a, .industrial nav .nav-inner .contact_info > p { color: #d4d4d4 !important; } }
@media (max-width: 1194px) and (min-width: 1024px) { .industrial nav .navigation > li > a { padding: 18px 10px 15px 20px; }
  .industrial nav .nav-inner { padding: 0; } }
@media (max-width: 1230px) { .industrial nav .navigation a { padding: 45px 4px; } }
.industrial .table-group { margin-top: 20px; }
.industrial .table-group h1, .industrial .table-group h2, .industrial .table-group h3, .industrial .table-group h4 { margin: 0; }
.industrial .tablepress-table-description { display: block; margin: 0; }
.industrial .tablepress-table-description h3, .industrial .tablepress-table-description h4 { font-weight: bold; margin: 0; }
.industrial .tablepress-table-description p { padding: 20px 0; margin: 0; }
.industrial .tablepress-table-description .header-block { background: #e6e5e5; padding: 20px; }
.industrial .tablepress-table-description.blockstyle { background: #e6e5e5; cursor: pointer; }
.industrial .tablepress-table-description.blockstyle h3, .industrial .tablepress-table-description.blockstyle h4 { padding: 20px; }
@media (max-width: 500px) { .industrial .tablepress-table-description.blockstyle { font-size: 13px; } }
.industrial .table-wrapper { border: 1px solid #e6e5e5; margin-bottom: 10px; position: relative; overflow: auto; }
.industrial .table-wrapper table.tablepress { margin: 30px 50px; width: calc(100% - 100px); max-width: 99.99%; }
@media (max-width: 600px) { .industrial .table-wrapper table.tablepress { margin: 0; width: 100%; } }
.industrial .table-wrapper table.tablepress th, .industrial .table-wrapper table.tablepress td { padding: 8px; border: none; }
.industrial table.tablepress { border: none; width: 100%; font-size: 15px; line-height: 2em; position: relative; border-collapse: collapse; }
@media (max-width: 500px) { .industrial table.tablepress { overflow-x: auto; } }
@media (max-width: 400px) { .industrial table.tablepress { font-size: 13px; } }
.industrial table.tablepress thead th { color: #4d4c4c; font-weight: bold; vertical-align: middle; position: relative; }
.industrial table.tablepress tbody { border-bottom: 1px solid #d9d9d9; }
.industrial table.tablepress tbody tr.odd { background-color: #f2f2f2; }
.industrial table.tablepress tbody tr.even { border-top: 1px solid #e6e5e5; }
.industrial table.tablepress tbody tr { border-top: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9; border-left: 1px solid #d9d9d9; }
.industrial table.tablepress tbody tr td { vertical-align: top; }
.industrial table.tablepress tfoot th { border-top: 1px solid #cccccc; }
.industrial table.tablepress td { padding: 10px; color: #4d4c4c; }
.industrial table.tablepress a { color: #fa4c06; font-weight: bold; }
.industrial table.tablepress img { margin: 0; padding: 0; border: none; max-width: none; }
.industrial table.tablepress tbody.row-hover tr:hover td { background-color: #f2f2f2; }
.industrial table.tablepress th.sorthing, .industrial table.tablepress th.sorting_asc, .industrial table.tablepress th.sorting_desc { cursor: pointer; text-decoration: underline; }
.industrial table.tablepress th.sorting:after, .industrial table.tablepress th.sorting_asc:after, .industrial table.tablepress th.sorting_desc:after { position: relative; font-family: sans-serif; right: 0; margin-left: 10px; }
.industrial table.tablepress th.sorting:after { content: "\25B4\25BE"; }
.industrial table.tablepress th.sorting_asc:after { content: "\25B4"; }
.industrial table.tablepress th.sorting_desc:after { content: "\25BE"; }
.industrial table.tablepress td .subheading { text-align: left; font-weight: bold; padding: 5px; text-decoration: underline; }
.industrial table.tablepress.no-borders tbody, .industrial table.tablepress.no-borders tr, .industrial table.tablepress.no-borders th, .industrial table.tablepress.no-borders td { border: 0; }
.industrial table.tablepress.borders-all { border: 0; }
.industrial table.tablepress.borders-all tr { border: 0; }
.industrial table.tablepress.borders-all td { border: 1px solid #b3b2b2; }
.industrial table.tablepress.text-center { text-align: center; }
.industrial table.tablepress.collapsible { display: none; }
.industrial table.tablepress.collapsible.active { display: table; }
.industrial .dataTables_filter label { position: absolute; padding: 10px; z-index: 1; }
@media (max-width: 600px) { .industrial .dataTables_filter label { display: none; } }
.industrial .dataTables_filter label input { margin-left: 10px; }
.industrial .dataTables_filter th { font-weight: bold; }
.industrial .archive-featured-img { display: inline-block; width: 20%; margin-right: 40px; }
.industrial .archive-featured-img a { width: 100%; }
.industrial .archive-featured-img a img { width: 100%; max-width: 100%; box-shadow: 3px 3px 9px rgba(10, 10, 10, 0.7); }
.industrial .archive-featured-content { width: 100%; display: inline-block; }
.industrial .archive-featured-content h2 { padding: 0; display: inline-block; margin-bottom: 10px; }
.industrial .archive-featured-content p { text-align: justify; }
.industrial .learn-more { display: inline; text-decoration: underline; font-weight: bold; text-align: right; }
.archive-post-wrapper.list .archive-post-container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.archive-post-wrapper.list .archive-post-container .archive-featured-content { width: 80%; }
.archive-post-wrapper.grid { padding-top: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.archive-post-wrapper.grid .archive-post-container { width: 25%; padding: 4%; }
@media (max-width: 850px) { .archive-post-wrapper.grid .archive-post-container { width: 40%; padding: 5%; } }
@media (max-width: 625px) { .archive-post-wrapper.grid .archive-post-container { width: 100%; padding: 5%; } }
.archive-post-wrapper.grid .archive-post-container .archive-featured-img { width: 100%; }
.archive-post-wrapper.grid .archive-post-container .archive-featured-content { width: 100%; }
.archive-post-wrapper.grid .archive-post-container .archive-featured-content h2 { margin: 20px 0; font-size: 1.5em; }
.img-group-row { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; margin: 20px 0; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }
@media (max-width: 500px) { .img-group-row { display: block; } }
.img-group-row .img-group-1-2 { width: 40%; padding: 5%; }
@media (max-width: 500px) { .img-group-row .img-group-1-2 { width: 100%; padding: 0; display: block; } }
.img-group-row img { width: 100%; }
@media (max-width: 500px) { .img-group-row img { width: 60%; margin: 10% auto; display: block; } }
@media (max-width: 480px) { .img-group-row img { width: 80%; } }
input.clear_button, a.clear_button { padding: 10px 20px; border-radius: 50px; border: 1px solid #fff; box-sizing: border-box; display: inline-block; font-weight: 600; font-size: 18px; }
input.clear_button:hover, a.clear_button:hover { background-color: #fff; color: #404040; border-color: #fff; text-shadow: none; }
a.clear_button.orange { border-color: #fa4c06; color: #fa4c06; display: inline-block; }
a.clear_button.orange:hover { border-color: transparent; color: #fff; background-color: #fa4c06; }
